<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>岗位详情</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>

    <link rel="stylesheet" href="/static/css/css_psw/style_head.css"/>
    <link rel="stylesheet" href="/static/css/css_hlj/detail.css"/>
</head>
<body>

<header class="header-navigation" id="headerBar">
    <div class="nav-content-filter">
        <div class="row_main">
            <!--logo-->
            <div class="main_logo">
                <img class="img-responsive img-rounded nav-img-logo" src="/static/img/img_psw/logo2.png"/>
            </div>
            <!--超链接-->
            <div class="nav-main-right">
                <nav class="cd-nav">
                    <ul>
                        <li><a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                        <li><a href="/project/xwh">项目大厅</a></li>
                        <li><a href="/stuhall/hall">服务大厅</a></li>
                        <li><a href="/resource/home">创客讲堂</a></li>
                        <li><a href="/original/all">原创中心</a></li>
                        <li><a href="/ForJob/search" class="active">在线求职</a></li>
                        <li><a href="/honor/honorPage">荣誉中心</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--头像、个人中心、注销等-->
        <div id="headVue">
            <ul class="nav navbar-top-links navbar-right" style="margin-right: 5%;">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="padding: 5% 0 0 0;background: #fff0;"
                       href="#">
                        <!--没有登陆-->
                        <img class="nav-avatar" v-if="!isLogined" src="/static/img/img_chh/akari.jpg"/>
                        <!--已经登录-->
                        <img class="nav-avatar" v-else :src="img"/>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-alerts nav-dropdown-menu">
                        <!--##########未登录###############-->
                        <li v-if="!isLogined">
                            <a href="/login"><p class="nav-text-center">登录</p></a>
                        </li>
                        <li v-if="!isLogined">
                            <a href="/registered/select/new"><p class="nav-text-center">注册</p></a>
                        </li>
                        <!--##########已登录###############-->
                        <li v-if="isLogined">
                            <a :href="centerUrl"><p class="nav-text-center">个人中心</p></a>
                        </li>
                        <li v-if="isLogined && !isPromul">
                            <a href="/studio/studioNone"><p class="nav-text-center">我的工作室</p></a>
                        </li>
                        <li v-if="isLogined">
                            <a href="/logout"><p class="nav-text-center">注销</p></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            var nav_vue = new Vue({
                el: '#headVue',
                data: {
                    loginUser: '',
                    isLogined: false,
                    isPromul: '',
                    img: '',
                    centerUrl: '',
                },
                created: function () {
                    this.getUser();
                },
                methods: {
                    getUser: function () {
                        $.ajax({
                            type: "POST",
                            url: "/home/getLoginUser",
                            dataType: "json",
                            success: function (result) {
                                if (result.code === 404) {
                                    nav_vue.isLogined = false;
                                }
                                else if (result.code === 0) {
                                    nav_vue.isLogined = true;
                                    nav_vue.isPromul = result.isPromul;
                                    nav_vue.loginUser = result.loginUser;
                                    nav_vue.img = result.img;
                                    nav_vue.centerUrl = result.centerUrl;
                                }
                            }
                        });
                    },
                }
            });
        </script>
    </div>
</header>
<div class="header-take-space" style="height: 70px"><!--这是占位的div,默认高度为100px，可以自己修改--></div>
<div id="vue1">

    <div class="major">
        <div class="up">
            <div class="mess">
                <div class="messL">
                    <h3>{{js.jobs.jobName}}</h3>
                    <ul class="list-unstyled kong">
                        <li><p class="white" style="float:left;">&nbsp;&nbsp;工资: </p>
                            <p style="float:left;">&nbsp;&nbsp;
                                {{js.jobs.jobMoney}}
                            </p>
                        </li>
                        <li><p class="white" style="float:left;">&nbsp;&nbsp;人数: </p>
                            <p>&nbsp;&nbsp;{{js.jobs.jobNum}}人</p></li>
                    </ul>
                    <br/>
                    <ul class="list-unstyled">
                        <li><p class="white" style="float:left;">&nbsp;&nbsp;发布时间: </p>
                            <p style="float:left;">&nbsp;&nbsp;2018-09-10</p></li>
                        <li><p class="white" style="float:left;">&nbsp;&nbsp;工作室人数: </p>
                            <p>&nbsp;&nbsp;{{js.studio.stuMembernum}}人</p></li>
                    </ul>
                    <br/>
                    <div class="line_02"></div>
                    <br/>
                    <p class="white">&nbsp;&nbsp;职位简介: </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{js.jobs.jobIntro}}</p>
                    <!--职位要求-->
                    <div class="require">
                        <p class="white">&nbsp;&nbsp;职位要求：</p>
                        <div class="requAn">
                            <p>{{js.jobs.jobRequire}}</p>
                        </div>
                    </div>

                    <div class="line_02"></div>
                    <br/>
                    <!--工作室介绍-->
                    <div class="intro">
                        <p class="white">&nbsp;&nbsp;工作室简介: </p>
                        <div class="introAn">
                            <p>{{js.studio.stuIntro}}</p>
                        </div>
                    </div>

                </div>
                <div class="messR">
                    <div class="piture">
                        <img src="/static/img/img_hlj/alibaba2.png"/>
                    </div>
                    <div class="name">
                        <h3>{{js.studio.stuName}}</h3>
                    </div>
                    <div v-if="join=='yes'">
                        <div class="join">
                            <button type="button" class="btn btn-sm btn-primary but">您已有工作室
                            </button>
                            </span>
                        </div>
                    </div>

                    <div v-if="join=='no'">
                        <!--申请加入-->
                        <div class="join">
                            <button type="button" class="btn btn-sm btn-primary but" data-toggle="modal"
                                    data-target="#myModal">申请加入
                            </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--模态窗-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         style="margin-top: 70px">
        <div class="modal-dialog">
            <!--聚焦的部分-->
            <div class="modal-content">
                <!--模态框标题部分-->
                <div class="modal-header">
                    <!--退出按钮 X-->
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <!--标题-->
                    <h4 class="modal-title" id="myModalLabel">
                        提交你的简历
                    </h4>
                </div>
                <!--模态主体-->
                <div class="modal-body" id="ModalBody">
                    <form action="/ForJob/upload" method="post" enctype="multipart/form-data">
                        请上传你的简历文件<br><br>

                        <!--<label name="jid" style="display:none">-&#45;&#45;{{js.jobs.jobId}}</label>-->
                        <!--<label name="jiddd">-&#45;&#45;{{js.jobs.jobId}}</label>-->
                        <!--<button name="jid">{{js.jobs.jobId}}</button>-->
                        <input type="text" name="jid" v-model="jid" style="display:none">
                        <!--'/ForJob/mes/'+j.jobs.jobId-->
                        <div>
                            <input type="file" name="resume" id="">
                        </div>
                        <!--尾栏-->
                        <div class="modal-footer">
                            <!--关闭按钮-->
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <!--提交按钮-->
                            <button type="submit" class="btn btn-primary">确定提交</button>
                            <!--onclick="submit()-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--vue渲染-->
<script type="text/javascript">
    // 获取model.addattribute 传过来的id

    var id = [[${id}]];


    var vm = new Vue({
        el: '#vue1',
        data: {
            jid: 'laiaa',
            js: '',
            join: 'n',
        },
        created: function () {
            console.log(id);
            $.ajax({
                type: "Post",
                url: "/ForJob/mes/" + id,
                success: function (result) {
                    console.log(result);
                    vm.js = result.js;
                    vm.jid = result.js.jobs.jobId;
                    vm.join = result.join;
                }
            })
        },
    });
</script>
<footer>
    <div class="container-fluid_foot">
        <div class="foot_panel">
            <div class="foot_panel_left">
                <div class="img">
                    <a href="#">
                        <img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
                    </a>
                </div>
                <div class="beian">
                    <p>创客网 © 2018－
                        <br>肇庆学院东软实训班第三组版权所有
                        <br>[粤ICP备xxxxxxx号-x] 标识
                        <br> 粤公网安备xxxxxxxxxx号</p>
                </div>
            </div>
            <div class="foot_panel_right">
                <div class="foot_panel_right_row">
                    <ul class="list-unstyled">
                        <li>
                            <h4>新手指南</h4>
                            <a href="/help/register">注册登录问题</a><br/>
                            <a href="/help/process">项目交易流程</a><br/>
                            <a href="/help/fund">充值提款问题</a><br/>
                            <a href="help/about_agreement">用户注册协议</a><br/>
                            <a href="/help/bid_payings">为何付费竞标</a>
                        </li>
                        <li>
                            <h4>特色服务</h4>
                            <a href="/help/renzheng">实名认证</a><br/>
                            <a href="/help/searchs">精准搜索</a><br/>
                            <a href="/help/workhour">小时报价</a><br/>
                            <a href="/help/bumanyituikuan">不满意退款</a><br/>
                            <a href="/help/bid_card">竞标卡规则</a>
                        </li>
                        <li>
                            <h4>评价信誉</h4>
                            <a href="/help/pingjiadengm">操作演示</a><br/>
                            <a href="/help/service_payings">服务收费</a><br/>
                            <a href="/help/evaluations">用户评价</a><br/>
                            <a href="/help/jifens">积分体系</a><br/>
                            <a href="/help/controversy">争议解决</a>
                        </li>
                        <li>
                            <h4>答疑中心</h4>
                            <a href="/help/pro_relase">项目发布问题</a><br/>
                            <a href="/help/bid_joinings">参与竞标问题</a><br/>
                            <a href="/help/pro_runnings">项目开发问题</a><br/>
                            <a href="/help/pro_done">项目完工问题</a><br/>
                            <a href="/help/it_realse">信息发布问题</a>
                        </li>
                        <li>
                            <h4>联系我们</h4>
                            <a href="/help/about_us">关于SXSOFT</a><br/>
                            <a href="/help/about_company">公司概况</a><br/>
                            <a href="/help/contact_us">联系方式</a><br/>
                            <a href="/help/about_advertising">广告投放</a><br/>
                            <a href="/help/links">友情链接</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--导航条滚动js-->
<script type="text/javascript">
    var new_scroll_position = 0;
    var last_scroll_position;
    var header = document.getElementById("headerBar");

    window.addEventListener('scroll', function (e) {
        last_scroll_position = window.scrollY;

        // Scrolling down
        if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
            // header.removeClass('slideDown').addClass('slideUp');
            header.classList.remove("slideDown");
            header.classList.add("slideUp");

            // Scrolling up
        } else if (new_scroll_position > last_scroll_position) {
            // header.removeClass('slideUp').addClass('slideDown');
            header.classList.remove("slideUp");
            header.classList.add("slideDown");
        }
        new_scroll_position = last_scroll_position;
    });
</script>
</body>

</html>