<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>岗位详情</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/css_psw/style_head.css" />
    <link rel="stylesheet" href="/static/css/css_hlj/detail.css" />
    <style>
        body{
            /*background: 	#F5F5F5 ;*/
        }
    </style>
</head>

<body>
<header>
    <div class="container-fluid container-fluid_up">
        <div class="row_up">
            <ul class="list-unstyled">
                <li>
                    <a href="#">帮助中心</a>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
                <li>
                    <a href="#">登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid container-fluid_main">
        <div class="row_main">
            <div class="main_logo">
                <img class="img-responsive img-rounded" src="/static/img/img_psw/logo2.png" />
            </div>
            <div class="main_right">
                <ul class="nav_psw list-unstyled">
                    <li class="active">
                        <a>首 页</a>
                    </li>
                    <li>
                        <a>项目大厅</a>
                    </li>
                    <li>
                        <a>服务大厅</a>
                    </li>
                    <li>
                        <a>创客讲堂</a>
                    </li>
                    <li>
                        <a>原创中心</a>
                    </li>
                    <li>
                        <a>荣誉中心</a>
                    </li>
                    <li>
                        <a>在线求职</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="major">
    <div class="up">
        <div class="mess">
            <div class="messL">
                <h3>java工程师</h3>

                <ul class="list-unstyled kong">
                    <li><p class="white" style="float:left;" >&nbsp;&nbsp;工资: </p> <p style="float:left;">&nbsp;&nbsp;5k</p></li>
                    <li><p class="white" style="float:left;" >&nbsp;&nbsp;人数: </p> <p >&nbsp;&nbsp;8人</p></li>
                </ul><br />
                <ul class="list-unstyled">
                    <li><p class="white" style="float:left;" >&nbsp;&nbsp;发布时间: </p> <p style="float:left;" >&nbsp;&nbsp;2018-09-10</p></li>
                    <li>	<p class="white" style="float:left;" >&nbsp;&nbsp;工作室人数: </p> <p >&nbsp;&nbsp;25人</p></li>
                </ul><br />



                <div class="line_02"></div><br />



                <p class="white"  >&nbsp;&nbsp;职位简介: </p>
                <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>

                <!--职位要求-->
                <div class="require">
                    <p class="white">&nbsp;&nbsp;职位要求：</p>
                    <div class="requAn">
                        <p>1.要求一要求一要求一要求一要求一要求一要求一要求一要求一</p>
                        <p>2.要求二要求二要求二要求二要求二要求二要求二要求二要求二</p>
                        <p>2.要求三要求三要求三要求三要求三要求三要求三要求三要求三</p>
                    </div>
                </div>

                <div class="line_02"></div><br />
                <!--工作室介绍-->
                <div class="intro">
                    <p class="white" >&nbsp;&nbsp;工作室简介: </p>
                    <div class="introAn">
                        <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                        <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                        <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                    </div>
                </div>






            </div>
            <div class="messR">

                <div class="piture">
                    <img src="/static/img/img_hlj/alibaba2.png" />
                </div>
                <div class="name">
                    <h3>小虎队工作室</h3>
                </div>
                <!--申请加入-->
                <div class="join">
                    <!--123-->
                    <button type="button" class="btn btn-sm btn-primary but" data-toggle="modal" data-target="#myModal">申请加入</button> </span>
                </div>
            </div>

        </div>
        <!--<div class="but">
            <div class="butL"></div>
            <div class="butM">
                <button type="button" class="btn btn-sm btn-primary but" data-toggle="modal" data-target="#myModal">申请加入</button> </span>
            </div>
            <div class="butR"></div>
        </div>-->
    </div>

    <!--<div class="mid">
        <br />
        <!--<h3>工作室介绍</h3>-->
    <!--</div>-->
</div>
<!--模态窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--聚焦的部分-->
        <div class="modal-content">
            <!--模态框标题部分-->
            <div class="modal-header">
                <!--退出按钮 X-->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <!--标题-->
                <h4 class="modal-title" id="myModalLabel">
                    提交你的简历
                </h4>
            </div>

            <!--模态主题-->
            <div class="modal-body" id="ModalBody">
                <form action = "#">
                    请上传你的简历文件<br><br>
                    <a href="/static/javascript:;" class="file">选择文件
                    <input type="file" name="" id="">
                </a>
                </form>
            </div>
        </div>

        <!--尾栏-->
        <div class="modal-footer">
            <!--关闭按钮-->
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <!--提交按钮-->
            <button type="submit" class="btn btn-primary">确定提交</button>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal -->
</div>

<footer>
    <div class="container-fluid_foot">
        <div class="foot_panel">
            <div class="foot_panel_left">
                <div class="img">
                    <a href="#">
                        <img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
                    </a>
                </div>
                <div class="beian">
                    <p>创客网 © 2018－
                        <br>肇庆学院东软实训班第三组版权所有
                        <br>[粤ICP备xxxxxxx号-x] 标识
                        <br> 粤公网安备xxxxxxxxxx号</p>
                </div>
            </div>
            <div class="foot_panel_right">
                <div class="foot_panel_right_row">
                    <ul class="list-unstyled">
                        <li>
                            <h4>新手指南</h4>
                            <a href="/help/register">注册登录问题</a><br />
                            <a href="/help/process">项目交易流程</a><br />
                            <a href="/help/fund">充值提款问题</a><br />
                            <a href="help/about_agreement">用户注册协议</a><br />
                            <a href="/help/bid_payings">为何付费竞标</a>
                        </li>
                        <li>
                            <h4>特色服务</h4>
                            <a href="/help/renzheng">实名认证</a><br />
                            <a href="/help/searchs">精准搜索</a><br />
                            <a href="/help/workhour">小时报价</a><br />
                            <a href="/help/bumanyituikuan">不满意退款</a><br />
                            <a href="/help/bid_card">竞标卡规则</a>
                        </li>
                        <li>
                            <h4>评价信誉</h4>
                            <a href="/help/pingjiadengm">操作演示</a><br />
                            <a href="/help/service_payings">服务收费</a><br />
                            <a href="/help/evaluations">用户评价</a><br />
                            <a href="/help/jifens">积分体系</a><br />
                            <a href="/help/controversy">争议解决</a>
                        </li>
                        <li>
                            <h4>答疑中心</h4>
                            <a href="/help/pro_relase">项目发布问题</a><br />
                            <a href="/help/bid_joinings">参与竞标问题</a><br />
                            <a href="/help/pro_runnings">项目开发问题</a><br />
                            <a href="/help/pro_done">项目完工问题</a><br />
                            <a href="/help/it_realse">信息发布问题</a>
                        </li>
                        <li>
                            <h4>联系我们</h4>
                            <a href="/help/about_us">关于SXSOFT</a><br />
                            <a href="/help/about_company">公司概况</a><br />
                            <a href="/help/contact_us">联系方式</a><br />
                            <a href="/help/about_advertising">广告投放</a><br />
                            <a href="/help/links">友情链接</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>