<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>在线求职</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>

    <link href="/static/css/css_hlj/sea.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/css_psw/style_head.css"/>
    <style>

        .file {
            position: relative;
            display: inline-block;
            background: #D0EEFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
        }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .file:hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
    </style>


</head>
<body>
<header>
    <div class="container-fluid container-fluid_up">
        <div class="row_up">
            <ul class="list-unstyled">
                <li>
                    <a href="#">帮助中心</a>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
                <li>
                    <a href="#">登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid container-fluid_main">
        <div class="row_main">
            <div class="main_logo">
                <img class="img-responsive img-rounded" src="/static/img/img_psw/logo2.png"/>
            </div>
            <div class="main_right">
                <ul class="nav_psw list-unstyled">
                    <li class="active">
                        <a>首 页</a>
                    </li>
                    <li>
                        <a>项目大厅</a>
                    </li>
                    <li>
                        <a>服务大厅</a>
                    </li>
                    <li>
                        <a>创客讲堂</a>
                    </li>
                    <li>
                        <a>原创中心</a>
                    </li>
                    <li>
                        <a>荣誉中心</a>
                    </li>
                    <li>
                        <a>在线求职</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="major">
    <div class="kong"></div>
    <div class="search">
        <div class="searchL"></div>
        <div class="search2">
            <div class="searchM">
                <div class="input-group">
                    <input type="text" placeholder="请输入职位" class="input-sm form-control" id="se">
                    <span class="input-group-btn">
                        <div id="btnc">
                        <button type="button" class="btn btn-sm btn-primary but" @click="cc()"> 搜索</button>
                        </div>
                    </span>
                </div>
            </div>
            <div class="searchR"></div>
        </div>
    </div>

    <div id="vue3">
        <div class="mid">
            <div class="choice">
                <ul class="list-unstyled">
                    <li class="li1">
                        <div class="explain">
                            <label>技术类型</label>
                        </div>
                        <div class="type">
								<span class="ATpye">
									<a value="all" @click="ten1()">不限</a>
								</span>
                            <span class="ATpye">
									<a value="java" @click="ten2()">java</a>
								</span>
                            <span class="ATpye">
									<a value="html" @click="ten3()">html</a>
								</span>
                            <span class="ATpye">
									<a value="c" @click="ten4()">c语言</a>
								</span>
                            <span class="ATpye">
									<a value="jw" @click="ten5()">JavaWeb</a>
								</span>
                            <span class="ATpye">
									<a value="bs" @click="ten6()">bootstrap</a>
								</span>
                            <span class="ATpye">
									<a value="jq" @click="ten7()">jquery</a>
								</span>
                        </div>
                    </li>

                    <li class="li2">
                        <div class="explain">
                            <label>薪资范围</label>
                        </div>
                        <div class="type">
                            <span class="ATpye">
									<a value="all" @click="mon1()">不限</a>
                            </span>
                            <span class="ATpye">
									<a value="two" @click="mon2()">2k以内</a>
                            </span>
                            <span class="ATpye">
									<a value="five" @click="mon3()">2k-5k</a>
                            </span>
                            <span class="ATpye">
									<a value="eight" @click="mon4()">5k-8k</a>
                            </span>
                            <span class="ATpye">
                                <a value="ten" @click="mon5()">8k-10k</a>
                            </span>
                            <span class="ATpye">
                                <a value="up" @click="mon6()">10k以上</a>
                            </span>
                        </div>
                    </li>
                    <li class="li3">
                        <div class="explain">
                            <label>工作室排行</label>
                        </div>
                        <div class="type">
								<span class="ATpye">
									<a @click="sort1()">不限</a>
								</span>
                            <span class="ATpye">
									<a @click="sort2()">按评价排序</a>
								</span>
                            <span class="ATpye">
									<a @click="sort3">按接单总数排序</a>
								</span>
                            <span class="ATpye">
									<a @click="sort4()">按团队人数排序</a>
								</span>

                        </div>
                    </li>
                    <li class="li4">
                        <div class="explain">
                            <label>招聘发布时间</label>
                        </div>
                        <div class="type">
								<span class="ATpye">
									<a @click="time1()">不限时间</a>
								</span>
                            <span class="ATpye">
									<a @click="time2()">1年以上</a>
								</span>
                            <span class="ATpye">
									<a @click="time3()">一个月内</a>
								</span>
                            <span class="ATpye">
									<a @click="time4()">一星期内</a>
								</span>
                            <span class="ATpye">
									<a @click="time5()">一天内</a>
								</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="down">
        <!--搜索到的结果数量-->
        <div class="number">
            <div class="numberR">
                <div class="kong"></div>
                <p class="white" style="float: left;">共搜索到</p>
                <div id="vuenum">
                    <p class="red" style="float: left;">&nbsp;&nbsp;{{n}}&nbsp;&nbsp; </p>
                </div>
                <p class="white">相关职位</p>
                <div class="line_02 long"></div>
                <br/>
            </div>
        </div>
        <div class="line">
        </div>

        <div id="jobsul">
            <ul class="list-unstyled">
                <li v-for="j in job">
                    <div class="DownLi" onmouseover="this.style.backgroundColor='#F4F9FD'"
                         onmouseout="this.style.backgroundColor='#FFFFFF'">
                        <div class="piture">
                            <img src="/static/img/img_hlj/alibaba2.png"/>
                        </div>
                        <div class="studioIntro">
                            <h4><a href="mes" class="color" target="_blank" :href="'/ForJob/mes/'+j.jobs.jobId">{{j.studio.stuName}}</a>
                            </h4>
                            <p class="white" style="float:left;">职位: </p>
                            <p>&nbsp;&nbsp;{{j.jobs.jobName}}</p>
                            <p class="white" style="float:left;">发布时间:</p>
                            <p>&nbsp;&nbsp;{{j.time}}</p>
                            <p class="white" style="float:left;">工资:</p>
                            <p style="float:left;">&nbsp;&nbsp;{{j.jobs.jobMoney}}</p>
                            <p class="white" style="float:left;">&nbsp;&nbsp;&nbsp;&nbsp;人数:</p>
                            <p>&nbsp;&nbsp;{{j.jobs.jobNum}}人</p>
                            <p class="white" style="float:left;">职位简介: </p>
                            <p>&nbsp;&nbsp;{{j.jobs.jobIntro}}</p>
                        </div>
                        <div class="join">
                            <div class="joinUp"></div>
                            <div class="joinM">
                                <a class="btn btn-block btn-primary compose-mail but"
                                   :href="'/ForJob/mes/'+j.jobs.jobId"
                                   target="_blank">申请加入</a>
                            </div>
                            <div class="joinD"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--分页-->
        <div class="page">
            <div id="page">
                <!--没有搜索-->
                <div v-if="sea == 'none'">
                    <!--没有搜索没有点击选择-->
                    <div v-if="cli == 'none'">
                        <div class="c_r_c_page text-center">
                            <ul class="pagination pagination-lg">
                                <!--0 -0-->
                                <!--判断前一页的-->
                                <template v-if="isFirstPage==false">
                                    <li><a href="javascript:;" @click="pageAll(pageNum-1)">&laquo;</a></li>
                                </template>
                                <template v-else>
                                    <li><a href="javascript:;" class="disabled">&laquo;</a></li>
                                </template>
                                <!--页数-->
                                <template v-for="p in navigatepageNums">
                                    <template v-if="pageNum==p">
                                        <li><a href="javascript:;" class="disabled"
                                               style="background: #DDDDDD;color: #1ab394;">{{p}}</a>
                                        </li>
                                    </template>
                                    <template v-else>
                                        <li><a href="javascript:;" @click="pageAll(p)">{{p}}</a></li>
                                    </template>
                                </template>

                                <!--判断下一页的-->
                                <template v-if="isLastPage==false">
                                    <li><a href="javascript:;" @click="pageAll(pageNum+1)">&raquo;</a></li>
                                </template>
                                <template v-else>
                                    <li><a href="javascript:;" class="disabled">&raquo;</a></li>
                                </template>

                                <!--<template><li>共{{total}}条信息</li></template>-->
                            </ul>
                        </div>
                    </div>
                    <!--没搜索有点击-->
                    <div v-if="cli != 'none'">

                        <div class="c_r_c_page text-center">
                            <ul class="pagination pagination-lg">
                                <!--0-cli-->
                                <!--判断前一页的-->
                                <template v-if="isFirstPage==false">
                                    <li><a href="javascript:;" @click="pagecli(pageNum-1)">&laquo;</a></li>
                                </template>
                                <template v-else>
                                    <li><a href="javascript:;" class="disabled">&laquo;</a></li>
                                </template>
                                <!--页数-->
                                <template v-for="p in navigatepageNums">
                                    <template v-if="pageNum==p">
                                        <li><a href="javascript:;" class="disabled"
                                               style="background: #DDDDDD;color: #1ab394;">{{p}}</a>
                                        </li>
                                    </template>
                                    <template v-else>
                                        <li><a href="javascript:;" @click="pagecli(p)">{{p}}</a></li>
                                    </template>
                                </template>

                                <!--判断下一页的-->
                                <template v-if="isLastPage==false">
                                    <li><a href="javascript:;" @click="pagecli(pageNum+1)">&raquo;</a></li>
                                </template>
                                <template v-else>
                                    <li><a href="javascript:;" class="disabled">&raquo;</a></li>
                                </template>
                                <!--<template><li>共{{total}}条信息</li></template>-->
                            </ul>
                        </div>
                    </div>
                    <!--没有搜索，有点击选择-->
                    <!--<div v-for = "cli != 'none'">-->
                    <!--</div>-->
                </div>
                <!--有搜索-->
                <div v-if="sea != 'none'">
                    <!--<div v-if="cli == 'none'">-->
                        <div class="c_r_c_page text-center">
                            <ul class="pagination pagination-lg">
                                <!--sea - -->
                                <!--判断前一页的-->
                                <template v-if="isFirstPage==false">
                                    <li><a href="javascript:;" @click="pagesea(pageNum-1)">&laquo;</a></li>
                                </template>
                                <template v-else>
                                    <li><a href="javascript:;" class="disabled">&laquo;</a></li>
                                </template>

                                <!--页数-->
                                <template v-for="p in navigatepageNums">
                                    <template v-if="pageNum==p">
                                        <li><a href="javascript:;" class="disabled"
                                               style="background: #DDDDDD;color: #1ab394;">{{p}}</a>
                                        </li>
                                    </template>
                                    <template v-else>
                                        <li><a href="javascript:;" @click="pagesea(p)">{{p}}</a></li>
                                    </template>
                                </template>
                                <!--判断下一页的-->
                                <template v-if="isLastPage==false">
                                    <li><a href="javascript:;" @click="pagesea(pageNum+1)">&raquo;</a></li>
                                </template>
                                <template v-else>
                                    <li><a href="javascript:;" class="disabled">&raquo;</a></li>
                                </template>
                            </ul>
                        </div>
                    <!--</div>-->
                    <!--<div v-if="cli != 'none'">-->
                        <!--sea-cli-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // 招聘信息渲染
        var vm = new Vue({
            el: '#jobsul',
            data: {
                job: '',
            },
            // created: function () {
            //     $.ajax({
            //         type: 'Post',
            //         url: '/ForJob/search/jobs/1',
            //         success: function (result) {
            //             vm.job = result.jobsStudios;
            //             vm1.n = result.num;
            //         }
            //     })
            // },
            methods: {}
        });

        //根据查询的信息显示不同的招聘信息
        var vue2 = new Vue({
            el: '#btnc',
            data: {
                // jobs:'',
            },
            methods: {
                cc: function () {
                    vm4.sea = "y";
                    // 获取搜索框信息
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/cha/' + 1,
                        data: {
                            nei: nei,
                        },
                        success: function (result) {
                            vm4.n = result.pageinfo;
                            vm4.navigatepageNums = result.pageinfo.navigatepageNums;
                            vm4.isFirstPage = result.pageinfo.isFirstPage;
                            vm4.isLastPage = result.pageinfo.isFirstPage;
                            vm4.pageNum = result.pageinfo.pageNum;
                            vm4.total = result.pageinfo.total;
                            vm.job = result.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
            }
        });
        // 根据点击不同的类型显示筛选显示不同的信息
        var vm3 = new Vue({
            el: '#vue3',
            data: {
                tee: '',         //tee:选择的技术类型
                money: '',
                sort: '',
                time: '0',
            },
            methods: {
                ten1: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    var nei = $("#se").val();
                    vm3.tee = "";
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                ten2: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    var nei = $("#se").val();
                    vm3.tee = "java";
                    vm4.sea = "none";
                    vm4.cli = "y";
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (result) {
                            vm4.n = result.pageinfo;
                            vm4.navigatepageNums = result.pageinfo.navigatepageNums;
                            vm4.isFirstPage = result.pageinfo.isFirstPage;
                            vm4.isLastPage = result.pageinfo.isFirstPage;
                            vm4.pageNum = result.pageinfo.pageNum;
                            vm4.total = result.pageinfo.total;
                            vm.job = result.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                ten3: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    var nei = $("#se").val();
                    vm3.tee = "html";
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })

                },
                ten4: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    var nei = $("#se").val();

                    vm3.tee = "C";
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                ten5: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    var nei = $("#se").val();
                    vm3.tee = "javaWeb";
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                ten6: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.tee = "bootstrap";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                ten7: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.tee = "jquery";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },

                mon1: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.money = "all";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: "",
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                mon2: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.money = "2";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                mon3: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.money = "5";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                mon4: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.money = "8";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                mon5: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.money = "10";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                mon6: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.money = "10up";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },


                sort1: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.sort = "all";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                sort2: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.sort = "grade";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                sort3: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.sort = "gradn";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                sort4: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.sort = "gradepn";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },

                time1: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    vm3.time = "0";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                time2: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    // vm3.time = "31536000";
                    vm3.time = "365";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                time3: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    // vm3.time = "2628000";
                    vm3.time = "30";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                time4: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    // vm3.time = "604800";
                    vm3.time = "7";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
                time5: function () {
                    vm4.sea = "none";
                    vm4.cli = "y";
                    // vm3.time = "86400";
                    vm3.time = "1";
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/'+1,
                        data: {
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                            nei: nei,
                        },
                        success: function (r) {
                            vm4.n = r.pageinfo;
                            vm4.navigatepageNums = r.pageinfo.navigatepageNums;
                            vm4.isFirstPage = r.pageinfo.isFirstPage;
                            vm4.isLastPage = r.pageinfo.isFirstPage;
                            vm4.pageNum = r.pageinfo.pageNum;
                            vm4.total = r.pageinfo.total;
                            vm.job = r.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    })
                },
            }
        })

        // 分页
        var vm4 = new Vue({

            el: '#page',
            data: {
                sea: 'none',
                cli: 'none',
                n: '',
                //当前页
                pageNum: '',
                //总记录数
                total: '',
                //是否为第一页
                isFirstPage: false,
                //是否为最后一页
                isLastPage: false,
                //导航页码数
                navigatepageNums: '',
            },
            methods: {
                pageAll: function (value) {
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/jobs/' + value,
                        success: function (result) {
                            // console.log(result);
                            vm4.n = result.pageinfo;
                            vm4.navigatepageNums = result.pageinfo.navigatepageNums;
                            vm4.isFirstPage = result.pageinfo.isFirstPage;
                            vm4.isLastPage = result.pageinfo.isFirstPage;
                            vm4.pageNum = result.pageinfo.pageNum;
                            vm4.total = result.pageinfo.total;
                            vm.job = result.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    });
                },
                pagesea: function (value) {
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/cha/' + value,
                        data: {
                            nei: nei,
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                        },
                        success: function (result) {
                            console.log(result);
                            vm4.n = result.pageinfo;
                            vm4.navigatepageNums = result.pageinfo.navigatepageNums;
                            vm4.isFirstPage = result.pageinfo.isFirstPage;
                            vm4.isLastPage = result.pageinfo.isFirstPage;
                            vm4.pageNum = result.pageinfo.pageNum;
                            vm4.total = result.pageinfo.total;
                            vm.job = result.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    });
                },
                pagecli: function (value) {
                    var nei = $("#se").val();
                    $.ajax({
                        type: 'post',
                        url: '/ForJob/search/choice/' + value,
                        data: {
                            nei: vm3.nei,
                            tee: vm3.tee,
                            money: vm3.money,
                            sort: vm3.sort,
                            time: vm3.time,
                        },
                        success: function (result) {
                            console.log(result);
                            vm4.n = result.pageinfo;
                            vm4.navigatepageNums = result.pageinfo.navigatepageNums;
                            vm4.isFirstPage = result.pageinfo.isFirstPage;
                            vm4.isLastPage = result.pageinfo.isFirstPage;
                            vm4.pageNum = result.pageinfo.pageNum;
                            vm4.total = result.pageinfo.total;
                            vm.job = result.jobsStudios;
                            vm1.n = result.pageinfo.total;
                        }
                    });
                }
            },
            created: function () {
                $.ajax({
                    type: 'post',
                    url: '/ForJob/search/jobs/' + 1,
                    success: function (result) {
                        console.log(result);
                        vm4.n = result.pageinfo;
                        vm4.navigatepageNums = result.pageinfo.navigatepageNums;
                        vm4.isFirstPage = result.pageinfo.isFirstPage;
                        vm4.isLastPage = result.pageinfo.isFirstPage;
                        vm4.pageNum = result.pageinfo.pageNum;
                        vm4.total = result.pageinfo.total;
                        vm.job = result.jobsStudios;
                        vm1.n = result.pageinfo.total;
                    },
                });
            },
        })


    </script>
    <!--搜索数量渲染-->
    <script type="text/javascript">
        var vm1 = new Vue({
            el: '#vuenum',
            data: {
                n: 0,
            },
            // created: function () {
            //     $.ajax({
            //         type: "Post",
            //         url: "search/jNum",
            //         success: function (result) {
            //             vm1.n = result.jNum;
            //         }
            //     })
            // }
        })
    </script>
</div>
<footer>
    <div class="container-fluid_foot">
        <div class="foot_panel">
            <div class="foot_panel_left">
                <div class="img">
                    <a href="#">
                        <img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
                    </a>
                </div>
                <div class="beian">
                    <p>创客网 © 2018－
                        <br>肇庆学院东软实训班第三组版权所有
                        <br>[粤ICP备xxxxxxx号-x] 标识
                        <br> 粤公网安备xxxxxxxxxx号</p>
                </div>
            </div>
            <div class="foot_panel_right">
                <div class="foot_panel_right_row">
                    <ul class="list-unstyled">
                        <li>
                            <h4>新手指南</h4>
                            <a href="/help/register">注册登录问题</a><br/>
                            <a href="/help/process">项目交易流程</a><br/>
                            <a href="/help/fund">充值提款问题</a><br/>
                            <a href="help/about_agreement">用户注册协议</a><br/>
                            <a href="/help/bid_payings">为何付费竞标</a>
                        </li>
                        <li>
                            <h4>特色服务</h4>
                            <a href="/help/renzheng">实名认证</a><br/>
                            <a href="/help/searchs">精准搜索</a><br/>
                            <a href="/help/workhour">小时报价</a><br/>
                            <a href="/help/bumanyituikuan">不满意退款</a><br/>
                            <a href="/help/bid_card">竞标卡规则</a>
                        </li>
                        <li>
                            <h4>评价信誉</h4>
                            <a href="/help/pingjiadengm">操作演示</a><br/>
                            <a href="/help/service_payings">服务收费</a><br/>
                            <a href="/help/evaluations">用户评价</a><br/>
                            <a href="/help/jifens">积分体系</a><br/>
                            <a href="/help/controversy">争议解决</a>
                        </li>
                        <li>
                            <h4>答疑中心</h4>
                            <a href="/help/pro_relase">项目发布问题</a><br/>
                            <a href="/help/bid_joinings">参与竞标问题</a><br/>
                            <a href="/help/pro_runnings">项目开发问题</a><br/>
                            <a href="/help/pro_done">项目完工问题</a><br/>
                            <a href="/help/it_realse">信息发布问题</a>
                        </li>
                        <li>
                            <h4>联系我们</h4>
                            <a href="/help/about_us">关于SXSOFT</a><br/>
                            <a href="/help/about_company">公司概况</a><br/>
                            <a href="/help/contact_us">联系方式</a><br/>
                            <a href="/help/about_advertising">广告投放</a><br/>
                            <a href="/help/links">友情链接</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--选择js样式-->
<script>
    $(".li1 .ATpye a").click(function () {
        $(".li1 .ATpye").removeClass("current");
        $(this).parent().addClass("current");

        $(".li1 .ATpye a").removeClass("current");
        $(this).addClass("current");
    })
    $(".li2 .ATpye a").click(function () {
        $(".li2 .ATpye").removeClass("current");
        $(this).parent().addClass("current");

        $(".li2 .ATpye a").removeClass("current");
        $(this).addClass("current");
    })

    $(".li3 .ATpye a").click(function () {
        $(".li3 .ATpye").removeClass("current");
        $(this).parent().addClass("current");

        $(".li3 .ATpye a").removeClass("current");
        $(this).addClass("current");
    })
    $(".li4 .ATpye a").click(function () {
        $(".li4 .ATpye").removeClass("current");
        $(this).parent().addClass("current");

        $(".li4 .ATpye a").removeClass("current");
        $(this).addClass("current");
    })
</script>
</body>
</html>