
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en" xmlns:bottom="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>项目</title>


	<script src="/static/js/jquery.min.js?v=2.1.4"></script>
	<!-- 底下的三个是日期控件所需要的js/css -->
	<script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

	<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
	<script type="text/javascript" src="/static/js/js_psw/toPage1.js"></script>
	<script src="/static/js/vue.js"></script>
	<!--关键字的js -->
	<script type="text/javascript" src="/static/js/js_psw/aspect.js"></script>
	<script type="text/javascript" src="/static/js/js_psw/keyWord.js"></script>


<!-- 需要给它加上一个js-->
	<!-- 底下的是日期控件所需要的css -->
	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/css_xwh/ProjectsShouYe.css" rel="stylesheet" />
	<link href="/static/css/css_psw/style_head.css" rel="stylesheet" />
	<link href="/static/css/css_xwh/style.css?v=4.1.0" rel="stylesheet">
	<link href="/static/css/css_psw/toPage1.css" rel="stylesheet" />
	<link href="/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
	<link href="/static/css/animate.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

	<link rel="stylesheet" href="/static/css/css_psw/index.css" />




	<!--<script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>-->

	<script type="text/javascript">
        function  EntrySearch() {


            var box = document.getElementsByClassName("item active");
            //拿到数值，条件
            var classfiy = box[0].text; //类别
            var state = box[1].text;    //项目状态
			var tag    =  $("#wordHiddenInput").val();          //标签

			var keyword = $("#keyWord_skill_2").val();            //关键字

			var starttime=$("#starttime").val();           //开始
		    var endtime  =$("#endtime").val();           //结束

            if(classfiy=="项目分类")
                classfiy = 0;
            if(state=="项目状态")
                state = 0;
            if(tag=="")
                tag=0;
			// 全部放在？里
        window.location.href=
            "/project/pjconditione?values="+keyword+"&classify="+classfiy+"&state="+state+"&strattime="+starttime+"&endtime="+endtime+"&tags="+tag;

        }
        //日期控件的js
        $(function () {
            $("#starttime").datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
            $("#endtime").datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
        });
		$(function() {
              $(".paixus li a").click(function() {
                  $(".paixus a[class='item active']").each(function() {
                      $(this).removeClass();
                      $(this).addClass("item ");
                  });
                  $(this).removeClass();
                  $(this).addClass("item active");
              })
            $(".classfiy a").click(function() {

                $(".classfiy a[class='item active']").each(function() {
                    $(this).removeClass();
                    $(this).addClass("item ");
                });
                $(this).removeClass();
                $(this).addClass("item active");
            })
            $(".moneys  a").click(function() {
                $(".moneys a[class='item active']").each(function() {
                    $(this).removeClass();
                    $(this).addClass("item ");
                });
                $(this).removeClass();
                $(this).addClass("item active");
            })

		})
        function orderbydate() {
            // 变色
            window.location.href="/project/orderbydate";
        }
        function orderbymoney() {
            window.location.href="/project/orderbymoney";
        }
		
	</script>


   </head>
	<body>
	<header class="header-navigation" id="headerBar">
		<div class="nav-content-filter">
			<div class="row_main">
				<!--logo-->
				<div class="main_logo">
					<img class="img-responsive img-rounded nav-img-logo" src="/static/img/img_psw/logo2.png" />
				</div>
				<!--超链接-->
				<div class="nav-main-right">
					<nav class="cd-nav">
						<ul>
							<li><a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
							<li><a class="active" href="/project/xwh">项目大厅</a></li>
							<li><a href="/stuhall/hall">服务大厅</a></li>
							<li><a href="/resource/home">创客讲堂</a></li>
							<li><a href="/original/all">原创中心</a></li>
							<li><a href="/ForJob/search">在线求职</a></li>
							<li><a href="/honor/honorPage">荣誉中心</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!--头像、个人中心、注销等-->
			<div id="headVue">
				<ul class="nav navbar-top-links navbar-right" style="margin-right: 5%;">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" style="padding: 5% 0 0 0;background: #fff0;" href="#" >
							<!--没有登陆-->
							<img class="nav-avatar" v-if="!isLogined" src="/static/img/img_chh/akari.jpg"/>
							<!--已经登录-->
							<img class="nav-avatar" v-else :src="img"/>
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu dropdown-alerts nav-dropdown-menu">
							<!--##########未登录###############-->
							<li v-if="!isLogined">
								<a href="/login"><p class="nav-text-center">登录</p></a>
							</li>
							<li v-if="!isLogined">
								<a href="/registered/select/new"><p class="nav-text-center">注册</p></a>
							</li>
							<!--##########已登录###############-->
							<li v-if="isLogined">
								<a :href="centerUrl"><p class="nav-text-center">个人中心</p></a>
							</li>
							<li v-if="isLogined && !isPromul">
								<a href="/studio/studioNone"><p class="nav-text-center">我的工作室</p></a>
							</li>
							<li v-if="isLogined">
								<a href="/logout"><p class="nav-text-center">注销</p></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<script type="text/javascript">
                var nav_vue = new Vue({
                    el:'#headVue',
                    data:{
                        loginUser: '',
                        isLogined: false,
                        isPromul : '',
                        img : '',
                        centerUrl : '',
                    },
                    created: function () {
                        this.getUser();
                    },
                    methods: {
                        getUser: function(){
                            $.ajax({
                                type: "POST",
                                url: "/home/getLoginUser",
                                dataType: "json",
                                success: function(result){
                                    if(result.code === 404){
                                        nav_vue.isLogined = false;
                                    }
                                    else if(result.code === 0){
                                        nav_vue.isLogined = true;
                                        nav_vue.isPromul = result.isPromul;
                                        nav_vue.loginUser = result.loginUser;
                                        nav_vue.img = result.img;
                                        nav_vue.centerUrl = result.centerUrl;
                                    }
                                }
                            });
                        },
                    }
                });
			</script>
		</div>
	</header>
	<div style="height: 105px" class="header-take-space"><!--这是占位的div,默认高度为100px，可以自己修改--></div>


		<div class="container-fluid_body">
			<div class="row">

				<div class="img">
					<img src="/static/img/img_psw/log.png" />
				</div>
				<div class="col-lg-12 restart" style="background: #1ab394">
					<span>找项目——按条件筛选</span>
					<a href="/project/pjClear" >重置筛选条件</a>
				</div>
				<div class="col-lg-12 shaixuan" id="shaixuan">





					<ul class="list-unstyled" datafrom="service">

						<li  class="classfiy" datatype="ProjectFenlei">
						    <a vals="allCf" class="item active">项目分类</a>
							<a vals="网站开发" href="javascript:void(0);"  datatype="网站开发">网站开发</a>
							<a vals="桌面应用" href="javascript:void(0);"  datatype="桌面应用">桌面应用</a>
							<a vals="APP" href="javascript:void(0);"  datatype="APP">APP</a>
							<a vals="UI设计" href="javascript:void(0);"  datatype="UI设计">UI设计</a>
							<a vals="数据采集与分析" href="javascript:void(0);"  datatype="数据采集与分析">数据采集与分析</a>
							<a vals="嵌入式与智能硬件" href="javascript:void(0);"  datatype="嵌入式与智能硬件">嵌入式与智能硬件</a>
							<a vals="微信开发" href="javascript:void(0);"  datatype="微信开发">微信开发</a>
							<a vals="管理系统" href="javascript:void(0);"  datatype="管理系统">管理系统</a>
							<a vals="其它分类项目" href="javascript:void(0);"  datatype="其它分类项目">其它分类项目</a>
						</li>
						<!--<li datatype="ProjectYusuan">-->
							<!--<span class="span-title">项目预算</span>-->
							<!--<a href="javascript:void(0);" datatype="1000">1千以下</a>-->
							<!--<a href="javascript:void(0);" datatype="5000">1千~5千</a>-->
							<!--<a href="javascript:void(0);" datatype="10000">5千~1万</a>-->
							<!--<a href="javascript:void(0);" datatype="50000">1万~5万</a>-->
							<!--<a href="javascript:void(0);" datatype="100000">5万~10万</a>-->
							<!--<a href="javascript:void(0);" datatype="100001">10万以上</a>-->
							<!--<a href="javascript:void(0);" datatype="0">待商议</a>-->
						<!--</li>-->
						<li datatype="ProjectStatus" class="moneys">
							<a vals="allPs" class="item active">项目状态</a>

							<a vals="竞标中" href="javascript:void(0);" datatype="竞标中">竞标中</a>
							<a vals="竞标超时" href="javascript:void(0);" datatype="竞标超时">竞标超时</a>
							<a vals="开发中" href="javascript:void(0);" datatype="开发中">开发中</a>
							<a vals="完工" href="javascript:void(0);" datatype="完工">完工</a>
							<a vals="弃标项目" href="javascript:void(0);" datatype="弃标项目">弃标项目</a>
							<a vals="退款项目" href="javascript:void(0);" datatype="退款项目">退款项目</a>
						</li>

						<li datatype="" class="" style="">
							<span style="float: left; line-height: 30px" class="span-title">找项目</span>
	<div    style="margin-left: 83px" id="wordTags"></div>
	<input  style="width: 190px; height: 30px; float: left;margin-right: 28px;margin-left: 14px" class="form-control" id="wordInput" type="text" name="" placeholder="请输入关键词以空格结尾">
	<input class="form-control" id="wordHiddenInput" type="hidden" name="tag" >

						<input  style="width: 190px; height: 30px;margin-left: 341px;" id="keyWord_skill_2" class="form-control" type="text" placeholder="输入项目关键字" value="">
						</li>
						<li datatype="" class="" style="">
							<span style="float: left; line-height: 30px" class="span-title">发布日期</span>

							<input type='text' style="width: 190px; height: 30px; float: left;margin-right: 25px" class="form-control" placeholder="开始日期" id='starttime' />
							<span style="float: left;line-height: 30px" class="span-title">至</span>
							<input type='text' style="width: 175px; height: 30px; float: left;margin-right: 15px" class="form-control" placeholder="结束日期" id='endtime' />
							<a onclick="EntrySearch()" class="btn btn-success icon-glyphicon-search time-search  service-glyphicon-search" href="javascript:void(0);">
								<i class="glyphicon glyphicon-search"></i>
							</a>
						</li>

					</ul>
				</div>


				<div class="col-lg-12 paixu" id="countall">
					<div class="paixus">
					<ul class="list-unstyled">
						<li>
						<span>排序</span>
						<a onclick="orderbydate()" href="javascript:void(0);">发布日期</a>
						<a onclick="orderbymoney()" href="javascript:void(0);" >项目预算</a>

						</li>
						<li>
							共筛选出
							<span class="sum"> {{total}} </span>条满足条件的服务
						</li>
					</ul>
				</div>
				</div>


				<li id="templeate" style="display: none">
					<div>
					<div class="projectBody2">
						<div v-if="project.projState=='竞标中'"  class="divnew">
                            <img  src="/static/img/img_xwh/lefttop-newicon.png"/>
                        </div>

                        <img :src=project.projImg />
					</div>
					<div class="projectBody3">
						<a :href="['projectDetail?id='+project.projId]" target="_blank">
							<div><div>{{project.projName}}</div></div></a>
						<span class="status">{{project.projState}}</span>
						<br />
						<span>预算<em>{{project.projMoney}}</em></span>
						<span>人气<em>150</em></span>
						<span>发布日期<em>{{project.projCreattime}}</em></span>
						<span>截止日期<em>{{project.projCreattime}}</em></span>
						<div style="margin-top: 15px;">
							<span>技能标签</span>
							<span class='green'> {{project.projTag}}</span>
							<span>类型</span>
							<span class='green'>{{project.projType}}</span>
						</div>
					</div>
			<div v-if="project.projFile" class="projectBody4">
		  <img name="xa"  isImg="0" @click="changeFlag" src="/static/img/img_xwh/selected2.png" >
					&nbsp;收藏{{project.ProjFile}}
					</div>
			<div v-else class="projectBody4">
							<img name="xa"  isImg="0" @click="changeFlag" src="/static/img/img_xwh/selected1.png" >
							&nbsp;收藏{{project.ProjFile}}
						</div>

					</div>
				</li>

				<div class="projectBody" >
					<div class="col-md-9 col-lg-9 projectBody1" id="projectBody1">
                    <ul class="list-unstyled projectlist">
						<project v-for="item,index in projects" v-bind:project="item"></project>
					</ul>


						<div class="FenYe">
							<div class="page_1"></div>
						</div>

                </div>
                </div>



					<div class="col-md-3 col-lg-3">
						<div class="ProjectLike1" id="ProjectLike1">
							<ul class="list-group">
								<li class="list-group-item">
									<span class="ProjectLike1-top" >
										大家都在 的项目TOP10
									</span>
								</li>
								<!-- 拼接字符串 -->
                                <li class="list-group-item" v-for="(item,index) in resourse">
                                    <b>{{index+1}}</b>
                                    <a  :href="'projectDetail?id'+item.projId" target="_blank" class="nowrap">
                                        {{item.projName}}
                                    </a>

							</ul>
						</div>

						<div class="ProjectLike2" id="ProjectLike2">
							<ul class="list-group">
								<li class="list-group-item">
									<span class="ProjectLike2-top">
										竞争最激烈的项目TOP10
									</span>
								</li>
								<li class="list-group-item" v-for="(item,index) in resourse">
									<b>{{index+1}}</b>
									<a  :href="['projectDetail?id'+item.projId]" target="_blank" class="nowrap">
										{{item.projName}}
									</a>
								</li>

							</ul>
						</div>









					<script type="text/javascript">
                        $(function () {
                            var keyWord = $("#wordInput").keyWord({
                                panel: '#wordTags',
                                value: '#wordHiddenInput',
                                max: 5,
                                tips: '最多只能输入5项'
                            });
                        });

                      var vn =   new Vue({
                            el: '#ProjectLike1',
                            data:{
                                resourse : "",

                            },
                            mounted: function () {
                                var self=this;
                                $.ajax({
                                    type: "POST",
                                    url: "/project/projectShouYeTuijian",
                                    dataType: "json",
                                    success: function(result){

                                        self.resourse = result;
                                    }
                                });
                            },
                        });
                     var vx =   new Vue({
                         el: '#ProjectLike2',
                         data:{
                             resourse : "",
                         },
                         mounted: function () {
                             var self=this;
                             $.ajax({
                                 type: "POST",
                                 url: "/project/projectHot",
                                 dataType: "json",
                                 success: function(result){
                                     self.resourse = result;
                                 }
                             });
                         },
                     });

                     var templeateDiv=$("#templeate").html();
                     var templeateObject= {
                         props: ['project'],
                         template:templeateDiv,
                         methods:{

							 changeFlag : function () {
         window.location.href="/project/islogin";
                             }
                         }
                     };
                     Vue.component("project",templeateObject);

                 var pa =  new Vue({
                         el: '#projectBody1',
                         data:{
                             projects : "",
                             total:"",
                             islikes:"",
                             islogin:"",
                             loginUser:"",
                         },
                         mounted: function () {
                             var self=this;
                             this.islogin   =  nav_vue.isLogined;
                             this.loginUser =  nav_vue.loginUser;
                             $.ajax({
                                 type: "POST",
                                 url: "/project/toadduser",
                                 dataType: "json",
								 data:{
                                     "bid":nav_vue.loginUser.allId,
                                     "islogin": nav_vue.isLogined,
								 },
                                 success: function(result){
                                     // alert("intoadduser");
                                 }
                             });

                             $.ajax({
                                 type: "POST",
                                 url: "/project/projectpage",
                                 dataType: "json",
                                 success: function(result){
                                     self.projects = result.list;
                                     self.total =result.total;
                                     var obj_1={
                                         obj_box:'.page_1',//翻页容器
                                         total_item:result.total,   //条目总数
                                         per_num:result.pageSize,     //每页条目数*/
                                         current_page:result.pageNum   //当前页
                                     };
                                     page_ctrl(obj_1);

                                     $(' .page_ctrl').on('click','button',function () {
                                         var that=$(this);
                                         if(that.hasClass('prev_page')){
        // 可以通过location.search 来获取？后的参数

                                             var x = location.search.replace("start","&none");
                                             var y = x.replace("?","&");
	 window.location.href="/project/pjpage?start="+result.prePage+y;
                                         }
                                         else if(that.hasClass('next_page')){
                   var x = location.search.replace("start","&none");
                   var y = x.replace("?","&");
          window.location.href="/project/pjpage?start="+result.nextPage+y;
                                         }
                                         else if(that.hasClass('page_num')&&!that.hasClass('current_page')){
                                             var x = location.search.replace("start","&none");
                                             var y = x.replace("?","&");

                                      window.location.href="/project/pjpage?start="+that.html()+y;
                                         }
                                         else if(that.hasClass('to_page_num')){
                                             var x = locxation.search.replace("start","&none");
                                             var y = x.replace("?","&");
                                            window.location.href="/project/pjpage?start="+that.siblings('.input_page_num').val()+y;
                                         }
                                     });

                                 },


                             });



                         },

					 });

                            var pabc =  new Vue({
                                el: '#countall',
                                data:{
                                    total:"",
                                },
                                mounted: function () {
                                    var self=this;
                                    // alert(nav_vue.isLogined);
                                    $.ajax({
                                        type: "POST",
                                        url: "/project/projectpage",
                                        dataType: "json",
                                        success: function(result){
                                            self.total =result.total;
                                        },
                                    });
                                },

                            });




                    </script>




				</div>
			</div>


            </div>
		</div>



	<footer>
		<div class="container-fluid_foot">
			<div class="foot_panel">
				<div class="foot_panel_left">
					<div class="img">
						<a href="#">
							<img src="../../static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
						</a>
					</div>
					<div class="beian">
						<p>创客网 © 2018－
							<br>肇庆学院东软实训班第三组版权所有
							<br>[粤ICP备xxxxxxx号-x] 标识
							<br> 粤公网安备xxxxxxxxxx号</p>
					</div>
				</div>
				<div class="foot_panel_right">
					<div class="foot_panel_right_row">
						<ul class="list-unstyled">
							<li>
								<h4>新手指南</h4>
								<a href="/help/register">注册登录问题</a><br/>
								<a href="/help/process">项目交易流程</a><br/>
								<a href="/help/fund">充值提款问题</a><br/>
								<a href="help/about_agreement">用户注册协议</a><br/>
								<a href="/help/bid_payings">为何付费竞标</a>
							</li>
							<li>
								<h4>特色服务</h4>
								<a href="/help/renzheng">实名认证</a><br/>
								<a href="/help/searchs">精准搜索</a><br/>
								<a href="/help/workhour">小时报价</a><br/>
								<a href="/help/bumanyituikuan">不满意退款</a><br/>
								<a href="/help/bid_card">竞标卡规则</a>
							</li>
							<li>
								<h4>评价信誉</h4>
								<a href="/help/pingjiadengm">操作演示</a><br/>
								<a href="/help/service_payings">服务收费</a><br/>
								<a href="/help/evaluations">用户评价</a><br/>
								<a href="/help/jifens">积分体系</a><br/>
								<a href="/help/controversy">争议解决</a>
							</li>
							<li>
								<h4>答疑中心</h4>
								<a href="/help/pro_relase">项目发布问题</a><br/>
								<a href="/help/bid_joinings">参与竞标问题</a><br/>
								<a href="/help/pro_runnings">项目开发问题</a><br/>
								<a href="/help/pro_done">项目完工问题</a><br/>
								<a href="/help/it_realse">信息发布问题</a>
							</li>
							<li>
								<h4>联系我们</h4>
								<a href="/help/about_us">关于SXSOFT</a><br/>
								<a href="/help/about_company">公司概况</a><br/>
								<a href="/help/contact_us">联系方式</a><br/>
								<a href="/help/about_advertising">广告投放</a><br/>
								<a href="/help/links">友情链接</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!--导航条滚动js-->
	<script type="text/javascript">
        var new_scroll_position = 0;
        var last_scroll_position;
        var header = document.getElementById("headerBar");

        window.addEventListener('scroll', function (e) {
            last_scroll_position = window.scrollY;

            // Scrolling down
            if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
                // header.removeClass('slideDown').addClass('slideUp');
                header.classList.remove("slideDown");
                header.classList.add("slideUp");

                // Scrolling up
            } else if (new_scroll_position > last_scroll_position) {
                // header.removeClass('slideUp').addClass('slideDown');
                header.classList.remove("slideUp");
                header.classList.add("slideDown");
            }

            new_scroll_position = last_scroll_position;
        });
	</script>

	</body>


</html>
