<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/js/vue.js"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <!-- H+样式 -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!--footable-->
    <link href="/static/css/css_cwh/footable/footable.standalone.min.css" rel="stylesheet">
    <script src="/static/js/js_cwh/footable/footable.min.js"></script>
    <!--Echarts-->
    <script src="/static/js/js_lxn/echarts.js"></script>
    <!-- 引入主题 -->
    <script src="/static/js/js_cwh/echarts/macarons.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>项目管理</h5>
                </div>
                <div class="ibox-content">

                    <table id="footable" class="table table-stripped"></table>
                    <script>
                        jQuery(function ($) {
                            var ft = FooTable.init('#footable', {
                                "toggleColumn": "last",
                                "expandFirst": false,
                                "paging": {
                                    "enabled": true,
                                    "position": "center",
                                    // "container": "#paging-ui-container",
                                    "size": 10,
                                    "countFormat": "第 {CP} 页 共 {TP} 页"
                                },
                                "sorting": {
                                    "enabled": true
                                },
                                "filtering": {
                                    "enabled": true,
                                    "connectors": true,
                                    "delay": 300,
                                    "position": "right",
                                    "placeholder": "search",
                                    "exactMatch": false,
                                    "ignoreCase": true,
                                    "min": 1,
                                    "space": "OR",
                                },
                                "columns": [
                                    {
                                        "name": "projName",
                                        "title": "项目名称",
                                        "type": "text",
                                    },
                                    {
                                        "name": "proPromName",
                                        "title": "发布者",
                                        "type": "text",
                                    },
                                    {
                                        "name": "projSecret",
                                        "title": "保密类型",
                                        "type": "text",
                                    },
                                    {
                                        "name": "projState",
                                        "title": "项目状态",
                                        "type": "text",
                                    },
                                    {
                                        "name": "projType",
                                        "title": "项目类型",
                                        "type": "text",
                                    },
                                    {
                                        "name": "projnum",
                                        "title": "收藏人数",
                                        "type": "text",
                                    },
                                    {
                                        "name": "projCreattime",
                                        "title": "创建时间",
                                        "type": "text",
                                    },
                                    {
                                        "name": "proStuName",
                                        "title": "承接方",
                                        "breakpoints": "all",
                                        "formatter": function(value, options, rowData){
                                            if(value === "")
                                                value = "暂无承接方";
                                            return value;
                                        },
                                    },
                                    {
                                        "name": "bidnum",
                                        "title": "竞标个数",
                                        "breakpoints": "all"
                                    },
                                    {
                                        "name": "projMoney",
                                        "title": "项目预算",
                                        "breakpoints": "all"
                                    },
                                    {
                                        "name": "projCycletime",
                                        "title": "开发周期",
                                        "breakpoints": "all"
                                    },
                                    {
                                        "name": "projStarttime",
                                        "title": "开始时间",
                                        "breakpoints": "all"
                                    },
                                    {
                                        "name": "projEndtime",
                                        "title": "结束时间",
                                        "breakpoints": "all"
                                    },
                                    {
                                        "name": "projIntro",
                                        "title": "项目介绍",
                                        "breakpoints": "all"
                                    },
                                ],

                                "rows": $.get("/admin/adminproj"),
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>项目分类排行</h5>
                </div>
                <div class="ibox-content">
                    <div id="echart_like" style="height: 500px;"></div>
                    <script>
                        // 第二个参数可以指定前面引入的主题
                        var chart = echarts.init(document.getElementById('echart_like'), 'macarons');

                        chart.title = '项目分类 - 条形图';

                        option = {
                            title: {
                                text: '项目数排行',
                                subtext: '项目数'
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            legend: {
                                data: ['项目数']
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: {
                                type: 'value',
                                boundaryGap: [0, 0.01]
                            },
                            yAxis: {
                                type: 'category',
                                data: []
                            },
                            dataZoom: [
                                {
                                    type: 'slider',
                                    yAxisIndex: 0,
                                    filterMode: 'empty'
                                },
                                {
                                    type: 'inside',
                                    yAxisIndex: 0,
                                    filterMode: 'empty'
                                }
                            ],
                            series: [
                                {
                                    name: '项目数',
                                    type: 'bar',
                                    data: []
                                }
                            ]
                        };
                        chart.setOption(option);
                        chart.showLoading();

                        // 异步加载数据
                        $.get('/admin/getProjTagEchart').done(function (data) {
                            chart.hideLoading();
                            // 填入数据

                            chart.setOption({
                                yAxis: {
                                    data: data.categories
                                },
                                series: [
                                    {
                                        // 根据名字对应到相应的系列
                                        name: '项目数',
                                        data: data.data
                                    },
                                ]
                            })
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>项目状态图</h5>
                </div>
                <div class="ibox-content">
                    <div id="echart_state" style="height: 300px;"></div>
                    <script>
                        // 第二个参数可以指定前面引入的主题
                        var chartstate = echarts.init(document.getElementById('echart_state'), 'macarons');

                        chartstate.title = '项目分类 - 条形图';

                        option = {
                            tooltip : {
                                trigger: 'axis',
                                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis : [
                                {
                                    type : 'category',
                                    axisTick: {
                                        alignWithLabel: true
                                    }
                                }
                            ],
                            yAxis : [
                                {
                                    type : 'value'
                                }
                            ],
                            series : [{
                                name: '项目数',
                                type: 'bar',
                                data: []
                            }]
                        };

                        chartstate.setOption(option);
                        chartstate.showLoading();

                        // 异步加载数据
                        $.get('/admin/getProjStateEchart').done(function (data) {
                            chartstate.hideLoading();
                            // 填入数据
                            chartstate.setOption({
                                xAxis: {
                                    data: data.categories
                                },
                                series: [
                                    {
                                        // 根据名字对应到相应的系列
                                        name: '项目数',
                                        data: data.data
                                    },
                                ]
                            })
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>