<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/js/vue.js"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <!-- H+样式 -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!--footable-->
    <link href="/static/css/css_cwh/footable/footable.standalone.min.css" rel="stylesheet">
    <script src="/static/js/js_cwh/footable/footable.min.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>项目管理</h5>
                </div>
                <div class="ibox-content">

                    <table id="footable" class="table table-stripped"></table>
                    <script>
                        jQuery(function ($) {
                            var ft = FooTable.init('#footable', {
                                "toggleColumn": "last",
                                "expandFirst": false,
                                "paging": {
                                    "enabled": true,
                                    "position": "center",
                                    // "container": "#paging-ui-container",
                                    "size": 10,
                                    "countFormat": "第 {CP} 页 共 {TP} 页"
                                },
                                "sorting": {
                                    "enabled": true
                                },
                                "filtering": {
                                    "enabled": true,
                                    "connectors": true,
                                    "delay": 300,
                                    "position": "right",
                                    "placeholder": "search",
                                    "exactMatch": false,
                                    "ignoreCase": true,
                                    "min": 1,
                                    "space": "OR",
                                },
                                "columns": [
                                    {
                                        "name": "jobName",
                                        "title": "职位名称",
                                        "type": "text",
                                    },
                                    {
                                        "name": "jobType",
                                        "title": "职位类型",
                                        "type": "text",
                                    },
                                    {
                                        "name": "jobState",
                                        "title": "招聘状态",
                                        "type": "text",
                                    },
                                    {
                                        "name": "jobNum",
                                        "title": "招聘人数",
                                        "type": "text",
                                    },
                                    {
                                        "name": "jobMoney",
                                        "title": "职位资金",
                                        "type": "text",
                                    },
                                    {
                                        "name": "usernum",
                                        "title": "投递人数",
                                        "type": "text",
                                    },
                                    {
                                        "name": "jobStudio",
                                        "title": "创建工作室",
                                        "type": "text",
                                    },
                                    {
                                        "name": "jobCreattime",
                                        "title": "创建时间",
                                        "type": "text",
                                    },
                                    {
                                        "name": "jobIntro",
                                        "title": "职位介绍",
                                        "breakpoints": "all"
                                    },
                                    {
                                        "name": "jobRequire",
                                        "title": "职位需求",
                                        "breakpoints": "all"
                                    },
                                ],

                                "rows": $.get("/admin/adminjob"),
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>