<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/js/vue.js"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <!-- H+样式 -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!--footable-->
    <link href="/static/css/css_cwh/footable/footable.standalone.min.css" rel="stylesheet">
    <script src="/static/js/js_cwh/footable/footable.min.js"></script>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>普通用户信息表</h5>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="footable" class="table table-stripped"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footable-->
    <script>
        jQuery(function ($) {
            var ft = FooTable.init('#footable', {
                "toggleColumn": "last",
                "expandFirst": false,
                "paging": {
                    "enabled": true,
                    "position": "center",
                    // "container": "#paging-ui-container",
                    "size": 10,
                    "countFormat": "第 {CP} 页 共 {TP} 页"
                },
                "sorting": {
                    "enabled": true
                },
                "filtering": {
                    "enabled": true,
                    "connectors": true,
                    "delay": 600,
                    "position": "right",
                    "placeholder": "search",
                    "exactMatch": false,
                    "ignoreCase": true,
                    "min": 1,
                    "space": "OR",
                },
                "columns": [
                    {
                        "name": "userName",
                        "title": "姓名",
                        "sortable": true,
                        "visible": true,
                        "type": "text",
                        "formatter": function(value, options, rowData){
                            if (value && value.length > 10) {
                                value = value.substring(0, 10) + '...';
                            }
                            return value;
                        },
                        "style": {}
                    },
                    {
                        "name": "allEmail",
                        "title": "用户邮箱",
                        "type": "text",
                        "formatter": function(value, options, rowData){
                            if (value && value.length > 20) {
                                value = value.substring(0, 20) + '...';
                            }
                            return value;
                        },
                    },
                    {
                        "name": "userPhone",
                        "title": "手机号",
                        "type": "text",
                        "style": {}
                    },
                    {
                        "name": "userLogintime",
                        "title": "最后登录时间",
                        "type": "text",
                        "style": {},
                        "breakpoints": "xs"
                    },
                    {
                        "name": "allState",
                        "title": "用户状态",
                        "type": "text",
                        "formatter": function(value, options, rowData){
                            if(value === "1")
                                value = "正常";
                            else value = "账号异常";
                            return value;
                        },
                        "breakpoints": "xs"
                    },
                    {
                        "name": "userEntrytime",
                        "title": "加入工作室时间",
                        "breakpoints": "all"
                    },
                    {
                        "name": "userQuittme",
                        "title": "离开工作室时间",
                        "breakpoints": "all"
                    }

                ],

                "rows": $.get("/admin/userList"),
            });
        });
    </script>
    <!-- 折叠ibox -->
    <script>
        $('.collapse-link').click(function () {
            var ibox = $(this).closest('div.ibox');
            var button = $(this).find('i');
            var content = ibox.find('div.ibox-content');
            content.slideToggle(200);
            button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            ibox.toggleClass('').toggleClass('border-bottom');
            setTimeout(function () {
                ibox.resize();
                ibox.find('[id^=map-]').resize();
            }, 50);
        });
    </script>
</body>
</html>