<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目详情</title>


		<link href="/static/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
		<link href="/static/css/css_psw/style_head.css" rel="stylesheet"/>
		<script src="/static/js/jquery.min.js?v=2.1.4"></script>
		<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="/static/js/vue.js"></script>
		<script type="text/javascript" src="/static/js/js_hhm/star.js"></script>
		<script type="text/javascript" src="/static/js/js_hhm/jquery.raty.js"></script>
		<link href="/static/css/css_hhm/detail.css" rel="stylesheet" />




	</head>

	<body>
	<header class="header-navigation" id="headerBar">
		<div class="nav-content-filter">
			<div class="row_main">
				<!--logo-->
				<div class="main_logo">
					<img class="img-responsive img-rounded nav-img-logo" src="/static/img/img_psw/logo2.png" />
				</div>
				<!--超链接-->
				<div class="nav-main-right">
					<nav class="cd-nav">
						<ul>
							<li><a class="active" href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
							<li><a href="/project/xwh">项目大厅</a></li>
							<li><a href="/stuhall/hall">服务大厅</a></li>
							<li><a href="/resource/home">创客讲堂</a></li>
							<li><a href="/original/all">原创中心</a></li>
							<li><a href="/ForJob/search">在线求职</a></li>
							<li><a href="/honor/honorPage">荣誉中心</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!--头像、个人中心、注销等-->
			<div id="headVue">
				<ul class="nav navbar-top-links navbar-right" style="margin-right: 5%;">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" style="padding: 5% 0 0 0;background: #fff0;" href="#" >
							<!--没有登陆-->
							<img class="nav-avatar" v-if="!isLogined" src="/static/img/img_chh/akari.jpg"/>
							<!--已经登录-->
							<img class="nav-avatar" v-else :src="img"/>
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu dropdown-alerts nav-dropdown-menu">
							<!--##########未登录###############-->
							<li v-if="!isLogined">
								<a href="/login"><p class="nav-text-center">登录</p></a>
							</li>
							<li v-if="!isLogined">
								<a href="/registered/select/new"><p class="nav-text-center">注册</p></a>
							</li>
							<!--##########已登录###############-->
							<li v-if="isLogined">
								<a :href="centerUrl"><p class="nav-text-center">个人中心</p></a>
							</li>
							<li v-if="isLogined && !isPromul">
								<a href="/studio/studioNone"><p class="nav-text-center">我的工作室</p></a>
							</li>
							<li v-if="isLogined">
								<a href="/logout"><p class="nav-text-center">注销</p></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<script type="text/javascript">
                var nav_vue = new Vue({
                    el:'#headVue',
                    data:{
                        loginUser: '',
                        isLogined: false,
                        isPromul : '',
                        img : '',
                        centerUrl : '',
                    },
                    created: function () {
                        this.getUser();
                    },
                    methods: {
                        getUser: function(){
                            $.ajax({
                                type: "POST",
                                url: "/home/getLoginUser",
                                dataType: "json",
                                success: function(result){
                                    if(result.code === 404){
                                        nav_vue.isLogined = false;
                                    }
                                    else if(result.code === 0){
                                        nav_vue.isLogined = true;
                                        nav_vue.isPromul = result.isPromul;
                                        nav_vue.loginUser = result.loginUser;
                                        nav_vue.img = result.img;
                                        nav_vue.centerUrl = result.centerUrl;
                                    }
                                }
                            });
                        },
                    }
                });
			</script>
		</div>
	</header>
	<div class="header-take-space"><!--这是占位的div,默认高度为100px，可以自己修改--></div>

	<div class="container" id="ori_details" v-cloak>
			<div class="top">
				<div class="categories">
					<a href="/original/all">开源项目</a>
					<span class='symbol'>></span>详情
					<!--<a href="/explore/starred/web-app-develop">{{curOri.origType}}</a>
					<span class='symbol'>></span>
					<a href="/explore/starred/webframework">{{curOri.origTag}}</a>-->

				</div>
				<div class="header-details">
					<div class="project-title" style="display: flex;">
						<h3 style="display: flex;">
<a  class="title project-namespace-path" target="_blank" :title=curOri.origName style="float: left;">{{users.userName}}</a><p>/{{curOri.origName}}</p>
</h3>
						<div class='project-meta' style="display: flex;">
							<p class="ui small  lang-label" :title=curOri.origType>{{curOri.origType}}</p>
							<p class="ui small  lang-label" :title=tag v-for="tag in curOri.origTag" >{{tag}}</p>

						</div>
						<div :grade="curOri.origGrade" id="star"></div>
					</div>

					<div class="project-actions">

						<span><a href="javascript:void(0)" @click="colori(curOri.origId)"><i v-if="show1" style="color:red;" class="fa fa-star"></i><i v-if="show2" class="fa fa-star"></i>收藏</a></span>
						<span style="margin-left: 20px;"><a :href="'/file/down?fileName='+curOri.origName+'.zip'" ><img src="/static/img/img_hhm/download.png"/>下载</a></span>


					</div>


				</div>
			</div>
			<div class="clearfix"></div>
			<div class="content">
				<div class="file-title">
					<img src="../../static/img/img_hhm/document.png" /><span>README</span><p style="display: inline; margin-left: 20px; font-size: small">提交于 {{curOri.origUploadtime|dateFormat}}</p>

				</div>
				<div class="file-content">
					<p><strong>项目说明</strong></p>

					<p>{{curOri.origIntro}}</p>
					<ul id="rating1" class="rating" style="float: right;">
						<li class="rating-item" title="很不好"></li>
						<li class="rating-item" title="不好"></li>
						<li class="rating-item" title="一般"></li>
						<li class="rating-item" title="好"></li>
						<li class="rating-item" title="很好"></li>
					</ul>
				<!--	<script>
					$('#rating1').star({
					mode: 'LightEntire', //半颗星
					num: 2
					});
					$('#rating1').on('chosen', function() {
					$('#rating1').star('unbindEvent');
					})
</script>-->
				</div>

			</div>

			<div class="other">
				<h3>相关推荐</h3>
				<div class='item' v-for="pro in other">

					<a href="/shuzheng" class="project-creator-link ui avatar image pull-left"><img src="../../static/img/img_hhm/renren.png" />
					</a>
					<div class='project-content'>
						<div class='project-title1'>
							<h3 style="margin-top: 0;">
<a  class="title project-namespace-path" target="_blank" :title=pro.origName style="float: left;">{{pro.origName}}</a>
								<!--<a  class="title project-namespace-path" target="_blank"  style="float: left;">人人开源项目</a>-->
</h3>
							<div :id="pro.origGrade" class="star"></div>


						</div>
						<div class='project-desc'>{{pro.origIntro}}</div>
						<div class='project-meta'>
							<a href="/explore/starred?lang=Java" class="ui small  lang-label">{{pro.origType}}</a>
							<a href="/explore/starred/webframework"  style="margin-right: 5px" class="ui small  lang-label" v-for="item in pro.origTag">{{item}}</a>

							<div class='pull-right'>
								<a href="##" class="ui small  lang-label" style="font-size: 14px; margin-right: 5px;">{{pro.users.userName}}</a>
								<span class='timeago' :title=pro.origUploadtime|dateFormat>
							{{pro.origUploadtime|dateFormat}}
							</span>
							</div>
						</div>
					</div>
				</div>
<!--				<div class='item'>
					<a href="/shuzheng" class="project-creator-link ui avatar image pull-left"><img src="../../static/img/img_hhm/renren.png" />
					</a>
					<div class='project-content'>
						<div class='project-title1'>
							<h3>
<a  class="title project-namespace-path" target="_blank" title="人人开源项目" style="float: left;">人人开源项目</a>
</h3>
							<div id="star3"></div>




						</div>
						<div class='project-desc'>基于Spring+SpringMVC+Mybatis分布式敏捷开发系统架构，提供整套公共微服务服务模块：集中权限管理（单点登录）、内容管理、支付中心、用户管理（支持第三方登录）、微信平台、存储系统、配置中心、日志分析、任务和通知等，支持服务治理、监控和追踪，努力为中小型企业打造全方位J2EE企业级开发解决方案。</div>
						<div class='project-meta'>
							<a href="/explore/starred?lang=Java" class="ui small  lang-label">Java</a>
							<a href="/explore/starred/webframework" class="ui small  lang-label">Web开发框架</a>
							<a href="/explore/starred?license=MIT" class="ui small  lang-label">MIT</a>
							<div class='pull-right'>
								<a href="##" class="ui small  lang-label" style="font-size: 14px; margin-right: 5px;">人人工作室</a>
								<span class='timeago' title='2个月前'>
2个月前
</span>
							</div>
						</div>
					</div>
				</div>
				<div class='item'>
					<a href="/shuzheng" class="project-creator-link ui avatar image pull-left"><img src="../../static/img/img_hhm/renren.png" />
					</a>
					<div class='project-content'>
						<div class='project-title1'>
							<h3>
<a  class="title project-namespace-path" target="_blank" title="人人开源项目" style="float: left;">人人开源项目</a>
</h3>
							<div id="star4"></div>


						</div>
						<div class='project-desc'>基于Spring+SpringMVC+Mybatis分布式敏捷开发系统架构，提供整套公共微服务服务模块：集中权限管理（单点登录）、内容管理、支付中心、用户管理（支持第三方登录）、微信平台、存储系统、配置中心、日志分析、任务和通知等，支持服务治理、监控和追踪，努力为中小型企业打造全方位J2EE企业级开发解决方案。</div>
						<div class='project-meta'>
							<a href="/explore/starred?lang=Java" class="ui small  lang-label">Java</a>
							<a href="/explore/starred/webframework" class="ui small  lang-label">Web开发框架</a>
							<a href="/explore/starred?license=MIT" class="ui small  lang-label">MIT</a>
							<div class='pull-right'>
								<a href="##" class="ui small  lang-label" style="font-size: 14px; margin-right: 5px;">人人工作室</a>
								<span class='timeago' title='2个月前'>
2个月前
</span>
							</div>
						</div>
					</div>
				</div>-->
			</div>

		</div>


		<footer>
			<div class="container-fluid_foot">
				<div class="foot_panel">
					<div class="foot_panel_left">
						<div class="img">
							<a href="#">
								<img src="../../static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
							</a>
						</div>
						<div class="beian">
							<p>创客网 © 2018－
								<br>肇庆学院东软实训班第三组版权所有
								<br>[粤ICP备xxxxxxx号-x] 标识
								<br> 粤公网安备xxxxxxxxxx号</p>
						</div>
					</div>
					<div class="foot_panel_right">
						<div class="foot_panel_right_row">
							<ul class="list-unstyled">
								<li>
									<h4>新手指南</h4>
									<a href="/help/register">注册登录问题</a><br />
									<a href="/help/process">项目交易流程</a><br />
									<a href="/help/fund">充值提款问题</a><br />
									<a href="help/about_agreement">用户注册协议</a><br />
									<a href="/help/bid_payings">为何付费竞标</a>
								</li>
								<li>
									<h4>特色服务</h4>
									<a href="/help/renzheng">实名认证</a><br />
									<a href="/help/searchs">精准搜索</a><br />
									<a href="/help/workhour">小时报价</a><br />
									<a href="/help/bumanyituikuan">不满意退款</a><br />
									<a href="/help/bid_card">竞标卡规则</a>
								</li>
								<li>
									<h4>评价信誉</h4>
									<a href="/help/pingjiadengm">操作演示</a><br />
									<a href="/help/service_payings">服务收费</a><br />
									<a href="/help/evaluations">用户评价</a><br />
									<a href="/help/jifens">积分体系</a><br />
									<a href="/help/controversy">争议解决</a>
								</li>
								<li>
									<h4>答疑中心</h4>
									<a href="/help/pro_relase">项目发布问题</a><br />
									<a href="/help/bid_joinings">参与竞标问题</a><br />
									<a href="/help/pro_runnings">项目开发问题</a><br />
									<a href="/help/pro_done">项目完工问题</a><br />
									<a href="/help/it_realse">信息发布问题</a>
								</li>
								<li>
									<h4>联系我们</h4>
									<a href="/help/about_us">关于SXSOFT</a><br />
									<a href="/help/about_company">公司概况</a><br />
									<a href="/help/contact_us">联系方式</a><br />
									<a href="/help/about_advertising">广告投放</a><br />
									<a href="/help/links">友情链接</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	<script type="text/javascript">
        var new_scroll_position = 0;
        var last_scroll_position;
        var header = document.getElementById("headerBar");

        window.addEventListener('scroll', function (e) {
            last_scroll_position = window.scrollY;

            // Scrolling down
            if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
                // header.removeClass('slideDown').addClass('slideUp');
                header.classList.remove("slideDown");
                header.classList.add("slideUp");

                // Scrolling up
            } else if (new_scroll_position > last_scroll_position) {
                // header.removeClass('slideUp').addClass('slideDown');
                header.classList.remove("slideUp");
                header.classList.add("slideDown");
            }

            new_scroll_position = last_scroll_position;
        });
	</script>
		<script type="text/javascript">

            /*$('#rating1').star({
                readOnly:false,
                num: 5
            });
            $('#rating1').on('chosen',function(){
                $('#rating1').star('unbindEvent');
            })*/


/*            $('#star').raty({
                readOnly: true,
                score: 5,
                hints: ["1", "2", "3", "4", "5"]
            });*/

           /*     $(function() {
                    $(".project-actions span").click(function() {
                        if($(this).find("i").attr("isImg") == 1) {

                            $(this).find("i").css("color","#000000");
                            $(this).find("i").attr("isImg", "0");
                        } else {
                            $(this).find("i").css("color","red")
                            $(this).find("i").attr("isImg", "1");
                        }

                    });
                })*/



            /*
                        $('#star2').raty({
                            readOnly: true,
                            score: 5,
                            hints: ["1", "2", "3", "4", "5"]
                        });


                        $('#star3').raty({
                            readOnly: true,
                            score: 5,
                            hints: ["1", "2", "3", "4", "5"]
                        });

                        $('#star4').raty({
                            readOnly: true,
                            score: 5,
                            hints: ["1", "2", "3", "4", "5"]
                        });
            */

            var ori = new Vue({
                el:'#ori_details',
                data:{
                   	oriId : '',
                    curOri: '',
					users:'',
                    isLogined: false,
                    isCollected: false,
                    isScored : false,
					show1:false,
					show2:false,
					other:''
                },
                created: function () {
                    this.oriId = this.urlparse().file;
                    this.getCurOri();
                },
                methods: {
                    colori:function(id){
                        if(!ori.isLogined){
                            alert("请登录！");
                            return;
						}
						else if(!ori.isCollected) {
                            var url = "/original/insertColOri?oriId=" + id;
                            $.ajax({
                                url: url,
                                type: 'GET',


                                dataType: "json",
                                success: function (result) {
                                    ori.show1=true;
                                    ori.show2=false;
                                    ori.isCollected=true;
                                   return;
                                }
                            })
                        }/*else{
                            var url = "/original/insertColOri?oriId=" + id+"&isCol="+ori.isCollected;
                            $.ajax({
                                url: url,
                                type: 'GET',
                                dataType: "json",
                                success: function (result) {
                                    ori.show1=result;
                                    ori.show2=!result;
                                    ori.isCollected=result;
                                    return;
                                }
                            })
                        }
                    },*/
                        else{
                            var url = "/original/deleteColOri?oriId=" + id;
                            $.ajax({
                                url: url,
                                type: 'GET',
                                dataType: "json",
                                success: function (result) {
                                    ori.show2=true;
                                    ori.show1=false;
                                    ori.isCollected=false;
                                    return;
                                }
                            })
						}
					},
                    //url转换方法
                    urlparse: function(){
                        var url = window.location.href;
                        var a = document.createElement('a');
                        a.href = url;
                        var obj = {
                            source: url,
                            protocol: a.protocol.replace(':', ''),
                            host: a.hostname,
                            port: a.port,
                            query: a.search,
                            file: (a.pathname.match(/\/([^\/?#]+)$/i) || [, ''])[1],
                            hash: a.hash.replace('#', ''),
                            path: a.pathname.replace(/^([^\/])/, '/$1'),
                            relative: (a.href.match(/tps?:\/\/[^\/]+(.+)/) || [, ''])[1],
                            segments: a.pathname.replace(/^\//, '').split('/'),
                            params: (function() {
                                var ret = {};
                                var seg = a.search.replace(/^\?/, '').split('&').filter(function(v,i){
                                    if (v!==''&&v.indexOf('=')) {
                                        return true;
                                    }
                                });
                                seg.forEach( function(element, index) {
                                    var idx = element.indexOf('=');
                                    var key = element.substring(0, idx);
                                    var val = element.substring(idx+1);
                                    ret[key] = val;
                                });
                                return ret;
                            })()
                        };
                        return obj;
                    },

                    getCurOri:function () {
                        var data = "origId=" + this.oriId;
                        var self=this;
                        $.ajax({
                            type: "POST",
                            url: "/original/getDetails",
                            data: data,
							async:false,
                            dataType: "json",
                            success: function(result){

                                if(result.code === 0){
                                    self.users=result.curOri.users;
                                    self.curOri = result.curOri;
                                    self.curOri.origTag = result.curOri.origTag.split(",");
                                    self.other=result.other;
                                    for(var i=0;i<result.other.length;i++){
                                        var s=result.other[i].origTag.split(",");
                                        /*console.log("@@@"+result.other[i].origTag);
                                        console.log(s);*/
                                        result.other[i].origTag=s;
                                    }
                                    self.isLogined = result.isLogined;
                                    self.isCollected = result.isCollected;
                                    self.isLiked = result.isScored;
                                    console.log(self.isLogined);
                                    console.log(self.isCollected);
                                    console.log(self.isScored);
                                    console.log(self.curOri);
                                    if(!self.isLogined)
                                        self.show2=true;
                                    else {if(self.isCollected)
                                        self.show1=true;
                                    else
                                        self.show2=true;}
                                }
                            }
                        });
                    },
                    /*collect : function () {
                        if(this.isCollected){
                            alert("您已经收藏过了");
                            return ;
                        }
                        $.ajax({
                            type: "POST",
                            url: "/resource/collectRes/" + res.resId,
                            dataType: "json",
                            success: function(result){
                                if(result.code === 0){
                                    res.isCollected = true;
                                    ++res.collectedNum;
                                }
                                else{
                                    alert(result.msg);
                                }
                            }
                        });
                    },*/
                  /*  like : function () {
                        if(this.isLiked){
                            alert("您已经点过赞了");
                            return ;
                        }
                        $.ajax({
                            type: "POST",
                            url: "/resource/likeRes/" + res.resId,
                            dataType: "json",
                            success: function(result){
                                if(result.code === 0){
                                    res.isLiked = true;
                                    ++res.curRes.resLikenum;
                                }
                                else{
                                    alert(result.msg);
                                }
                            }
                        });
                    },*/
                },
                filters: {
                    dateFormat:function(val){
                        if(val==null)
                            return null;
                        var d = new Date(val);
                        var now = new Date();
                        var year = now.getFullYear()-d.getFullYear();
                        var month = now.getMonth()-d.getMonth() ;
                        var total = year*12+month;
                        if (total==0) total=total+1;
                        // var day = d.getDate() <10 ? '0' + d.getDate() : '' + d.getDate();
                        // // var hour = d.getHours();
                        // // var minutes = d.getMinutes();
                        // // var seconds = d.getSeconds();
                        return  total+"个月前" ;
                    },
                },
				mounted:function () {

                    /*$('#star').raty({
                        readOnly: true,
                        score: 3,
                        hints: ["1", "2", "3", "4", "5"]
                    });*/

                    /*$(".other").find(".item").each( function () {
                        alert("123");
                        var grade=$(this).find(".star").attr("id");

                        $(this).find(".star").raty({
                            readOnly: true,
                            score:grade,
                            hints: ["1", "2", "3", "4", "5"]
                        });
                    })*/
                    $('#star').raty({
                        readOnly: true,
                        score: $("#star").attr("grade"),
                        hints: ["1", "2", "3", "4", "5"]
                    });
                    $(".other").find(".item").each( function () {
                        var grade=$(this).find(".star").attr("id");
                        $(this).find(".star").raty({
                            readOnly: true,
                            score:grade,
                            hints: ["1", "2", "3", "4", "5"]
                        });
                    })
                }
            });
		</script>
	</body>

</html>