<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>项目详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../../static/css/css_psw/style_head.css" rel="stylesheet" />
		<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
		<script type="text/javascript" src="../../static/js/js_hhm/jquery.raty.js"></script>
		<script type="text/javascript" src="../../static/js/js_hhm/star.js"></script>
		<link href="../../static/css/css_hhm/detail.css" rel="stylesheet" />
	</head>

	<body>
		<header>
			<div class="container-fluid container-fluid_up">
				<div class="row_up">
					<ul class="list-unstyled">
						<li>
							<a href="#">帮助中心</a>
						</li>
						<li>
							<a href="#">注册</a>
						</li>
						<li>
							<a href="#">登录</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container-fluid container-fluid_main">
				<div class="row_main">
					<div class="main_logo">
						<img class="img-responsive img-rounded" src="../../static/img/img_psw/logo2.png" />
					</div>
					<div class="main_right">
						<ul class="nav_psw list-unstyled">
							<li>
								<a>首 页</a>
							</li>
							<li>
								<a>项目大厅</a>
							</li>
							<li>
								<a>服务大厅</a>
							</li>
							<li>
								<a>创客讲堂</a>
							</li>
							<li class="active">
								<a>原创中心</a>
							</li>
							<li>
								<a>荣誉中心</a>
							</li>
							<li>
								<a>在线求职</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="top">
				<div class="categories">
					<a href="/explore">开源项目</a>
					<span class='symbol'>></span>
					<a href="/explore/starred/web-app-develop">Java</a>
					<span class='symbol'>></span>
					<a href="/explore/starred/webframework">权限管理</a>

				</div>
				<div class="header-details">
					<div class="project-title" style="display: flex;">
						<h3 style="display: flex;">
<a  class="title project-namespace-path" target="_blank" title="人人开源项目" style="float: left;">人人工作室</a><p>/人人开源项目</p>
</h3>
						<div class='project-meta' style="display: flex;">
							<p class="ui small  lang-label" title="主要编程语言">Java</p>
							<p class="ui small  lang-label" title="">Web开发框架</p>

						</div>
						<div id="star"></div>
						<script>
							$('#star').raty({
								readOnly: true,
								score: 5,
								hints: ["1", "2", "3", "4", "5"]
							});
						</script>
					</div>

					<div class="project-actions">

						<span><a href="##" ><img isImg="0" src="../../static/img/img_hhm/xing.png"/>收藏</a></span>
						<span style="margin-left: 20px;"><a href="###" ><img src="../../static/img/img_hhm/download.png"/>下载</a></span>
						<script language="javascript">
							$(function() {
								$(".action span").click(function() {
									if($(this).find("img").attr("isImg") == 1) {

										$(this).find("img").attr("src", "../../static/img/img_hhm/xing.png");
										$(this).find("img").attr("isImg", "0");
									} else {
										$(this).find("img").attr("src", "../../static/img/img_hhm/xing1.png");
										$(this).find("img").attr("isImg", "1");
									}

								});
							})
						</script>

					</div>
					<script language="javascript">
						$(function() {
							$(".project-actions span").click(function() {
								if($(this).find("img").attr("isImg") == 1) {

									$(this).find("img").attr("src", "../../static/img/img_hhm/xing.png");
									$(this).find("img").attr("isImg", "0");
								} else {
									$(this).find("img").attr("src", "../../static/img/img_hhm/xing1.png");
									$(this).find("img").attr("isImg", "1");
								}

							});
						})
					</script>

				</div>
			</div>
			<div class="clearfix"></div>
			<div class="content">
				<div class="file-title">
					<img src="../../static/img/img_hhm/document.png" /><span>README</span>

				</div>
				<div class="file-content">
					<p><strong>项目说明</strong></p>

					<p>基于Spring+SpringMVC+Mybatis分布式敏捷开发系统架构，提供整套公共微服务服务模块：集中权限管理（单点登录）、内容管理、支付中心、用户管理（支持第三方登录）、微信平台、存储系统、配置中心、日志分析、任务和通知等，支持服务治理、监控和追踪，努力为中小型企业打造全方位J2EE企业级开发解决方案。</p>
					<ul id="rating1" class="rating" style="float: right;">
						<li class="rating-item" title="很不好"></li>
						<li class="rating-item" title="不好"></li>
						<li class="rating-item" title="一般"></li>
						<li class="rating-item" title="好"></li>
						<li class="rating-item" title="很好"></li>
					</ul>
					<script>
						$('#rating1').star({
							mode: 'LightEntire', //半颗星
							num: 0
						});
						$('#rating1').on('chosen', function() {
							$('#rating1').star('unbindEvent');
						})
					</script>
				</div>

			</div>

			<div class="other">
				<h3>相关推荐</h3>
				<div class='item'>
					<a href="/shuzheng" class="project-creator-link ui avatar image pull-left"><img src="../../static/img/img_hhm/renren.png" />
					</a>
					<div class='project-content'>
						<div class='project-title1'>
							<h3 style="margin-top: 0;">
<a  class="title project-namespace-path" target="_blank" title="人人开源项目" style="float: left;">人人开源项目</a>

</h3>
							<div id="star2"></div>
							<script>
								$('#star2').raty({
									readOnly: true,
									score: 5,
									hints: ["1", "2", "3", "4", "5"]
								});
							</script>

						</div>
						<div class='project-desc'>基于Spring+SpringMVC+Mybatis分布式敏捷开发系统架构，提供整套公共微服务服务模块：集中权限管理（单点登录）、内容管理、支付中心、用户管理（支持第三方登录）、微信平台、存储系统、配置中心、日志分析、任务和通知等，支持服务治理、监控和追踪，努力为中小型企业打造全方位J2EE企业级开发解决方案。</div>
						<div class='project-meta'>
							<a href="/explore/starred?lang=Java" class="ui small  lang-label">Java</a>
							<a href="/explore/starred/webframework" class="ui small  lang-label">Web开发框架</a>
							<a href="/explore/starred?license=MIT" class="ui small  lang-label">MIT</a>
							<div class='pull-right'>
								<a href="##" class="ui small  lang-label" style="font-size: 14px; margin-right: 5px;">人人工作室</a>
								<span class='timeago' title='2个月前'>
2个月前
</span>
							</div>
						</div>
					</div>
				</div>
				<div class='item'>
					<a href="/shuzheng" class="project-creator-link ui avatar image pull-left"><img src="../../static/img/img_hhm/renren.png" />
					</a>
					<div class='project-content'>
						<div class='project-title1'>
							<h3>
<a  class="title project-namespace-path" target="_blank" title="人人开源项目" style="float: left;">人人开源项目</a>
</h3>
							<div id="star3"></div>
							<script>
								$('#star3').raty({
									readOnly: true,
									score: 5,
									hints: ["1", "2", "3", "4", "5"]
								});
							</script>

						</div>
						<div class='project-desc'>基于Spring+SpringMVC+Mybatis分布式敏捷开发系统架构，提供整套公共微服务服务模块：集中权限管理（单点登录）、内容管理、支付中心、用户管理（支持第三方登录）、微信平台、存储系统、配置中心、日志分析、任务和通知等，支持服务治理、监控和追踪，努力为中小型企业打造全方位J2EE企业级开发解决方案。</div>
						<div class='project-meta'>
							<a href="/explore/starred?lang=Java" class="ui small  lang-label">Java</a>
							<a href="/explore/starred/webframework" class="ui small  lang-label">Web开发框架</a>
							<a href="/explore/starred?license=MIT" class="ui small  lang-label">MIT</a>
							<div class='pull-right'>
								<a href="##" class="ui small  lang-label" style="font-size: 14px; margin-right: 5px;">人人工作室</a>
								<span class='timeago' title='2个月前'>
2个月前
</span>
							</div>
						</div>
					</div>
				</div>
				<div class='item'>
					<a href="/shuzheng" class="project-creator-link ui avatar image pull-left"><img src="../../static/img/img_hhm/renren.png" />
					</a>
					<div class='project-content'>
						<div class='project-title1'>
							<h3>
<a  class="title project-namespace-path" target="_blank" title="人人开源项目" style="float: left;">人人开源项目</a>
</h3>
							<div id="star4"></div>
							<script>
								$('#star4').raty({
									readOnly: true,
									score: 5,
									hints: ["1", "2", "3", "4", "5"]
								});
							</script>

						</div>
						<div class='project-desc'>基于Spring+SpringMVC+Mybatis分布式敏捷开发系统架构，提供整套公共微服务服务模块：集中权限管理（单点登录）、内容管理、支付中心、用户管理（支持第三方登录）、微信平台、存储系统、配置中心、日志分析、任务和通知等，支持服务治理、监控和追踪，努力为中小型企业打造全方位J2EE企业级开发解决方案。</div>
						<div class='project-meta'>
							<a href="/explore/starred?lang=Java" class="ui small  lang-label">Java</a>
							<a href="/explore/starred/webframework" class="ui small  lang-label">Web开发框架</a>
							<a href="/explore/starred?license=MIT" class="ui small  lang-label">MIT</a>
							<div class='pull-right'>
								<a href="##" class="ui small  lang-label" style="font-size: 14px; margin-right: 5px;">人人工作室</a>
								<span class='timeago' title='2个月前'>
2个月前
</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<footer>
			<div class="container-fluid_foot">
				<div class="foot_panel">
					<div class="foot_panel_left">
						<div class="img">
							<a href="#">
								<img src="../../static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
							</a>
						</div>
						<div class="beian">
							<p>创客网 © 2018－
								<br>肇庆学院东软实训班第三组版权所有
								<br>[粤ICP备xxxxxxx号-x] 标识
								<br> 粤公网安备xxxxxxxxxx号</p>
						</div>
					</div>
					<div class="foot_panel_right">
						<div class="foot_panel_right_row">
							<ul class="list-unstyled">
								<li>
									<h4>新手指南</h4>
									<a href="/help/register">注册登录问题</a><br />
									<a href="/help/process">项目交易流程</a><br />
									<a href="/help/fund">充值提款问题</a><br />
									<a href="help/about_agreement">用户注册协议</a><br />
									<a href="/help/bid_payings">为何付费竞标</a>
								</li>
								<li>
									<h4>特色服务</h4>
									<a href="/help/renzheng">实名认证</a><br />
									<a href="/help/searchs">精准搜索</a><br />
									<a href="/help/workhour">小时报价</a><br />
									<a href="/help/bumanyituikuan">不满意退款</a><br />
									<a href="/help/bid_card">竞标卡规则</a>
								</li>
								<li>
									<h4>评价信誉</h4>
									<a href="/help/pingjiadengm">操作演示</a><br />
									<a href="/help/service_payings">服务收费</a><br />
									<a href="/help/evaluations">用户评价</a><br />
									<a href="/help/jifens">积分体系</a><br />
									<a href="/help/controversy">争议解决</a>
								</li>
								<li>
									<h4>答疑中心</h4>
									<a href="/help/pro_relase">项目发布问题</a><br />
									<a href="/help/bid_joinings">参与竞标问题</a><br />
									<a href="/help/pro_runnings">项目开发问题</a><br />
									<a href="/help/pro_done">项目完工问题</a><br />
									<a href="/help/it_realse">信息发布问题</a>
								</li>
								<li>
									<h4>联系我们</h4>
									<a href="/help/about_us">关于SXSOFT</a><br />
									<a href="/help/about_company">公司概况</a><br />
									<a href="/help/contact_us">联系方式</a><br />
									<a href="/help/about_advertising">广告投放</a><br />
									<a href="/help/links">友情链接</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>

</html>