<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>原创中心</title>
		<script src="http://how2j.cn/study/vue.min.js"></script>
		<script src="http://how2j.cn/study/axios.min.js"></script>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/css_xwh/ProjectsShouYe.css" rel="stylesheet" />
		<link href="/static/css/css_psw/style_head.css" rel="stylesheet" />

		<link href="/static/css/css_hhm/toPage1.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/js_hhm/toPage1.js"></script>
		<script src="http://how2j.cn/study/axios.min.js"></script>
		<script type="text/javascript" src="../../static/js/js_hhm/jquery.raty.js"></script>
		<link href="../../static/css/css_hhm/original.css" rel="stylesheet" />



	</head>

	<body>
	<header class="header-navigation" id="headerBar">
		<div class="nav-content-filter">
			<div class="row_main">
				<!--logo-->
				<div class="main_logo">
					<img class="img-responsive img-rounded nav-img-logo" src="/static/img/img_psw/logo2.png" />
				</div>
				<!--超链接-->
				<div class="nav-main-right">
					<nav class="cd-nav">
						<ul>
							<li><a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
							<li><a href="/project/xwh">项目大厅</a></li>
							<li><a href="/stuhall/hall">服务大厅</a></li>
							<li><a href="/resource/home">创客讲堂</a></li>
							<li><a class="active" href="/original/all">原创中心</a></li>
							<li><a href="/ForJob/search">在线求职</a></li>
							<li><a href="/honor/honorPage">荣誉中心</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!--头像、个人中心、注销等-->
			<div id="headVue">
				<ul class="nav navbar-top-links navbar-right" style="margin-right: 5%;">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" style="padding: 5% 0 0 0;background: #fff0;" href="#" >
							<!--没有登陆-->
							<img class="nav-avatar" v-if="!isLogined" src="/static/img/img_chh/akari.jpg"/>
							<!--已经登录-->
							<img class="nav-avatar" v-else :src="img"/>
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu dropdown-alerts nav-dropdown-menu">
							<!--##########未登录###############-->
							<li v-if="!isLogined">
								<a href="/login"><p class="nav-text-center">登录</p></a>
							</li>
							<li v-if="!isLogined">
								<a href="/registered/select/new"><p class="nav-text-center">注册</p></a>
							</li>
							<!--##########已登录###############-->
							<li v-if="isLogined">
								<a :href="centerUrl"><p class="nav-text-center">个人中心</p></a>
							</li>
							<li v-if="isLogined && !isPromul">
								<a href="/studio/studioNone"><p class="nav-text-center">我的工作室</p></a>
							</li>
							<li v-if="isLogined">
								<a href="/logout"><p class="nav-text-center">注销</p></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<script type="text/javascript">
                var nav_vue = new Vue({
                    el:'#headVue',
                    data:{
                        loginUser: '',
                        isLogined: false,
                        isPromul : '',
                        img : '',
                        centerUrl : '',
                    },
                    created: function () {
                        this.getUser();
                    },
                    methods: {
                        getUser: function(){
                            $.ajax({
                                type: "POST",
                                url: "/home/getLoginUser",
                                dataType: "json",
                                success: function(result){
                                    if(result.code === 404){
                                        nav_vue.isLogined = false;
                                    }
                                    else if(result.code === 0){
                                        nav_vue.isLogined = true;
                                        nav_vue.isPromul = result.isPromul;
                                        nav_vue.loginUser = result.loginUser;
                                        nav_vue.img = result.img;
                                        nav_vue.centerUrl = result.centerUrl;
                                    }
                                }
                            });
                        },
                    }
                });
			</script>
		</div>
	</header>
	<div class="header-take-space" style="height: 50px"><!--这是占位的div,默认高度为100px，可以自己修改--></div>
	<div class="content">
		<div class="search">
			<form id="hesernform" action="/original/search" method="get" >
				<i></i>
				<input type="text" placeholder="搜索项目" name="key"/>
				<button type="submit" id="hserNeeds" >搜索</button>
			</form>

		</div>
		<div class='ui container'>
			<div class='project-lang-categories' id="project-lang-categories">
				<div class='sort-select-segment'>
					<div class='sort-section1'>

						<div class='categories-title'>热门分类：</div>
						<div class='code-tab border-dashed' id='categories-tab'>
							<ul>
								<li>
									<a @click="jump('全部')" :class="addclass1('全部')">全部
									</a>
								</li>
								<li>
									<a @click="jump('网站开发')" :class="addclass1('网站开发')">网站开发
									</a>
								</li>
								<li>
									<a @click="jump('桌面应用')" :class="addclass1('桌面应用')">桌面应用
									</a>
								</li>
								<li>
									<a @click="jump('APP')" :class="addclass1('APP')">APP
									</a>
								</li>
								<li>
									<a @click="jump('UI设计')" :class="addclass1('UI设计')">UI设计
									</a>
								</li>
								<li>
									<a @click="jump('数据采集与分析')" :class="addclass1('数据采集与分析')">数据采集与分析
									</a>
								</li>
								<li>
									<a @click="jump('嵌入式智能硬件')" :class="addclass1('嵌入式与智能硬件')">嵌入式与智能硬件
									</a>
								</li>
								<li>
									<a @click="jump('微信开发')" :class="addclass1('微信开发')">微信开发
									</a>
								</li>
								<li>
									<a @click="jump('管理系统')" :class="addclass1('管理系统')">管理系统
									</a>
								</li>
								<li>
									<a @click="jump('其他分类项目')" :class="addclass1('其他分类项目')">其他分类项目
									</a>
								</li>

							</ul>
						</div>
					</div>
					<div class='sort-section'>
						<div class='languages-title'>热门标签：</div>
						<div class='code-tab border-dashed' id='languages-tab'>
							<ul>
								<li>
									<a @click="jump2('全部')" :class="addclass2('全部')">全部
									</a>
								</li>
								<li>
									<a @click="jump2('Java')" :class="addclass2('Java')">Java
									</a>
								</li>
								<li>
									<a @click="jump2('微服务')" :class="addclass2('微服务')">微服务
									</a>
								</li>
                                <li>
                                    <a @click="jump2('AI')" :class="addclass2('AI')">AI
                                    </a>
                                </li>
								<li>
									<a @click="jump2('JavaScript')" :class="addclass2('JavaScript')">JavaScript
									</a>
								</li>
								<li>
									<a @click="jump2('Objective-C')" :class="addclass2('Objective-C')">Objective-C
									</a>
								</li>
								<li>
									<a @click="jump2('Android')" :class="addclass2('Android')">Android
									</a>
								</li>
                                <li>
                                    <a @click="jump2('Tomcat')" :class="addclass2('Tomcat')">Tomcat
                                    </a>
                                </li>
								<li>
									<a @click="jump2('Go')" :class="addclass2('Go')">Go
									</a>
								</li>
								<li>
									<a @click="jump2('C#')" :class="addclass2('C#')">C#
									</a>
								</li>
								<li>
									<a @click="jump2('Python')" :class="addclass2('Python')">Python
									</a>
								</li>
                                <li>
                                    <a @click="jump2('即时通讯聊天')" :class="addclass2('即时通讯聊天')">即时通讯聊天
                                    </a>
                                </li>
								<li>
									<a @click="jump('C++')" :class="addclass2('C++')">C++
									</a>
								</li>
								<li>
									<a @click="jump('HTML')" :class="addclass2('HTML')">HTML
									</a>
								</li>
								<li>
									<a @click="jump('C')" :class="addclass2('C')">C
									</a>
								</li>
								<li>
									<a @click="jump('NodeJS')" :class="addclass2('NodeJS')">NodeJS
									</a>
								</li>
								<li>
									<a @click="jump('Swift')" :class="addclass2('Swift')">Swift
									</a>
								</li>
								<li>
									<a @click="jump('Ruby')" :class="addclass2('Ruby')">Ruby
									</a>
								</li>
								<li>
									<a @click="jump('微信')" :class="addclass2('微信')">微信
									</a>
								</li>
								<li>
									<a @click="jump('TypeScript')" :class="addclass2('TypeScript')">TypeScript
									</a>
								</li>
								<li>
									<a @click="jump('HTML/CSS')" :class="addclass2('HTML/CSS')">HTML/CSS
									</a>
								</li>
								<li>
									<a @click="jump('Docker')" :class="addclass2('Docker')">Docker
									</a>
								</li>
								<li>
									<a @click="jump('Shell')" :class="addclass2('Shell')">Shell
									</a>
								</li>
								<li>
									<a @click="jump('CSS')" :class="addclass2('CSS')">CSS
									</a>
								</li>
								<li>
									<a @click="jump('Lua')":class="addclass2('Lua')">Lua
									</a>
								</li>
								<li>
									<a @click="jump('C/C++')" :class="addclass2('C/C++')">C/C++
									</a>
								</li>
								<li>
									<a @click="jump('Scala')" :class="addclass2('Scala')">Scala
									</a>
								</li>
								<li>
									<a @click="jump('Kotlin')" :class="addclass2('Kotlin')">Kotlin
									</a>
								</li>
								<li>
									<a @click="jump('Matlab')" :class="addclass2('Matlab')">Matlab
									</a>
								</li>
								<li>
									<a @click="jump('Delphi')" :class="addclass2('Delphi')">Delphi
									</a>
								</li>
								<li>
									<a @click="jump('ActionScript')" :class="addclass2('ActionScript')">ActionScript
									</a>
								</li>
								<li>
									<a @click="jump('Tex/LaTeX')" :class="addclass2('TeX/LaTeX')">TeX/LaTeX
									</a>
								</li>
								<li>
									<a @click="jump('ASP')" :class="addclass2('ASP')">ASP
									</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class='ui grid page git-discover-content'>
				<div class='eleven wide column git-discover-projects'>
					<div class='projects-container'>
						<div class='ui secondary pointing menu' id='git-discover-menu'>
							<h2 class='explore-menu-header'>高分推荐项目</h2>

						</div>


						<div class='ui relaxed divided items' id='git-discover-list'>
							<div class='item' v-for="pro in highscore" v-cloak>
								<a href="/shuzheng" class="project-creator-link ui avatar image pull-left":title=pro.users.userName ><img src="/static/img/img_hhm/renren.png" />
								</a>
								<div class='project-content'>
									<div class='project-title'>
										<div style="display: flex;float: left;">
											<h3>
												<a  :href="'/original/details/'+pro.origId" class="title project-namespace-path" target="_blank" :title=pro.origName style="float: left;">{{pro.origName}}</a>
											</h3>
											<div :id="pro.origGrade" class="star" style="margin: 4px 10px;"></div>

										</div>
										<div class='git-project-header-actions'>
												<span>
													<a href="##" class="ui small  lang-label" style="font-size: 14px;">{{pro.users.userName}}</a></span>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class='project-desc'>{{pro.origIntro}}</div>
									<div class='project-meta'>
										<a href="/explore/starred?lang=Java" class="ui small  lang-label">{{pro.origType}}</a>
										<a style="margin-right:8px; " href="/explore/starred/webframework" class="ui small  lang-label" v-for="item in pro.origTag">{{item}}</a>

										<div class='pull-right'>

												<span class='timeago' title='2个月前'>
												{{pro.origUploadtime|dateFormat}}
												</span>
										</div>
									</div>
								</div>
							</div>
							<!--<div class='item'>-->
								<!--<a href="/shuzheng" class="project-creator-link ui avatar image pull-left"><img src="/static/img/img_hhm/renren.png" />-->
								<!--</a>-->
								<!--<div class='project-content'>-->
									<!--<div class='project-title'>-->
										<!--<div style="display: flex;float: left;">-->
											<!--<h3>-->
												<!--<a  class="title project-namespace-path" target="_blank" title="人人开源项目" style="float: left;">人人开源项目</a>-->
											<!--</h3>-->
											<!--<div id="star2" style="margin: 4px 10px;"></div>-->
										<!--</div>-->
										<!--<div class='git-project-header-actions'>-->
												<!--<span>-->
													<!--<a href="##" class="ui small  lang-label" style="font-size: 14px;">人人工作室</a></span></div>-->
										<!--&lt;!&ndash;<a href="##" class="ui button" ><img isImg="0" src="img/img_hhm/xing.png"/>-->
                                        <!--收藏-->
                                        <!--</a></span>-->
                                    <!--<span><a href="###" class="ui button" ><img src="img/img_hhm/download.png"/>下载</a></span></div>&ndash;&gt;-->
										<!--<div class="clearfix"></div>-->
									<!--</div>-->
									<!--<div class='project-desc'>基于Spring+SpringMVC+Mybatis分布式敏捷开发系统架构，提供整套公共微服务服务模块：集中权限管理（单点登录）、内容管理、支付中心、用户管理（支持第三方登录）、微信平台、存储系统、配置中心、日志分析、任务和通知等，支持服务治理、监控和追踪，努力为中小型企业打造全方位J2EE企业级开发解决方案。</div>-->
									<!--<div class='project-meta'>-->
										<!--<a href="/explore/starred?lang=Java" class="ui small  lang-label">Java</a>-->
										<!--<a href="/explore/starred/webframework" class="ui small  lang-label">Web开发框架</a>-->
										<!--<a href="/explore/starred?license=MIT" class="ui small  lang-label">MIT</a>-->
										<!--<div class='pull-right'>-->
											<!--&lt;!&ndash;<a href="##" class="ui small  lang-label" style="font-size: 14px; margin-right: 5px;">人人工作室</a>&ndash;&gt;-->
											<!--<span class='timeago' title='2个月前'>-->
												<!--2个月前-->
												<!--</span>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->


							<div class="FenYe" style="float: none">
								<div class="page_1"></div>
							</div>
						</div>
					</div>
				</div>

			</div>


			<footer class='ui grid'>



			</footer>
		</div>
	</div>
	<footer>
		<div class="container-fluid_foot">
			<div class="foot_panel">
				<div class="foot_panel_left">
					<div class="img">
						<a href="#">
							<img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
						</a>
					</div>
					<div class="beian">
						<p>创客网 © 2018－
							<br>肇庆学院东软实训班第三组版权所有
							<br>[粤ICP备xxxxxxx号-x] 标识
							<br> 粤公网安备xxxxxxxxxx号</p>
					</div>
				</div>
				<div class="foot_panel_right">
					<div class="foot_panel_right_row">
						<ul class="list-unstyled">
							<li>
								<h4>新手指南</h4>
								<a href="/help/register">注册登录问题</a><br />
								<a href="/help/process">项目交易流程</a><br />
								<a href="/help/fund">充值提款问题</a><br />
								<a href="help/about_agreement">用户注册协议</a><br />
								<a href="/help/bid_payings">为何付费竞标</a>
							</li>
							<li>
								<h4>特色服务</h4>
								<a href="/help/renzheng">实名认证</a><br />
								<a href="/help/searchs">精准搜索</a><br />
								<a href="/help/workhour">小时报价</a><br />
								<a href="/help/bumanyituikuan">不满意退款</a><br />
								<a href="/help/bid_card">竞标卡规则</a>
							</li>
							<li>
								<h4>评价信誉</h4>
								<a href="/help/pingjiadengm">操作演示</a><br />
								<a href="/help/service_payings">服务收费</a><br />
								<a href="/help/evaluations">用户评价</a><br />
								<a href="/help/jifens">积分体系</a><br />
								<a href="/help/controversy">争议解决</a>
							</li>
							<li>
								<h4>答疑中心</h4>
								<a href="/help/pro_relase">项目发布问题</a><br />
								<a href="/help/bid_joinings">参与竞标问题</a><br />
								<a href="/help/pro_runnings">项目开发问题</a><br />
								<a href="/help/pro_done">项目完工问题</a><br />
								<a href="/help/it_realse">信息发布问题</a>
							</li>
							<li>
								<h4>联系我们</h4>
								<a href="/help/about_us">关于SXSOFT</a><br />
								<a href="/help/about_company">公司概况</a><br />
								<a href="/help/contact_us">联系方式</a><br />
								<a href="/help/about_advertising">广告投放</a><br />
								<a href="/help/links">友情链接</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
        var new_scroll_position = 0;
        var last_scroll_position;
        var header = document.getElementById("headerBar");

        window.addEventListener('scroll', function (e) {
            last_scroll_position = window.scrollY;

            // Scrolling down
            if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
                // header.removeClass('slideDown').addClass('slideUp');
                header.classList.remove("slideDown");
                header.classList.add("slideUp");

                // Scrolling up
            } else if (new_scroll_position > last_scroll_position) {
                // header.removeClass('slideUp').addClass('slideDown');
                header.classList.remove("slideUp");
                header.classList.add("slideDown");
            }

            new_scroll_position = last_scroll_position;
        });
	</script>
	<script>
        /*$(function() {
            $(".sort-section1 a").click(function() {

                $(".sort-section1 a[class='item active']").each(function() {
                    $(this).removeClass();
                    $(this).addClass("item ");
                });
                $(this).removeClass();
                $(this).addClass("item active");
            })
            $(".sort-section a").click(function() {
                $(".sort-section a[class='item active']").each(function() {
                    $(this).removeClass();
                    $(this).addClass("item ");
                });
                $(this).removeClass();
                $(this).addClass("item active");
            })
        })*/


   /*     $('#star2').raty({
            readOnly: true,
            score: 5,
            hints: ["1", "2", "3", "4", "5"]
        });*/
  /*      $(function() {
            /!*$(".item span").click(function() {
                if($(this).find("img").attr("isImg") == 1) {

                    $(this).find("img").attr("src", "/static/img/img_hhm/xing.png");
                    $(this).find("img").attr("isImg", "0");
                } else {
                    $(this).find("img").attr("src", "/static/img/img_hhm/xing1.png");
                    $(this).find("img").attr("isImg", "1");
                }

            });*!/
            /!*$("#git-discover-list").delegate('.item','each',function () {
				alert("123");
            });*!/
        })*/

		 var ori=new Vue({
            el:'#git-discover-list',
            data:{
                highscore:'',
				type:'',
				tag:''
            },
             filters: {
                 dateFormat:function(val){
                     if(val==null)
                         return null;
                     var d = new Date(val);
                     var now = new Date();
                     var year = now.getFullYear()-d.getFullYear();
                     var month = now.getMonth()-d.getMonth() ;
                     var total = year*12+month;
                     if (total==0) total=total+1;
                     // var day = d.getDate() <10 ? '0' + d.getDate() : '' + d.getDate();
                     // // var hour = d.getHours();
                     // // var minutes = d.getMinutes();
                     // // var seconds = d.getSeconds();
                     return  total+"个月前" ;
                 },
             },
            created:function () {
                var self=this;
                $.ajax({
                    type:'POST',
                    url:'/original/all1',
                    async:false,
					dataType:'json',
                    success:function (result) {
                        self.highscore = result.page.list;
                        self.type=result.type;
                        self.tag=result.tag;
                       /* alert(result.list[0].origTag);*/
						for(var i=0;i<result.page.list.length;i++){
						    var s=result.page.list[i].origTag.split(",");
                            result.page.list[i].origTag=s;
						}
                       /* var obj_1={
                            obj_box:'.page_1',//翻页容器
                            total_item:result.total,   //条目总数
                            per_num:result.pageSize,     //每页条目数*!/
                            current_page:result.pageNum   //当前页
                        };
                        page_ctrl(obj_1);
                        $(' .page_ctrl').on('click','button',function () {
                            var that=$(this);
                            if(that.hasClass('prev_page')){

                                window.location.href="/original/allpage?start="+result.prePage;
                            }
                            else if(that.hasClass('next_page')){
                                window.location.href="/original/allpage?start="+result.nextPage;
                            }
                            else if(that.hasClass('page_num')&&!that.hasClass('current_page')){

                                window.location.href="/original/allpage?start="+that.html();
                            }
                            else if(that.hasClass('to_page_num')){
                                window.location.href="/original/allpage?start="+that.siblings('.input_page_num').val();
                            }
                        });*/
                    }
                });

            },
			 mounted:function () {
                 var self=this;
                 $.ajax({
                     type:'POST',
                     url:'/original/all1',
                     async:false,
                     dataType:'json',
                     success:function (result) {
                         /*self.highscore = result.list;
                         /!* alert(result.list[0].origTag);*!/
                         for(var i=0;i<result.list.length;i++){
                             var s=result.list[i].origTag.split(",");
                             result.list[i].origTag=s;
                         }*/
                         var obj_1={
                             obj_box:'.page_1',//翻页容器
                             total_item:result.page.total,   //条目总数
                             per_num:result.page.pageSize,     //每页条目数*/
                             current_page:result.page.pageNum   //当前页
                         };
                         page_ctrl(obj_1);
                         $(' .page_ctrl').on('click','button',function () {
                             var that=$(this);
                             if(that.hasClass('prev_page')){
                                 window.location.href="/original/allpage?type="+self.type+"&tag="+self.tag+"&start="+result.prePage;
                             }
                             else if(that.hasClass('next_page')){
                                 window.location.href="/original/allpage?type="+self.type+"&tag="+self.tag+"&start="+result.nextPage;
                             }
                             else if(that.hasClass('page_num')&&!that.hasClass('current_page')){

                                 window.location.href="/original/allpage?type="+self.type+"&tag="+self.tag+"&start="+that.html();
                             }
                             else if(that.hasClass('to_page_num')){
                                 window.location.href="/original/allpage?type="+self.type+"&tag="+self.tag+"&start="+that.siblings('.input_page_num').val();
                             }
                         });

                     }
                 });
                $("#git-discover-list").find(".item").each( function () {
                    var grade=$(this).find(".star").attr("id");
					$(this).find(".star").raty({
                        readOnly: true,
                        score:grade,
                        hints: ["1", "2", "3", "4", "5"]
                    });
                })
             }
        });
		 new Vue({
			 el:'#project-lang-categories',
			 data:{

			 },
			 methods:{
			     jump:function (type) {
					 window.location.href="/original/allpage?type="+type+"&tag="+ori.tag;
                 },
				 jump2:function (tag) {
					 window.location.href="/original/allpage?tag="+tag+"&type="+ori.type;
                 },
				 addclass1:function (type) {
			         if(ori.type==''&&type=='全部')
                         return "item active";
			         else if(ori.type==type)
					 	return "item active";
			         else
			             return "item";
                 },
				 addclass2:function (tag) {
                     if(ori.tag==''&&tag=='全部')
                         return "item active";
                     else if(ori.tag==tag)
                         return "item active";
                     else
                         return "item";
                 }
			 }
		 })

	</script>
	</body>

</html>