    	.studioInfo{
    		
    		width: 400px;
    		height: 530px;
    		background-color: white;
    		border-radius: 20px;
    		position: absolute;
    		left:35%;
    		top:10%;
    		border:2px solid gainsboro;
    	}
    	.studioInfo .mainText{
    		position: relative;
    		top:20px;
    		left:4%;
    		font-size: 15px;
    	}