			*{
				margin: 0;
				padding: 0;
			}
			.content{
				width:1080px;
				height: 800px;
				margin: 0 auto 0;
			 }
			.content .navL{
				float: left;
				width:220px;
				height:150px;
				margin-left: 10px;
			}
			.content .main{
				float: right;
				width:830px;
				height:800px;
			}
			.content .main .mainTop{
				width:830px;
				height:200px;
				margin-bottom: 20px;
				/*border: 1px solid #000000;*/
			}
			
			.content .main .mainTop .logo{
				float: left;
				width:250px;
				height:200px;
				/*background: green;*/
				margin-bottom: 10px;
				border: 1px solid #000000;
			}
			.content .main .mainTop .intro{
				float: right;
				width:570px;
				height:200px;
				/*background: orange;*/
			    margin-left: 10px;
			}		
			.content .main .mainTop .intro .introTop{
				
				width:570px;
				height:100px;
				
		
			}		
			.content .main .mainTop .intro .introBottom{
				/*width: 570px;*/
				width:422px;
				height:100px;
				/*background: red; */
			}	
			.content .main .mainTop .intro .introBottom .ibLeft{
				float: left;
				width:140px;
				height:100px;
				/*background: orange; */
			}	
	
			.content .main .mainTop .intro .introBottom .ibRight{
				float:right;
				width:281px;
				height:100px;
				/*background: pink; */
			}			
			.content .main .mainTop .intro .introBottom .ibRight .ibRleft{
				float:left;
				width:140px;
				height:100px;
				/*background: green; */
			}	
			.content .main .mainTop .intro .introBottom .ibRight .ibRright{
				float:right;
				width:140px;
				height:100px;
				/*background: plum; */
			}
			.content .main .mainContent{
				width:830px;
				height:600px;
				border: 0.2px solid  #000000;
				margin-bottom: 20px;
				/*background:skyblue;*/
				
			}
			
/*          .content .main .mainContent .navTop{
				float: left;
				width:800px;
				height:50px;
			
			}*/
			
/*           .nav-tabs{
           	border-bottom:1px solid #ddd;
           	}*/