<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/css_lxn/prom_homepage-lxn.css" />
		<link rel="stylesheet" href="/static/css/css_psw/style_head.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/vue.js"></script>
	</head>

	<body>
		<header>
			<div class="container-fluid container-fluid_up">
				<div class="row_up">
					<ul class="list-unstyled">
						<li>
							<a href="#">帮助中心</a>
						</li>
						<li>
							<a href="#">注册</a>
						</li>
						<li>
							<a href="#">登录</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container-fluid container-fluid_main">
				<div class="row_main">
					<div class="main_logo">
						<img class="img-responsive img-rounded" src="/static/img/img_psw/logo2.png" />
					</div>
					<div class="main_right">
						<ul class="nav_psw list-unstyled">
							<li class="active">
								<a>首 页</a>
							</li>
							<li>
								<a>项目大厅</a>
							</li>
							<li>
								<a>服务大厅</a>
							</li>
							<li>
								<a>创客讲堂</a>
							</li>
							<li>
								<a>原创中心</a>
							</li>
							<li>
								<a>荣誉中心</a>
							</li>
							<li>
								<a>在线求职</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<div class="container-fluid contest" id="contestlxn">
			<div class="row">
				<div class="col-md-12 col_top">
					<img src="/static/img/img_psw/log.png" alt="" />
				</div>
				<div class="col-md-12 col_middle">
					<div class="col-md-9 c_m_col c_m_boder">
						<div class="col-md-2 c_m_col" v-if="src==''">
							<img src="/static/img/img_lxn/default.jpg" alt="" class="c_m_img"/>
						</div>
						<div class="col-md-2 c_m_col" v-else>
							<img v-if="prom.promImg" :src="'/promcenter/previewsrc/' + prom.promImg" alt="" class="c_m_img"/>
						</div>
						<div class="col-md-9 c_m_col">						
							<h3 class="c_m_h3">{{prom.promName}}</h3>
							<div class="col-md-12">
								<ul class="col-ma-12 c_m_ul">
									<li class="col-md-3 c_m_li"><h4>{{num.allnum}}</h4>发布项目数</li>
									<li class="col-md-3 c_m_li"><h4>{{num.finishnum}}</h4>完工项目数</li>
									<li class="col-md-3 c_m_li"><h4>{{num.failnum}}</h4>中止项目数</li>
									<li class="col-md-3"><h4>{{num.bidnum}}</h4>竞标中项目数</li>
								</ul>
								<div class="col-md-12 c_m_text">
									<span class="col-md-12">联系方式&nbsp;&nbsp;&nbsp;手机号码：{{prom.promPhone}}</span>
									<span  class="col-md-12" style="text-indent:68px;" v-if="num.user&&num.user.allEmail">电子邮件：{{num.user.allEmail}}</span>
									<span class="col-md-12">用户简介：{{prom.promIntro}}</span>
								</div>
							</div>						
						</div>
					</div>
					<div class="col-md-3 c_m_col">
						<div class="c_m_span">
							<span> 最后登录时间：{{prom.promLogintime|dateFormat}}</span>
						</div>
					</div>					
				</div>
				<div class="col-md-12 col_bottom">
					<div class="col-md-12 c_b_title">
						<span>参与的外包项目</span>
					</div>
					<div class="col-md-12">
						<ul class="list-unstyled">
							<li class="col-md-12 c_b_li">
								<div class="col-md-2 c_b_lileft">竞标中</div>
								<div class="col-md-8 c_b_liright">
									<div v-if="bid==''">
										<div class="col-md-12 c_b_projmag"><span>暂无正在竞标中的项目</span></div>
									</div>
									<div v-else>
									<div class="col-md-12 c_b_projmag" v-for="b in bid">
										<a href="" class="c_b_a">{{b.projName}}</a><br/>
										<span class="c_b_aspan">创建时间：{{b.projCreattime|dateFormat}} &nbsp;&nbsp;竞标周期：10天</span>
									</div>
									</div>
								</div>
							</li>
							<li class="col-md-12 c_b_li">
								<div class="col-md-2 c_b_lileft">完工项目</div>
								<div class="col-md-8 c_b_liright">
									<div v-if="project==''">
										<div class="col-md-12 c_b_projmag"><span>暂无已完工的项目</span></div>
									</div>
									<div v-else>
										<div class="col-md-12 c_b_projmag"v-for="p in project">
											<a href="" class="c_b_a">{{p.projName}}</a><br/>
											<span class="c_b_aspan">结束时间：{{p.projEndtime|dateFormat}} &nbsp;&nbsp;承接方：{{p.projStudio}}</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container-fluid_foot">
				<div class="foot_panel">
					<div class="foot_panel_left">
						<div class="img">
							<a href="#">
								<img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
							</a>
						</div>
						<div class="beian">
							<p>创客网 © 2018－
								<br>肇庆学院东软实训班第三组版权所有
								<br>[粤ICP备xxxxxxx号-x] 标识
								<br> 粤公网安备xxxxxxxxxx号</p>
						</div>
					</div>
					<div class="foot_panel_right">
						<div class="foot_panel_right_row">
							<ul class="list-unstyled">
								<li>
									<h4>新手指南</h4>
									<a href="/help/register">注册登录问题</a><br />
									<a href="/help/process">项目交易流程</a><br />
									<a href="/help/fund">充值提款问题</a><br />
									<a href="help/about_agreement">用户注册协议</a><br />
									<a href="/help/bid_payings">为何付费竞标</a>
								</li>
								<li>
									<h4>特色服务</h4>
									<a href="/help/renzheng">实名认证</a><br />
									<a href="/help/searchs">精准搜索</a><br />
									<a href="/help/workhour">小时报价</a><br />
									<a href="/help/bumanyituikuan">不满意退款</a><br />
									<a href="/help/bid_card">竞标卡规则</a>
								</li>
								<li>
									<h4>评价信誉</h4>
									<a href="/help/pingjiadengm">操作演示</a><br />
									<a href="/help/service_payings">服务收费</a><br />
									<a href="/help/evaluations">用户评价</a><br />
									<a href="/help/jifens">积分体系</a><br />
									<a href="/help/controversy">争议解决</a>
								</li>
								<li>
									<h4>答疑中心</h4>
									<a href="/help/pro_relase">项目发布问题</a><br />
									<a href="/help/bid_joinings">参与竞标问题</a><br />
									<a href="/help/pro_runnings">项目开发问题</a><br />
									<a href="/help/pro_done">项目完工问题</a><br />
									<a href="/help/it_realse">信息发布问题</a>
								</li>
								<li>
									<h4>联系我们</h4>
									<a href="/help/about_us">关于SXSOFT</a><br />
									<a href="/help/about_company">公司概况</a><br />
									<a href="/help/contact_us">联系方式</a><br />
									<a href="/help/about_advertising">广告投放</a><br />
									<a href="/help/links">友情链接</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

	<script type="text/javascript">
		var vm=new Vue({
			el:'#contestlxn',
			data:{
			    num:'',
				src:'',
				project:'',
				bid:'',
				prom:'',
			},
			created:function (result) {
			    $.ajax({
					type:'post',
                    url:'/promcenter/promhomepage',
					success:function (result) {
                        console.log(result);
                        vm.num=result;
                        vm.prom=result.prom;
                        vm.project=result.project;
                        vm.bid=result.bid;
                        vm.src=result.prom.promImg;
                    }
                })
            },
            filters: {
                dateFormat:function(val){
                    var d = new Date(val);
                    var year = d.getFullYear();
                    var month = d.getMonth() + 1;
                    var day = d.getDate() <10 ? '0' + d.getDate() : '' + d.getDate();
                    var hour = d.getHours();
                    var minutes = d.getMinutes();
                    var seconds = d.getSeconds();
                    return  year+ '-' + month + '-' + day ;
                },
            },
		});

	</script>
	</body>

</html>