<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/css_lxn/prom_layout-lxn.css" />
		<link rel="stylesheet" href="/static/css/css_lxn/prom_projManage-lxn.css" />
		<link rel="stylesheet" href="/static/css/css_psw/style_head.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/css_lxn/modal-lxn.css">
		<link rel="stylesheet" href="/static/starability-minified/starability-all.min.css">
		<script type="text/javascript" src="/static/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="/static/js/vue.js"></script>

	</head>

	<body>

	<header class="header-navigation" id="headerBar">
		<div class="nav-content-filter">
			<div class="row_main">
				<!--logo-->
				<div class="main_logo">
					<img class="img-responsive img-rounded nav-img-logo" src="/static/img/img_psw/logo2.png" />
				</div>
				<!--超链接-->
				<div class="nav-main-right">
					<nav class="cd-nav">
						<ul>
							<li><a class="active" href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
							<li><a href="/project/xwh">项目大厅</a></li>
							<li><a href="/stuhall/hall">服务大厅</a></li>
							<li><a href="/resource/home">创客讲堂</a></li>
							<li><a href="/original/all">原创中心</a></li>
							<li><a href="/ForJob/search">在线求职</a></li>
							<li><a href="/honor/honorPage">荣誉中心</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!--头像、个人中心、注销等-->
			<div id="headVue">
				<ul class="nav navbar-top-links navbar-right" style="margin-right: 5%;">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" style="padding: 5% 0 0 0;background: #fff0;" href="#" >
							<!--没有登陆-->
							<img class="nav-avatar" v-if="!isLogined" src="/static/img/img_chh/akari.jpg"/>
							<!--已经登录-->
							<img class="nav-avatar" v-else :src="img"/>
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu dropdown-alerts nav-dropdown-menu">
							<!--##########未登录###############-->
							<li v-if="!isLogined">
								<a href="/login"><p class="nav-text-center">登录</p></a>
							</li>
							<li v-if="!isLogined">
								<a href="/registered/select/new"><p class="nav-text-center">注册</p></a>
							</li>
							<!--##########已登录###############-->
							<li v-if="isLogined">
								<a :href="centerUrl"><p class="nav-text-center">个人中心</p></a>
							</li>
							<li v-if="isLogined && !isPromul">
								<a href="/studio/studioNone"><p class="nav-text-center">我的工作室</p></a>
							</li>
							<li v-if="isLogined">
								<a href="/logout"><p class="nav-text-center">注销</p></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<script type="text/javascript">
                var nav_vue = new Vue({
                    el:'#headVue',
                    data:{
                        loginUser: '',
                        isLogined: false,
                        isPromul : '',
                        img : '',
                        centerUrl : '',
                    },
                    created: function () {
                        this.getUser();
                    },
                    methods: {
                        getUser: function(){
                            $.ajax({
                                type: "POST",
                                url: "/home/getLoginUser",
                                dataType: "json",
                                success: function(result){
                                    if(result.code === 404){
                                        nav_vue.isLogined = false;
                                    }
                                    else if(result.code === 0){
                                        nav_vue.isLogined = true;
                                        nav_vue.isPromul = result.isPromul;
                                        nav_vue.loginUser = result.loginUser;
                                        nav_vue.img = result.img;
                                        nav_vue.centerUrl = result.centerUrl;
                                    }
                                }
                            });
                        },
                    }
                });
			</script>
		</div>
	</header>
	<div class="header-take-space"><!--这是占位的div,默认高度为100px，可以自己修改--></div>

		<div class="container-fluid contest">
			<div class="col_left">
				<div class="ul_contest">
					<ul class="lefthead">
						<li class="lefthead_li">
							<a href="#personcenter" data-toggle="collapse" class="lefthead_li_a" id="aone" onclick="selectimg(this.id)">
								个人中心
								<span class="glyphicon glyphicon-chevron-up"></span>
							</a>
							<ul id="personcenter" class="panel-collapse collapse in">
								<li>
									<a href="/pcjump/account">账户</a>
								</li>
								<li>
									<a href="/pcjump/projhomepage">个人主页</a>
								</li>
								<li>
									<a href="/pcjump/updateprom">修改资料</a>
								</li>
								<li>
									<a href="/pcjump/noticeprom">系统通知</a>
								</li>
							</ul>
						</li>
						<li class="lefthead_li">
							<a href="#projectmanage" data-toggle="collapse" class="lefthead_li_a" id="atwo" onclick="selectimg(this.id)">
								项目管理
								<span class="glyphicon glyphicon-chevron-up"></span>
							</a>
							<ul id="projectmanage" class="panel-collapse collapse in">
								<li>
									<a href="/pcjump/projectcreat">发布项目</a>
								</li>
								<li>
									<a href="/pcjump/inviteprom">邀请列表</a>
								</li>
								<li>
									<a href="/pcjump/proBid">竞标项目</a>
								</li>
								<li class="current">
									<a href="/pcjump/projManage">项目订单</a>
								</li>
							</ul>
						</li>
						<li class="lefthead_li">
							<a href="#pricemanage" data-toggle="collapse" class="lefthead_li_a" id="athree" onclick="selectimg(this.id)">
								资金管理
								<span class="glyphicon glyphicon-chevron-up"></span>
							</a>
							<ul id="pricemanage" class="panel-collapse collapse in">
								<li>
									<a href="/pcjump/priceprom">我的钱包</a>
								</li>
							</ul>
						</li>
						<li class="lefthead_li">
							<a href="#safemanage" data-toggle="collapse" class="lefthead_li_a" id="four" onclick="selectimg(this.id)">
								安全管理
								<span class="glyphicon glyphicon-chevron-up"></span>
							</a>
							<ul id="safemanage" class="panel-collapse collapse in">
								<li>
									<a href="/pcjump/loginpwdprom">修改登录密码</a>
								</li>
								<li>
									<a href="/pcjump/paypwdprom">修改支付密码</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col_right" id="right">
				<div class="c_r_contest">
					<div class="c_r_c_top">
						<ul id="projBidul">
							<li class="current">
								<a href="#projBidUnfinish" data-toggle="tab" class="current">开发中</a>
							</li>
							<li>
								<a href="#projBidfinish" data-toggle="tab">已结束</a>
							</li>
						</ul>
					</div>
					<div class="tab-content c_r_c_bottom">
						<div class="tab-pane fade in active" id="projBidUnfinish">
							<div class="pBFinish_contest" v-if="nosee">
								<p class="pB_p3">暂无开发中的项目</p>
							</div>
							<div class="pBUnfinish_contest" v-for="proj in project.project">
								<div class="pBUnfinish_left">
									<p class="pB_p1" v-if="proj.projSecret=='保密'">
										<img src="/static/img/img_lxn/proj_secret.png" alt="" />
										{{proj.projName|fontfilter}}
										<span>预计开发周期：{{proj.projCycletime}}天</span>
									</p>
									<p class="pB_p1" v-if="proj.projSecret=='公开'">
										<img src="/static/img/img_lxn/proj_open.png" alt="" />
										{{proj.projName|fontfilter}}
										<span>预计开发周期：{{proj.projCycletime}}天</span>
									</p>
									<p class="pB_p2">
										<span>开始时间：{{proj.projStarttime|dateFormat}}</span>
										<span>项目状态：{{proj.projState|statechange}}</span>
									</p>
								</div>
								<div class="pBUnfinish_right"v-if="proj.projState=='开发中'">
									<a class="btn pB_a1" href="javascript:;" @click="prompause(proj.projId)">暂停项目</a>
									<a class="btn pB_a4" href="javascript:;" @click="promfinish(proj.projId)">确认完工</a>
									<a class="btn pB_a2" :href="'/project/projectDetail?id='+proj.projId">查看项目</a>
								</div>
								<div class="pBUnfinish_right"v-if="proj.projState=='发布者中止'">
									<a class="btn pB_a1" href="javascript:;" @click="promcancel(proj.projId)">取消暂停</a>
									<a class="btn pB_a4 disabled" href="#">确认完工</a>
									<a class="btn pB_a2" :href="'/project/projectDetail?id='+proj.projId">查看项目</a>
								</div>
								<div class="pBUnfinish_right"v-if="proj.projState=='承接方中止'">
									<a class="btn pB_a1" href="javascript:;"@click="promaffirm(proj.projId)">确认暂停</a>
									<a class="btn pB_a4 disabled" href="javascript:;">确认完工</a>
									<a class="btn pB_a2" :href="'/project/projectDetail?id='+proj.projId">查看项目</a>
								</div>


								<!-- 发布方主动暂停项目提示-->
								<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header header_danger">
												<span class="glyphicon glyphicon-exclamation-sign"></span>
												<span class="modal-title">&nbsp;提&nbsp;&nbsp;示</span>
											</div>
											<div class="modal-body text-center">确认暂停该项目开发？</div>
											<div class="modal-footer text-center">
												<a href="javascript:;" class="btn btn-default modal_btn" data-dismiss="modal">取消</a>
												<a href="javascript:;" class="btn modal_btn danger_btn" @click="modal1()">确认</a>
											</div>
										</div>
									</div>
								</div>
								<!-- 发布者确认承接方发起的项目暂停-->
								<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header header_danger">
												<span class="glyphicon glyphicon-exclamation-sign"></span>
												<span class="modal-title">&nbsp;提&nbsp;&nbsp;示</span>
											</div>
											<div class="modal-body text-center">确认暂停该项目开发？</div>
											<div class="modal-footer text-center">
												<a href="javascript:;" class="btn btn-default modal_btn" data-dismiss="modal">取消</a>
												<a href="javascript:;" class="btn modal_btn danger_btn" @click="modal4()">确认</a>
											</div>
										</div>
									</div>
								</div>
								<!-- 发布者取消中止项目-->
								<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header header_danger">
												<span class="glyphicon glyphicon-exclamation-sign"></span>
												<span class="modal-title">&nbsp;提&nbsp;&nbsp;示</span>
											</div>
											<div class="modal-body text-center">确认取消暂停项目，继续项目开发？</div>
											<div class="modal-footer text-center">
												<a href="javascript:;" class="btn btn-default modal_btn" data-dismiss="modal">取消</a>
												<a href="javascript:;" class="btn modal_btn danger_btn" @click="modal5()">确认</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- 确认项目完工-->
							<div class="modal fade" id="probidselect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog probiddialog">
									<div class="modal-content">
										<div class="modal-header header_tip">
											<span class="glyphicon glyphicon-exclamation-sign"></span>
											<span class="modal-title">&nbsp;选&nbsp;定&nbsp;承&nbsp;接&nbsp;方</span>
										</div>
										<div class="modal-body bidbody col-md-12">
											<div class="payform col-md-12">
												<form  class="form-horizontal" id="signupForm">
													<div class="form-group">
														<label class="col-md-5 control-label probidlable">项目名称：</label>
														<div class="col-md-7">
															<label class="control-label probidlable" v-if="selectbid.project && selectbid.project.projName">{{selectbid.project.projName}}</label>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-5 control-label probidlable">承接工作室：</label>
														<div class="col-md-7">
															<label class="control-label probidlable">{{selectbid.studio}}</label>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-5 control-label probidlable">开发周期：</label>
														<div class="col-md-7">
															<label class="control-label probidlable"v-if="selectbid.project&&selectbid.project.projCycletime">{{selectbid.project.projCycletime}}天</label>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-5 control-label probidlable">项目报价：</label>
														<div class="col-md-7">
															<label class="control-label probidlable" style="color: orange;" v-if="selectbid.project&&selectbid.project.projMoney">{{selectbid.project.projMoney}}</label>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-5 control-label probidlable">账户余额：</label>
														<div class="col-md-7">
															<label class="control-label probidlable"style="color: orange;">{{selectbid.account}}</label>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-5 control-label probidlable">支付金额：</label>
														<div class="col-md-7">
															<label class="control-label probidlable"style="color: orange;">{{selectbid.bidacc}}</label>
															<div v-if="selectbid.code==0">
																<span style="font-size: 12px;">&nbsp;&nbsp;余额不足，请前往<a href="/pcjump/priceinprom">充值</a></span><br />
															</div>
															<div v-else>
																<br>
															</div>
															<span style="font-size: 12px;color: #fa6e7b;">(*确认完工需交纳项目报价剩下的90%款项，并交纳100元的手续费)</span>
														</div>
													</div>

													<div class="form-group">
														<label class="col-md-5 control-label probidlable"><span style="color: red;">*</span>支付密码：</label>
														<div class="col-md-7">
															<div class="input-group">
																<input class="form-control" id="paypwd" name="paypwd" v-model="paypwd" type="text">
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="col-md-5 control-label" style="font-weight: 500;font-size: 16px;"><span style="color: red;">*</span>项目评分：</label>
														<div class="col-md-5 starability-slot">
															<input type="radio" id="rate5-2" name="rating" value="5" />
															<label for="rate5-2" title="5分">5 stars</label>

															<input type="radio" id="rate4-2" name="rating" value="4" />
															<label for="rate4-2" title="4分">4 stars</label>

															<input type="radio" id="rate3-2" name="rating" value="3" />
															<label for="rate3-2" title="3分">3 stars</label>

															<input type="radio" id="rate2-2" name="rating" value="2" />
															<label for="rate2-2" title="2分">2 stars</label>

															<input type="radio" id="rate1-2" name="rating" value="1" />
															<label for="rate1-2" title="1分">1 star</label>

														</div>
													</div>

													<div class="form-group">
														<div class="probidbtndiv text-center"v-if="selectbid.code==0">
															<button class="btn btn-default " type="button" data-dismiss="modal">取消支付</button>
															<button class="btn btn-primary " type="submit" disabled>确定支付</button>
														</div>
														<div class="probidbtndiv text-center"v-else>
															<button class="btn btn-default " type="button" data-dismiss="modal">取消支付</button>
															<button class="btn btn-primary " type="button" @click="selfinishproj(selectbid.project.projId)">确定支付</button>
														</div>
													</div>
												</form>
											</div>
										</div>
										<div class="modal-footer text-center"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="projBidfinish">
							<div class="pBFinish_contest" v-if="nosee">
								<p class="pB_p3">暂无已结束的项目</p>
							</div>
							<div class="pBFinish_contest" v-for="proj in project.project">
								<div class="pBFinish_left" >
									<p class="pB_p3"v-if="proj.projSecret=='公开'">
										<img src="/static/img/img_lxn/proj_open.png" alt="" />
										{{proj.projName|fontfilter}}
									</p>
									<p class="pB_p3"v-if="proj.projSecret=='保密'">
										<img src="/static/img/img_lxn/proj_secret.png" alt="" />
										{{proj.projName|fontfilter}}
									</p>
									<p class="pB_p4">
										<span>开始时间：{{proj.projStarttime|dateFormat}}</span>
										<span>结束时间：{{proj.projEndtime|dateFormat}}</span>
										<span>项目状态：{{proj.projState}}</span>
									</p>
								</div>
								<div class="pBFinish_right">
									<a class="btn pB_a3" :href="'/project/projectDetail?id='+proj.projId">查看项目</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>


		<!--暂停项目成功提示-->
		<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header header_danger">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						<span class="modal-title" >&nbsp;提&nbsp;&nbsp;示</span>
					</div>
					<div class="modal-body text-center">暂停项目成功</div>
					<div class="modal-footer text-center">
						<a href="javascript:;" class="btn modal_btn danger_btn" onclick="subsuccess()">确认</a>
					</div>
				</div>
			</div>
		</div>
		<!--暂停项目失败提示-->
		<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header header_danger">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						<span class="modal-title">&nbsp;提&nbsp;&nbsp;示</span>
					</div>
					<div class="modal-body text-center">状态已被更改，暂停失败</div>
					<div class="modal-footer text-center">
						<a href="javascript:;" class="btn modal_btn danger_btn" onclick="subsuccess()">确认</a>
					</div>
				</div>
			</div>
		</div>
		<!--支付成功提示-->
		<div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header header_tip">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						<span class="modal-title">&nbsp;提&nbsp;&nbsp;示</span>
					</div>
					<div class="modal-body text-center">支付成功</div>
					<div class="modal-footer text-center">
						<a href="javascript:;" class="btn btn-primary modal_btn"onclick="subsuccess()">确认</a>
					</div>
				</div>
			</div>
		</div>



<footer>
			<div class="container-fluid_foot">
				<div class="foot_panel">
					<div class="foot_panel_left">
						<div class="img">
							<a href="#">
								<img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
							</a>
						</div>
						<div class="beian">
							<p>创客网 © 2018－
								<br>肇庆学院东软实训班第三组版权所有
								<br>[粤ICP备xxxxxxx号-x] 标识
								<br> 粤公网安备xxxxxxxxxx号</p>
						</div>
					</div>
					<div class="foot_panel_right">
						<div class="foot_panel_right_row">
							<ul class="list-unstyled">
								<li>
									<h4>新手指南</h4>
									<a href="/help/register">注册登录问题</a><br />
									<a href="/help/process">项目交易流程</a><br />
									<a href="/help/fund">充值提款问题</a><br />
									<a href="help/about_agreement">用户注册协议</a><br />
									<a href="/help/bid_payings">为何付费竞标</a>
								</li>
								<li>
									<h4>特色服务</h4>
									<a href="/help/renzheng">实名认证</a><br />
									<a href="/help/searchs">精准搜索</a><br />
									<a href="/help/workhour">小时报价</a><br />
									<a href="/help/bumanyituikuan">不满意退款</a><br />
									<a href="/help/bid_card">竞标卡规则</a>
								</li>
								<li>
									<h4>评价信誉</h4>
									<a href="/help/pingjiadengm">操作演示</a><br />
									<a href="/help/service_payings">服务收费</a><br />
									<a href="/help/evaluations">用户评价</a><br />
									<a href="/help/jifens">积分体系</a><br />
									<a href="/help/controversy">争议解决</a>
								</li>
								<li>
									<h4>答疑中心</h4>
									<a href="/help/pro_relase">项目发布问题</a><br />
									<a href="/help/bid_joinings">参与竞标问题</a><br />
									<a href="/help/pro_runnings">项目开发问题</a><br />
									<a href="/help/pro_done">项目完工问题</a><br />
									<a href="/help/it_realse">信息发布问题</a>
								</li>
								<li>
									<h4>联系我们</h4>
									<a href="/help/about_us">关于SXSOFT</a><br />
									<a href="/help/about_company">公司概况</a><br />
									<a href="/help/contact_us">联系方式</a><br />
									<a href="/help/about_advertising">广告投放</a><br />
									<a href="/help/links">友情链接</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="/static/js/js_lxn/prom-jquery.js" ></script>
		<script type="text/javascript">
            var bidding=new Vue({
                el:'#projBidUnfinish',
                data:{
                    project:'',
                    nosee:false,
					projid:'',
                    paypwd:'',
                    selectbid:'',
                },
                created:function () {
                    $.ajax({
                        type:'get',
                        url:'/promcenter/projmangering',
                        success:function (result) {
                            if(result.project==''){
                                bidding.nosee=true;
                            }else{
                                bidding.project=result;
                            }

                        }
                    })
                },
				methods:{
                    prompause:function (value) {
                        $("#modal1").modal("show");
                        this.projid=value;
                    },
                    modal1:function () {
                        var id=this.projid;
                        $.ajax({
                            type: 'post',
                            url: '/promcenter/prompauseproj/' + id,
                            success: function (result) {
                                console.log(result);
                                if(result.code==0){
                                    $("#modal1").modal("hide");
                                    $("#modal2").modal("show");
                                }
                                if(result.code==1){
                                    $("#modal1").modal("hide");
                                    $("#modal3").modal("show");
                                }
                            }
                        })
                    },
                    promaffirm:function (value) {
                        $("#modal4").modal("show");
                        this.projid=value;
                    },
                    modal4:function(){
                        var id=this.projid;
                        $.ajax({
                            type: 'post',
                            url: '/promcenter/promaffirm/' + id,
                            success: function (result) {
                                console.log(result);
                                if(result.code==0){
                                    $("#modal4").modal("hide");
                                    $("#modal2").modal("show");
                                }
                                if(result.code==1){
                                    $("#modal4").modal("hide");
                                    $("#modal3").modal("show");
                                }
                            }
                        })
					},
                    promcancel:function (value) {
                        $("#modal5").modal("show");
                        this.projid=value;
                    },
                    modal5:function () {
                        var id=this.projid;
                        $.ajax({
                            type: 'post',
                            url: '/promcenter/promcancel/' + id,
                            success: function (result) {
                                console.log(result);
                                if(result.code==0){
                                    $("#modal5").modal("hide");
                                    $("#modal2").modal("show");
                                }
                                if(result.code==1){
                                    $("#modal5").modal("hide");
                                    $("#modal3").modal("show");
                                }
                            }
                        })
                    },
                    promfinish:function(value){
                        $("#probidselect").modal("show");
                        $.ajax({
                            type: 'post',
                            url: '/promcenter/promfinishproj/'+value,
                            success: function (result) {
                                console.log(result);
                                bidding.selectbid=result;
                            }
						})
					},
                    selfinishproj:function (val) {
                        var radios = document.getElementsByName("rating");
                        var value=0;
                        for(var i=0;i<radios .length;i++){
                            if(radios[i].checked){
                                value = radios[i].value;
                                break;
                            }
                        }
                        if(bidding.paypwd==''){
                            alert("支付密码暂未填写，请重新填写");
						}

                        $.ajax({
                            type: 'post',
                            url: '/promcenter/promfinproject/'+val+"/"+bidding.paypwd+"/"+value,
                            success: function (result) {
                                if(result.code==0){
                                    alert("支付密码错误，请重新输入");
                                }else if(result.code==2){
                                    alert("没有评分，请重新输入");
                                } else{
                                    // alert(result.projid);
                                    $("#probidselect").modal("hide");
                                    $("#tipModal").modal("show");
                                }
                            },
                        })
                    }
				},
                filters: {
                    fontfilter: function (value) {
                        if(value&& value.length > 15) {
                            value= value.substring(0,15)+ '...';
                        }
                        return value;
                    },
                    dateFormat:function(val){
                        var d = new Date(val);
                        var year = d.getFullYear();
                        var month = d.getMonth() + 1;
                        var day = d.getDate() <10 ? '0' + d.getDate() : '' + d.getDate();
                        var hour = d.getHours();
                        var minutes = d.getMinutes();
                        var seconds = d.getSeconds();
                        return  year+ '-' + month + '-' + day ;
                    },
					statechange:function (vaule) {
						if(vaule=='发布者中止'){
							vaule='我方发起项目中止，等待对方确认...';
						}
						else if(vaule=='承接方中止'){
						    vaule='对方发起项目中止，请确认...';
						}
						return vaule;
            		},
                },
            });


            var unfinishproject=new Vue({
                el:'#projBidfinish',
                data:{
                    project:'',
                    nosee:false,
                },
                created:function () {
                    $.ajax({
                        type:'get',
                        url:'/promcenter/projmangerfinsh',
                        success:function (result) {
                            if(result.project==''){
                                unfinishproject.nosee=true;
                            }else{
                                unfinishproject.project=result;
                            }

                        }
                    })
                },
                filters: {
                    fontfilter: function (value) {
                        if(value&& value.length > 15) {
                            value= value.substring(0,15)+ '...';
                        }
                        return value;
                    },
                    dateFormat:function(val){
                        var d = new Date(val);
                        var year = d.getFullYear();
                        var month = d.getMonth() + 1;
                        var day = d.getDate() <10 ? '0' + d.getDate() : '' + d.getDate();
                        var hour = d.getHours();
                        var minutes = d.getMinutes();
                        var seconds = d.getSeconds();
                        return  year+ '-' + month + '-' + day ;
                    },
                },
            });

			function subsuccess() {
				window.location.href="/pcjump/projManage";
            }

		</script>
	</body>

</html>