<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<link href="/static/css/style.css?v=4.1.0" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/css_psw/person-layout-lxn.css" />
	<link href="/static/css/css_psw/style_head.css" rel="stylesheet" />
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<!--图片上传与剪辑-->
	<link rel="stylesheet" href="/static/css/css_psw/prom_updatephoto2.css" />
	<link rel="stylesheet" href="/static/css/css_psw/cropper1.min.css" />
	<script type="text/javascript" src="/static/js/js_psw/cropper1.min.js"></script>
	<script type="text/javascript" src="/static/js/js_psw/prom-jquery.js"></script>
	<script type="text/javascript" src="/static/js/js_psw/prom_updatePhoto1.js"></script>
	<link href="/static/css/css_psw/pc_udph.css" rel="stylesheet" />
	<script src="http://how2j.cn/study/vue.min.js"></script>
	<script src="http://how2j.cn/study/axios.min.js"></script>
</head>

<body>
<header class="header-navigation" id="headerBar">
	<div class="nav-content-filter">
		<div class="row_main">
			<!--logo-->
			<div class="main_logo">
				<img class="img-responsive img-rounded nav-img-logo" src="/static/img/img_psw/logo2.png" />
			</div>
			<!--超链接-->
			<div class="nav-main-right">
				<nav class="cd-nav">
					<ul>
						<li><a class="active" href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
						<li><a href="/project/xwh">项目大厅</a></li>
						<li><a href="/stuhall/hall">服务大厅</a></li>
						<li><a href="/resource/home">创客讲堂</a></li>
						<li><a href="/original/all">原创中心</a></li>
						<li><a href="/ForJob/search">在线求职</a></li>
						<li><a href="/honor/honorPage">荣誉中心</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!--头像、个人中心、注销等-->
		<div id="headVue">
			<ul class="nav navbar-top-links navbar-right" style="margin-right: 5%;">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" style="padding: 5% 0 0 0;background: #fff0;" href="#" >
						<!--没有登陆-->
						<img class="nav-avatar" v-if="!isLogined" src="/static/img/img_chh/akari.jpg"/>
						<!--已经登录-->
						<img class="nav-avatar" v-else :src="img"/>
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu dropdown-alerts nav-dropdown-menu">
						<!--##########未登录###############-->
						<li v-if="!isLogined">
							<a href="/login"><p class="nav-text-center">登录</p></a>
						</li>
						<li v-if="!isLogined">
							<a href="/registered/select/new"><p class="nav-text-center">注册</p></a>
						</li>
						<!--##########已登录###############-->
						<li v-if="isLogined">
							<a :href="centerUrl"><p class="nav-text-center">个人中心</p></a>
						</li>
						<li v-if="isLogined && !isPromul">
							<a href="/studio/studioNone"><p class="nav-text-center">我的工作室</p></a>
						</li>
						<li v-if="isLogined">
							<a href="/logout"><p class="nav-text-center">注销</p></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<script type="text/javascript">
            var nav_vue = new Vue({
                el:'#headVue',
                data:{
                    loginUser: '',
                    isLogined: false,
                    isPromul : '',
                    img : '',
                    centerUrl : '',
                },
                created: function () {
                    this.getUser();
                },
                methods: {
                    getUser: function(){
                        $.ajax({
                            type: "POST",
                            url: "/home/getLoginUser",
                            dataType: "json",
                            success: function(result){
                                if(result.code === 404){
                                    nav_vue.isLogined = false;
                                }
                                else if(result.code === 0){
                                    nav_vue.isLogined = true;
                                    nav_vue.isPromul = result.isPromul;
                                    nav_vue.loginUser = result.loginUser;
                                    nav_vue.img = result.img;
                                    nav_vue.centerUrl = result.centerUrl;
                                }
                            }
                        });
                    },
                }
            });
		</script>
	</div>
</header>
<div class="header-take-space"><!--这是占位的div,默认高度为100px，可以自己修改--></div>
	<div class="container-fluid contest">
		<div class="col_left">
			<div class="ul_contest">
				<ul class="lefthead">
					<li class="lefthead_li" id="notice">
						<a href="#personcenter" data-toggle="collapse" class="lefthead_li_a" id="aone">
							个人中心
							<span class="glyphicon glyphicon-chevron-up"></span>
						</a>
						<ul id="personcenter" class="panel-collapse collapse in">
							<li>
								<a href="/user/user_info">个人资料</a>
							</li>
							<li class="current">
								<a href="/user/user_mfyinfo">修改资料</a>
							</li>
							<li>
								<i v-if="show" style="color: red;margin-left: -110px" class="fa fa-bell"></i><span v-if="show" style="line-height: 12px;padding: 1px 5px;background:red;position: relative;bottom:10px;right:5px;" class="label label-primary">{{num}}</span><a href="/user/user_sysn">系统通知</a>
							</li>
						</ul>
					</li>
					<li class="lefthead_li">
						<a href="#projectmanage" data-toggle="collapse" class="lefthead_li_a" id="atwo">
							我的收藏
							<span class="glyphicon glyphicon-chevron-up"></span>
						</a>
						<ul id="projectmanage" class="panel-collapse collapse in">
							<li>
								<a href="/user/user_pjcol">项目收藏</a>
							</li>
							<li>
								<a href="/user/user_veocol">视频收藏</a>
							</li>
							<li>
								<a href="/user/user_codecol">代码收藏</a>
							</li>
						</ul>
					</li>
					<li class="lefthead_li">
						<a href="#pricspananage" data-toggle="collapse" class="lefthead_li_a" id="athree">
							我的上传
							<span class="glyphicon glyphicon-chevron-up"></span>
						</a>
						<ul id="pricspananage" class="panel-collapse collapse in">
							<li>
								<a href="/user/user_yc">原创</a>
							</li>
						</ul>
					</li>
					<li class="lefthead_li">
						<a href="#safspananage" data-toggle="collapse" class="lefthead_li_a" id="four">
							安全管理
							<span class="glyphicon glyphicon-chevron-up"></span>
						</a>
						<ul id="safspananage" class="panel-collapse collapse in">
							<li>
								<a href="/user/user_money">资金管理</a>
							</li>
							<li>
								<a href="/user/user_uppw">修改登录密码</a>
							</li>
							<li>
								<a href="/user/user_upppw">修改支付密码</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col_right" id="right">
			<div class="col_right_udp_up">
				<div class="col_right_udp_up_1">
				</div>
			</div>
			<div class="container-fluid ">
				<div class="row contest_top" id="userimg">
					<div class="col-md-8" id="img">
						<img src="/user/showImg" id="photo" class="photo" >
					</div>
					<div class="col-md-4">
						<div>
							<p>
								预览(125*125)：
							</p>
							<div class="img-preview">
							</div>
						</div>
						<button class="btn btn-primary btn_crop" onclick="crop()">裁剪图片</button>
						<div>
							<br/>
							<p>
								裁剪结果：
							</p>
							<img src="/static/img/img_psw/white.jpg" alt="裁剪结果" id="result">
						</div>
					</div>
				</div>
				<div class="row contest_buttom">
					<div class="col-md-2">
						<label for="input" class="btn btn-primary" id="">
							<span>选择图片</span>
							<input type="file" id="input" class="sr-only">
						</label>
					</div>
					<div class="col-md-2">
						<!--上传具体代码操作看js-->
						<button class="btn btn-danger" onclick="updatePhoto()">上传图片</button>
					</div>
				</div>
				<div class="row contest_tips">
					<div class="col-md-12">
						<p>友情提示：推荐上传真实头像或者公司LOGO，将有利于增加信任度，塑造品牌 （支持格式： "jpg","png"等）,头像以裁剪结果为主</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container-fluid_foot">
			<div class="foot_panel">
				<div class="foot_panel_left">
					<div class="img">
						<a href="#">
							<img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
						</a>
					</div>
					<div class="beian">
						<p>创客网 © 2018－
							<br>肇庆学院东软实训班第三组版权所有
							<br>[粤ICP备xxxxxxx号-x] 标识
							<br> 粤公网安备xxxxxxxxxx号</p>
					</div>
				</div>
				<div class="foot_panel_right">
					<div class="foot_panel_right_row">
						<ul class="list-unstyled">
							<li>
								<h4>新手指南</h4>
								<a href="/help/register">注册登录问题</a><br />
								<a href="/help/process">项目交易流程</a><br />
								<a href="/help/fund">充值提款问题</a><br />
								<a href="help/about_agreement">用户注册协议</a><br />
								<a href="/help/bid_payings">为何付费竞标</a>
							</li>
							<li>
								<h4>特色服务</h4>
								<a href="/help/renzheng">实名认证</a><br />
								<a href="/help/searchs">精准搜索</a><br />
								<a href="/help/workhour">小时报价</a><br />
								<a href="/help/bumanyituikuan">不满意退款</a><br />
								<a href="/help/bid_card">竞标卡规则</a>
							</li>
							<li>
								<h4>评价信誉</h4>
								<a href="/help/pingjiadengm">操作演示</a><br />
								<a href="/help/service_payings">服务收费</a><br />
								<a href="/help/evaluations">用户评价</a><br />
								<a href="/help/jifens">积分体系</a><br />
								<a href="/help/controversy">争议解决</a>
							</li>
							<li>
								<h4>答疑中心</h4>
								<a href="/help/pro_relase">项目发布问题</a><br />
								<a href="/help/bid_joinings">参与竞标问题</a><br />
								<a href="/help/pro_runnings">项目开发问题</a><br />
								<a href="/help/pro_done">项目完工问题</a><br />
								<a href="/help/it_realse">信息发布问题</a>
							</li>
							<li>
								<h4>联系我们</h4>
								<a href="/help/about_us">关于SXSOFT</a><br />
								<a href="/help/about_company">公司概况</a><br />
								<a href="/help/contact_us">联系方式</a><br />
								<a href="/help/about_advertising">广告投放</a><br />
								<a href="/help/links">友情链接</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/static/js/js_psw/PersonCenter-jquery.js"></script>
<!--导航条滚动js-->
<script type="text/javascript">
    var new_scroll_position = 0;
    var last_scroll_position;
    var header = document.getElementById("headerBar");

    window.addEventListener('scroll', function (e) {
        last_scroll_position = window.scrollY;

        // Scrolling down
        if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
            // header.removeClass('slideDown').addClass('slideUp');
            header.classList.remove("slideDown");
            header.classList.add("slideUp");

            // Scrolling up
        } else if (new_scroll_position > last_scroll_position) {
            // header.removeClass('slideUp').addClass('slideDown');
            header.classList.remove("slideUp");
            header.classList.add("slideDown");
        }

        new_scroll_position = last_scroll_position;
    });
    new Vue({
        el:'#notice',
        data:{
            show:true,
            num:''
        },
        mounted:function () {
            var self=this;
            axios.get("/user/get_sysnnum").then(function (response) {
                self.num=response.data;
                if(response.data==0)
                    self.show=!self.show;
            })
        }
    })
</script>
</body>

</html>
