<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>创客平台</title>

    <!-- 全局js -->
    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/js/vue.js"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <!-- H+样式 -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- 导航条样式 -->
    <link href="/static/css/css_psw/style_head.css" rel="stylesheet">


    <!-- 3d旋转 -->
    <link rel="stylesheet" href="/static/css/css_cwh/yys-slider/jquery-yys-slider.css">
    <!-- 工作室牌子样式 -->
    <link rel="stylesheet" href="/static/css/css_cwh/cardStyle/studioCard_style.css">

    <!-- 搜索框样式 -->
    <link rel="stylesheet" href="/static/css/css_cwh/searchBar/searchBar.css">

    <!-- 页面滚动样式 -->
    <style>
        body{
            overflow: hidden;
        }
        *{
            padding: 0;
            margin: 0;
            border: none;
        }
        #first{
            background-color: rgb(255, 255, 255);
        }
        /* #first p{
            color: rgb(255, 255, 255);
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 37px;
            padding: 60px;
            background: white;
        } */
        #second{
            background-color: rgb(245, 245, 245);
            /*background-image: url("");*/
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #third{
            background-color: rgb(255, 255, 255);
            /*background-image: url("");*/
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #fourth{
            background-color: rgb(250, 250, 250);
            background-image: url("");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #fifth{
            background-color: rgb(230, 230, 230);
            /*background-image: url("");*/
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: -10px;
        }
        /* #second p{
            font-size: 40px;
            color: rgb(0, 0, 0);
            padding-left: 300px;
            font-family: Helvetica, Arial, sans-serif;
            padding-top: 60px;
            border-bottom: 1px dashed rgb(0, 0, 0);
            width: 300px;
        } */

        /* #second #example{
            position: relative;
            float: right;
            top: 10%;
            width: auto;
            padding: 40px;
            right: 55px;
        } */
    </style>

    <!-- 项目推荐样式 -->
    <style type="text/css">
        .projBox{
            height:520px;
            text-align: center;
            padding: 20px;
            background:white;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 10px;
            box-shadow: 0 8px 10px -5px rgba(0,0,0,0.5);
        }
        .projBox .money_box{
            border-radius: 5px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 3px;
            padding-left: 12px;
        }
        .projBox .money_icon{
            font-size: 23px;
            padding-left: 0px;
            margin-top: 1px;
        }
        .projBox .money_num{
            background:white;
            font-size: 15px;
            color:black;
            margin-left: -5px;
            border-radius: 5px;
            padding: 1px 0px 1px 0px;
        }
        .projBox .bidingnum{
            padding-top:5px;
        }
        .projBox .bidednum{
            color:red;
            font-size: 18px;
        }
        .projBox .projbox_projname{
            font-size: 18px;
            margin: 0px;
            padding-top: 5px;
        }
    </style>

    <!-- 浮现播放按钮样式 -->
    <link rel="stylesheet" href="/static/css/css_cwh/videoBtn/videoBtnStyle.css">
    <style>
        .box .icon li a {
            color: #fff;
            font-size: 50px;
            line-height: 65px;
            height: 70px;
            width: 70px;
            padding-left: 10px;
            border: 2px solid #fff;
            border-radius: 50%;
            display: block;
            transition: all 0.3s;
        }
    </style>

    <!-- tab选项卡样式 -->
    <link rel="stylesheet" href="/static/css/css_cwh/tab/tabstyle.css">

    <!-- 面板样式 -->
    <link rel="stylesheet" type="text/css" href="/static/css/css_cwh/leaderboard/reset.css" />
    <link rel="stylesheet" href="/static/css/css_cwh/leaderboard/leaderboard.css">

</head>

<body>
    <!--导航条、搜索框-->
    <div class="sonp-section sonp-full" id="first">
        <header class="header-navigation" id="headerBar">
            <div class="nav-content-filter">
                <div class="row_main">
                    <!--logo-->
                    <div class="main_logo">
                        <img class="img-responsive img-rounded nav-img-logo" src="/static/img/img_psw/logo2.png" />
                    </div>
                    <!--超链接-->
                    <div class="nav-main-right">
                        <nav class="cd-nav">
                            <ul>
                                <li><a class="active" href="/">首页</a></li>
                                <li><a href="#0">项目大厅</a></li>
                                <li><a href="#0">服务大厅</a></li>
                                <li><a href="/resource/home">创客讲堂</a></li>
                                <li><a href="#0">原创中心</a></li>
                                <li><a href="#0">荣誉中心</a></li>
                                <li><a href="/ForJob/search">在线求职</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--头像、个人中心、注销等-->
                <div id="headVue">
                    <ul class="nav navbar-top-links navbar-right" style="margin-right: 5%;">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" style="padding: 5% 0 0 0;background: #fff0;" href="#" >
                                <!--没有登陆-->
                                <img class="nav-avatar" v-if="!isLogined" src="/static/img/img_chh/akari.jpg"/>
                                <!--已经登录-->
                                <img class="nav-avatar" v-else :src="img"/>
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu dropdown-alerts nav-dropdown-menu">
                                <!--##########未登录###############-->
                                <li v-if="!isLogined">
                                   <a href="/login"><p class="nav-text-center">登录</p></a>
                                </li>
                                <li v-if="!isLogined">
                                    <a href="/registered/select/new"><p class="nav-text-center">注册</p></a>
                                </li>
                                <!--##########已登录###############-->
                                <li v-if="isLogined">
                                    <a :href="centerUrl"><p class="nav-text-center">个人中心</p></a>
                                </li>
                                <li v-if="isLogined && !isPromul">
                                    <a href="/studio/studioNone"><p class="nav-text-center">我的工作室</p></a>
                                </li>
                                <li v-if="isLogined">
                                    <a href="/logout"><p class="nav-text-center">注销</p></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <script type="text/javascript">
                    var nav_vue = new Vue({
                        el:'#headVue',
                        data:{
                            loginUser: '',
                            isLogined: false,
                            isPromul : '',
                            img : '',
                            centerUrl : '',
                        },
                        created: function () {
                            this.getUser();
                        },
                        methods: {
                            getUser: function(){
                                $.ajax({
                                    type: "POST",
                                    url: "/home/getLoginUser",
                                    dataType: "json",
                                    success: function(result){
                                        if(result.code === 404){
                                            nav_vue.isLogined = false;
                                        }
                                        else if(result.code === 0){
                                            nav_vue.isLogined = true;
                                            nav_vue.isPromul = result.isPromul;
                                            nav_vue.loginUser = result.loginUser;
                                            nav_vue.img = result.img;
                                            nav_vue.centerUrl = result.centerUrl;
                                        }
                                    }
                                });
                            },
                        }
                    });
                </script>
            </div>
        </header>
        <div class="header-take-space" style="height: 200px;"><!--这是占位的div,默认高度为100px，可以自己修改--></div>

        <!--logo-->
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <img class="img-responsive img-rounded" src="/static/img/img_psw/logo2.png" style="height:150px;"/>
            </div>
        </div>
        <!--搜索框-->
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div class="ibox-content" style="background:#ffffff; border-width: 0px;margin-left: -5%;">
                    <form action="/home/searchResult">
                        <input type="text" name="page" value="1" style="display: none"/>
                        <span class="search">
                            <input type="text" id="search" name="key" baiduSug="1" placeholder="请输入关键词" />
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
                        </span>
                        <!--注意以上为文本框设置的placeholder属性，为文本框默认显示的文字-->
                        <span class="button"><input type="submit" value="创客搜索" /></span>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="row" style="height:125px;width:-webkit-fill-available;margin-top:250px;background: #1ab394;position: absolute;"></div>

        <div class="row" style="position: relative;margin-top:50px;">
            <div class="wrapper wrapper-content">
                <div class="container">
                    <div class="col-md-3 col-md-offset-0" style="padding:50px;">
                        <div class="panel panel-primary" style="border-color: #e2e2e2;">
                            <div class="panel-body" style="padding-top : 0px;"> 
                                <img src="/static/img/img_chh/release-icon.png" style="margin-left:43px;height: 70px;">
                            </div>
                            <div class="panel-body">
                                <h3 class="text-center">
                                    免费发布任务      
                                </h3>
                                <h4 class="text-center text-muted">100%免费发布任务</h4>
                            </div>
                        </div>    
                    </div>
                    <div class="col-md-3 col-md-offset-0" style="padding:50px;">
                        <div class="panel panel-primary" style="border-color: #e2e2e2;">
                            <div class="panel-body" style="padding-top : 0px;"> 
                                <img src="/static/img/img_chh/release-icon.png" style="margin-left:43px;height: 70px;">
                            </div>
                            <div class="panel-body">                        
                                <h3 class="text-center">
                                    免费发布任务      
                                </h3>
                                <h4 class="text-center text-muted">100%免费发布任务</h4>
                            </div>
                        </div>    
                    </div>
                    <div class="col-md-3 col-md-offset-0" style="padding:50px;">
                        <div class="panel panel-primary" style="border-color: #e2e2e2;">
                            <div class="panel-body" style="padding-top : 0px;"> 
                                <img src="/static/img/img_chh/release-icon.png" style="margin-left:43px;height: 70px;">
                            </div>
                            <div class="panel-body">                        
                                <h3 class="text-center">
                                    免费发布任务      
                                </h3>
                                <h4 class="text-center text-muted">100%免费发布任务</h4>
                            </div>
                        </div>    
                    </div>
                    <div class="col-md-3 col-md-offset-0" style="padding:50px;">
                        <div class="panel panel-primary" style="border-color: #e2e2e2;">
                            <div class="panel-body" style="padding-top : 0px;"> 
                                <img src="/static/img/img_chh/release-icon.png" style="margin-left:43px;height: 70px;">
                            </div>
                            <div class="panel-body">                        
                                <h3 class="text-center">
                                    免费发布任务      
                                </h3>
                                <h4 class="text-center text-muted">100%免费发布任务</h4>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--项目推荐-->
    <div class="sonp-section sonp-full sonp-parallax" id="second">

        <div class="row" style="padding-top:50px;height: 66%;background: rgb(235, 235, 235);">
            <div class="col-md-10 col-md-offset-1">
                <h1 style="font-weight:bold;">
                    推荐项目&nbsp;&nbsp;&nbsp;
                    <!--<a href=""><small style="color: #1ab394;"> more>> </small></a>-->
                </h1>
            </div>
        </div>

        <div class="content-part part-tese" id="projblock">
            <div class="gallery_container" style="margin-top:700px;">
                <div class="gallery_wrap threeD_gallery_wrap" style="margin-left: -260px; margin-top: -350px;">
                    <div href="javascript:;" class="gallery_item threeD_gallery_item gallery_left_middle">
                        <div class="row projBox">
                            <div class="row" style="margin-bottom:15px;" v-for="p in left" @click="goProj(p.project.projId)">
                                <!--金额标示-->
                                <div class="col-xs-3">
                                    <div class="style1 navy-bg money_box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <i class="fa fa-cny money_icon"></i>
                                            </div>
                                            <div class="col-xs-7 money_num" >
                                                <span>{{p.project.projMoney | numfilter}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--项目名称-->
                                <div class="col-xs-6">
                                    <p class="text-left projbox_projname">{{p.project.projName | projnamefilter}}</p>
                                </div>
                                <!--竞标人数-->
                                <div class="col-xs-3">
                                    <p class="text-right bidingnum">
                                        <span class="bidednum" v-if="p.bidnum">{{p.bidnum}}</span>
                                        <span class="bidednum" v-else>0</span>
                                        <span>&nbsp;&nbsp;人投标</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div href="javascript:;" class="gallery_item threeD_gallery_item front_side">                       
                        <div class="row projBox">
                            <div class="row" style="margin-bottom:15px;" v-for="p in front" @click="goProj(p.project.projId)">
                                <!--金额标示-->
                                <div class="col-xs-3">
                                    <div class="style1 navy-bg money_box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <i class="fa fa-cny money_icon"></i>
                                            </div>
                                            <div class="col-xs-7 money_num" >
                                                <span>{{p.project.projMoney | numfilter}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--项目名称-->
                                <div class="col-xs-6">
                                    <p class="text-left projbox_projname">{{p.project.projName | projnamefilter}}</p>
                                </div>
                                <!--竞标人数-->
                                <div class="col-xs-3">
                                    <p class="text-right bidingnum">
                                        <span class="bidednum" v-if="p.bidnum">{{p.bidnum}}</span>
                                        <span class="bidednum" v-else>0</span>
                                        <span>&nbsp;&nbsp;人投标</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div href="javascript:;" class="gallery_item threeD_gallery_item gallery_right_middle">
                        <div class="row projBox">
                            <div class="row" style="margin-bottom:15px;" v-for="p in right" @click="goProj(p.project.projId)">
                                <!--金额标示-->
                                <div class="col-xs-3">
                                    <div class="style1 navy-bg money_box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <i class="fa fa-cny money_icon"></i>
                                            </div>
                                            <div class="col-xs-7 money_num" >
                                                <span>{{p.project.projMoney | numfilter}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--项目名称-->
                                <div class="col-xs-6">
                                    <p class="text-left projbox_projname">{{p.project.projName | projnamefilter}}</p>
                                </div>
                                <!--竞标人数-->
                                <div class="col-xs-3">
                                    <p class="text-right bidingnum">
                                        <span class="bidednum" v-if="p.bidnum">{{p.bidnum}}</span>
                                        <span class="bidednum" v-else>0</span>
                                        <span>&nbsp;&nbsp;人投标</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div href="javascript:;" class="gallery_item threeD_gallery_item gallery_out">
                        <div class="row projBox">
                            <div class="row" style="margin-bottom:15px;" v-for="p in out" @click="goProj(p.project.projId)">
                                <!--金额标示-->
                                <div class="col-xs-3">
                                    <div class="style1 navy-bg money_box">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <i class="fa fa-cny money_icon"></i>
                                            </div>
                                            <div class="col-xs-7 money_num" >
                                                <span>{{p.project.projMoney | numfilter}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--项目名称-->
                                <div class="col-xs-6">
                                    <p class="text-left projbox_projname">{{p.project.projName | projnamefilter}}</p>
                                </div>
                                <!--竞标人数-->
                                <div class="col-xs-3">
                                    <p class="text-right bidingnum">
                                        <span class="bidednum" v-if="p.bidnum">{{p.bidnum}}</span>
                                        <span class="bidednum" v-else>0</span>
                                        <span>&nbsp;&nbsp;人投标</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="prev" href="javascript:;"></a>
                <a class="next" href="javascript:;"></a>
            </div>
        </div>
        <script type="text/javascript">
            var projblock = new Vue({
                el:'#projblock',
                data:{
                    left : '',
                    front : '',
                    right : '',
                    out : '',
                },
                created: function () {
                    this.getProj();
                },
                methods: {
                    getProj : function () {
                        $.ajax({
                            type: "POST",
                            url: "/home/getRecommendProj",
                            dataType: "json",
                            success: function (result) {
                                if (result.code === 0) {
                                    projblock.left = result.left;
                                    projblock.front = result.front;
                                    projblock.right = result.right;
                                    projblock.out = result.out;
                                }
                            }
                        });
                    },
                    goProj: function (val) {
                        let url = "/project/projectDetail?id=" + val;
                        window.open(url,"_blank");
                    },
                },
                filters: {
                    projnamefilter: function (value) {
                        if (value && value.length > 14) {
                            value = value.substring(0, 14) + '...';
                        }
                        return value;
                    },
                    numfilter: function(value){
                        if(value === "面议")
                            return value;
                        if(value > 10000){
                            value = value / 10000;
                            return value.toFixed(1) + "万";
                        }
                        if(value > 1000){
                            value = value / 1000;
                            return value.toFixed(1) + "千";
                        }
                        else
                            return value;
                    },
                },
            });
        </script>
    </div>
    <!--工作室-->
    <div class="sonp-section sonp-full sonp-parallax" id="third">
        <div class="row" style="padding-top:20px;">
            <div class="col-md-10 col-md-offset-1">
                <h1 style="font-weight:bold;">
                    优秀工作室&nbsp;&nbsp;&nbsp;
                    <a href=""><small style="color: #1ab394;"> more>> </small></a>
                </h1>
            </div>         
        </div>

        <div class="row" id="studioblock">
            <div class="studioCard_wrapper">
                <div class="studioCard_cols" >
                    <div class="studioCard_col" @click="toStudio(s.stuId)" ontouchstart="this.classList.toggle('hover');" v-for="(s,index) in studios">
                        <div class="studioCard_container">
                            <div class="studioCard_front" :style="{backgroundImage: 'url(/static/img/img_chh/order/'+ (index+1) + '.png)'}" style="text-align: left;">
                                <div class="studioCard_inner">
                                    <h1>{{s.stuName | studioNamefilter}}</h1>
                                    <span>成员人数: {{s.stuMembernum}}人</span><br>
                                    <span>成功项目: {{s.stuProjectnum}}个</span><br>
                                    <span>创建时间: {{s.stuCreattime|dateFormat}}</span>
                                </div>
                            </div>
                            <div class="studioCard_back">
                                <div class="studioCard_inner">
                                    <p>{{s.stuIntro}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var studioblock = new Vue({
                el:'#studioblock',
                data:{
                    studios: '',
                },
                beforeCreate: function () {
                },
                created: function () {
                    this.getStudios();
                },
                methods: {
                    getStudios: function () {
                        $.ajax({
                            type: "POST",
                            url: "/home/getSuperStudio",
                            dataType: "json",
                            success: function (result) {
                                if (result.code === 0) {
                                    studioblock.studios = result.studios;
                                    console.log(studioblock.studios);
                                }
                            }
                        });
                    },
                    toStudio: function (stuId){
                        let url = "" + stuId;
                        window.open("","_blank");
                    }
                },
                filters: {
                    studioNamefilter: function (value) {
                        if (value && value.length > 6) {
                            value = value.substring(0, 6) + '...';
                        }
                        return value;
                    },
                    introfilter: function (value) {
                        if (value && value.length > 25) {
                            value = value.substring(0, 25) + '...';
                        }
                        return value;
                    },
                    dateFormat:function(val){
                        var d = new Date(val);
                        var year = d.getFullYear();
                        var month = d.getMonth() + 1;
                        var day = d.getDate() <10 ? '0' + d.getDate() : '' + d.getDate();
                        var hour = d.getHours();
                        var minutes = d.getMinutes();
                        var seconds = d.getSeconds();
                        return  year+ '年' + month + '月' + day + '日';
                    },
                    numfilter: function(value){
                        if(value > 10000){
                            value = value / 10000;
                            return value + "万";
                        }
                        else if(value > 1000){
                            value = value /1000;
                            return value + "千";
                        }
                        else
                            return value;
                    },
                    mintohour: function (value) {
                        if(value >= 60){
                            var h = value / 60;
                            var min = value % 60;
                            return h + ":" + min;
                        }
                        else{
                            if(value < 10){
                                return "00:0" + value;
                            }
                            else return "00:" + value;
                        }
                    },
                },
            });
        </script>
    </div>
    <!--创客讲堂-->
    <div class="sonp-section sonp-full sonp-parallax" id="fourth">
        <div class="row" style="padding-top:10px;">
            <div class="col-md-10 col-md-offset-1">
                <h1 style="font-weight:bold;">
                    热门课程&nbsp;&nbsp;&nbsp;
                    <a href="/resource/home"><small style="color: #1ab394;"> more>> </small></a>
                </h1>
            </div>         
        </div>

        <div class="moder_container" id="resblock">
            <section>
                <div class="moder_tabs moder_tabs-style-linebox">
                    <nav>
                        <ul>
                            <li id="tag0"><a><span>Java</span></a></li>
                            <li @click.once="getTag($event)" id="tag1"><a><span>Web</span></a></li>
                            <li @click.once="getTag($event)" id="tag2"><a><span>测试</span></a></li>
                            <li @click.once="getTag($event)" id="tag3"><a><span>H5</span></a></li>
                            <li @click.once="getTag($event)" id="tag4"><a><span>unreal</span></a></li>
                        </ul>
                    </nav>
                    <div class="moder_content-wrap">
                        <section v-cloak>
                            <div class="row">
                                <div class="col-md-3" v-for="res in tagRes[0].t">
                                    <div class="panel panel-default">
                                        <div class="panel-body" style="padding : 5px;">
                                            <div class="box">
                                                <img :src="'/file/showImg/' + res.resImg" alt="图片加载失败">
                                                <div class="box-content">
                                                    <ul class="icon">
                                                        <li><a :href="'/resource/player/' + res.resId"><i class="fa fa-play"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" style="padding-top: 5px; padding-bottom: 0px;">
                                            <a :href="'/resource/player/' + res.resId">
                                                <p class="text-left">
                                                    {{res.resName | namefilter}}
                                                </p>
                                            </a>
                                            <p class="text-left">
                                            <span class="badge" v-for="t in tagSplit(res.resTag).slice(0, 5)" style="margin-right: 5px;margin-top: 3px;">{{t|namefilter}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section v-cloak>
                            <div class="row">
                                <div class="col-md-3" v-for="res in tagRes[1].t">
                                    <div class="panel panel-default">
                                        <div class="panel-body" style="padding : 5px;">
                                            <div class="box">
                                                <img :src="'/file/showImg/' + res.resImg" alt="图片加载失败">
                                                <div class="box-content">
                                                    <ul class="icon">
                                                        <li><a :href="'/resource/player/' + res.resId"><i class="fa fa-play"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" style="padding-top: 5px; padding-bottom: 0px;">
                                            <a :href="'/resource/player/' + res.resId">
                                                <p class="text-left">
                                                    {{res.resName | namefilter}}
                                                </p>
                                            </a>
                                            <p class="text-left">
                                                <span class="badge" v-for="t in tagSplit(res.resTag).slice(0, 5)" style="margin-right: 5px;margin-top: 3px;">{{t|namefilter}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section v-cloak>
                            <div class="row">
                                <div class="col-md-3" v-for="res in tagRes[2].t">
                                    <div class="panel panel-default">
                                        <div class="panel-body" style="padding : 5px;">
                                            <div class="box">
                                                <img :src="'/file/showImg/' + res.resImg" alt="图片加载失败">
                                                <div class="box-content">
                                                    <ul class="icon">
                                                        <li><a :href="'/resource/player/' + res.resId"><i class="fa fa-play"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" style="padding-top: 5px; padding-bottom: 0px;">
                                            <a :href="'/resource/player/' + res.resId">
                                                <p class="text-left">
                                                    {{res.resName | namefilter}}
                                                </p>
                                            </a>
                                            <p class="text-left">
                                                <span class="badge" v-for="t in tagSplit(res.resTag).slice(0, 5)" style="margin-right: 5px;margin-top: 3px;">{{t|namefilter}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section v-cloak>
                            <div class="row">
                                <div class="col-md-3" v-for="res in tagRes[3].t">
                                    <div class="panel panel-default">
                                        <div class="panel-body" style="padding : 5px;">
                                            <div class="box">
                                                <img :src="'/file/showImg/' + res.resImg" alt="图片加载失败">
                                                <div class="box-content">
                                                    <ul class="icon">
                                                        <li><a :href="'/resource/player/' + res.resId"><i class="fa fa-play"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" style="padding-top: 5px; padding-bottom: 0px;">
                                            <a :href="'/resource/player/' + res.resId">
                                                <p class="text-left">
                                                    {{res.resName | namefilter}}
                                                </p>
                                            </a>
                                            <p class="text-left">
                                                <span class="badge" v-for="t in tagSplit(res.resTag).slice(0, 5)" style="margin-right: 5px;margin-top: 3px;">{{t|namefilter}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section v-cloak>
                            <div class="row">
                                <div class="col-md-3" v-for="res in tagRes[4].t">
                                    <div class="panel panel-default">
                                        <div class="panel-body" style="padding : 5px;">
                                            <div class="box">
                                                <img :src="'/file/showImg/' + res.resImg" alt="图片加载失败">
                                                <div class="box-content">
                                                    <ul class="icon">
                                                        <li><a :href="'/resource/player/' + res.resId"><i class="fa fa-play"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" style="padding-top: 5px; padding-bottom: 0px;">
                                            <a :href="'/resource/player/' + res.resId">
                                                <p class="text-left">
                                                    {{res.resName | namefilter}}
                                                </p>
                                            </a>
                                            <p class="text-left">
                                                <span class="badge" v-for="t in tagSplit(res.resTag).slice(0, 5)" style="margin-right: 5px;margin-top: 3px;">{{t|namefilter}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript">
            var resblock = new Vue({
                el:'#resblock',
                data:{
                    tagRes :
                        [
                            {t : []},
                            {t : []},
                            {t : []},
                            {t : []},
                            {t : []},
                        ],
                    imgUrl : '',
                },
                created: function () {
                    var e = document.getElementById("tag0");
                    var id = e.id.substring(3);
                    var tag = e.children[0].children[0].innerHTML;
                    this.getRes(id, tag);
                },
                methods: {
                    tagSplit : function (tags) {
                        return tags.split(",");
                    },
                    getTag : function(event){
                        var id = event.currentTarget.id.substring(3);
                        var tag = event.currentTarget.children[0].children[0].innerHTML;
                        this.getRes(id, tag);
                    },
                    getRes : function (id, tag) {
                        $.ajax({
                            type: "POST",
                            url: "/home/tagResource/" + tag,
                            dataType: "json",
                            success: function(result){
                                if(result.code === 0){
                                    resblock.tagRes[id].t = result.res;
                                }
                            }
                        });
                    },
                },
                filters: {
                    namefilter: function (value) {
                        if (value && value.length > 10) {
                            value = value.substring(0, 10) + '...';
                        }
                        return value;
                    },
                    introfilter: function (value) {
                        if (value && value.length > 25) {
                            value = value.substring(0, 25) + '...';
                        }
                        return value;
                    },
                    numfilter: function(value){
                        if(value > 10000){
                            value = value / 10000;
                            return value + "万";
                        }
                        else if(value > 1000){
                            value = value /1000;
                            return value + "千";
                        }
                        else
                            return value;
                    },
                    mintohour: function (value) {
                        if(value >= 60){
                            var h = value / 60;
                            var min = value % 60;
                            return h + ":" + min;
                        }
                        else{
                            if(value < 10){
                                return "00:0" + value;
                            }
                            else return "00:" + value;
                        }
                    },
                },
            });
        </script>
    </div>
    <!--招聘和原创-->
    <div class="sonp-section sonp-full sonp-parallax" id="fifth">
        <div class="row" style="padding-top:75px;">
            <div class="col-md-6" id="jobsblock">
                <div class="row">
                    <div class="leaderboard" id="jobs" >                       
                        <h1>
                            <a href="">
                                热门招聘
                            </a>
                        </h1>
                        <ol>
                            <li v-for="j in jobs" @click="goJobs(j.jobId)">
                                <mark>{{j.jobName | namefilter}}</mark>
                                <small>{{j.jobMoney}}</small>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var jobsblock = new Vue({
                    el:'#jobsblock',
                    data:{
                        jobs : '',
                    },
                    created: function () {
                        this.getJobs();
                    },
                    methods: {
                        getJobs : function () {
                            $.ajax({
                                type: "POST",
                                url: "/home/getJobs/",
                                dataType: "json",
                                success: function(result){
                                    if(result.code === 0){
                                        jobsblock.jobs = result.jobs;
                                    }
                                }
                            });
                        },
                        goJobs : function (val) {
                            let url = "/ForJob/mes/" + val;
                            window.open(url,"_blank");
                        }
                    },
                    filters: {
                        namefilter: function (value) {
                            if (value && value.length > 16) {
                                value = value.substring(0, 16) + '...';
                            }
                            return value;
                        },
                    },
                });
            </script>
            <div class="col-md-6" id="originsblock">
                <div class="row">
                    <div class="leaderboard" id="origins">
                        <h1>
                            <a href="">
                                热门原创
                            </a>
                        </h1>
                        <ol>
                            <li v-for="o in origins">
                                <mark>{{o.origName | namefilter}}</mark>
                                <small>{{o.origGrade}}分</small>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var originsblock = new Vue({
                    el:'#originsblock',
                    data:{
                        origins : '',
                    },
                    created: function () {
                        this.getOrigins();
                    },
                    methods: {
                        getOrigins : function () {
                            $.ajax({
                                type: "POST",
                                url: "/home/getOrigins/",
                                dataType: "json",
                                success: function(result){
                                    if(result.code === 0){
                                        originsblock.origins = result.origins;
                                        console.log(originsblock.origins);
                                    }
                                }
                            });
                        },
                    },
                    filters: {
                        namefilter: function (value) {
                            if (value && value.length > 10) {
                                value = value.substring(0, 10) + '...';
                            }
                            return value;
                        },
                        numfilter: function(value){
                            if(value > 10000){
                                value = value / 10000;
                                return value + "万";
                            }
                            else if(value > 1000){
                                value = value /1000;
                                return value + "千";
                            }
                            else
                                return value;
                        },
                    },
                });
            </script>
        </div>
    </div>
    <!--页脚-->
    <div class="sonp-section sonp-small" id="finale">
        <footer>
            <div class="container-fluid_foot">
                <div class="foot_panel">
                    <div class="foot_panel_left">
                        <div class="img">
                            <a href="#">
                                <img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
                            </a>
                        </div>
                        <div class="beian">
                            <p>创客网 © 2018－
                                <br>肇庆学院东软实训班第三组版权所有
                                <br>[粤ICP备xxxxxxx号-x] 标识
                                <br> 粤公网安备xxxxxxxxxx号</p>
                        </div>
                    </div>
                    <div class="foot_panel_right">
                        <div class="foot_panel_right_row">
                            <ul class="list-unstyled">
                                <li>
                                    <h4>新手指南</h4>
                                    <a href="/help/register">注册登录问题</a><br />
                                    <a href="/help/process">项目交易流程</a><br />
                                    <a href="/help/fund">充值提款问题</a><br />
                                    <a href="help/about_agreement">用户注册协议</a><br />
                                    <a href="/help/bid_payings">为何付费竞标</a>
                                </li>
                                <li>
                                    <h4>特色服务</h4>
                                    <a href="/help/renzheng">实名认证</a><br />
                                    <a href="/help/searchs">精准搜索</a><br />
                                    <a href="/help/workhour">小时报价</a><br />
                                    <a href="/help/bumanyituikuan">不满意退款</a><br />
                                    <a href="/help/bid_card">竞标卡规则</a>
                                </li>
                                <li>
                                    <h4>评价信誉</h4>
                                    <a href="/help/pingjiadengm">操作演示</a><br />
                                    <a href="/help/service_payings">服务收费</a><br />
                                    <a href="/help/evaluations">用户评价</a><br />
                                    <a href="/help/jifens">积分体系</a><br />
                                    <a href="/help/controversy">争议解决</a>
                                </li>
                                <li>
                                    <h4>答疑中心</h4>
                                    <a href="/help/pro_relase">项目发布问题</a><br />
                                    <a href="/help/bid_joinings">参与竞标问题</a><br />
                                    <a href="/help/pro_runnings">项目开发问题</a><br />
                                    <a href="/help/pro_done">项目完工问题</a><br />
                                    <a href="/help/it_realse">信息发布问题</a>
                                </li>
                                <li>
                                    <h4>联系我们</h4>
                                    <a href="/help/about_us">关于SXSOFT</a><br />
                                    <a href="/help/about_company">公司概况</a><br />
                                    <a href="/help/contact_us">联系方式</a><br />
                                    <a href="/help/about_advertising">广告投放</a><br />
                                    <a href="/help/links">友情链接</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- 自定义js -->
    <!-- 页面滚动JS -->
    <script src="/static/js/js_cwh/sonpScroll/sonpScroll.js"></script>

     <!--3d图片旋转 -->
    <script src="/static/js/js_cwh/yys-slider/jquery-yys-slider.js"></script>
    <script>
    $(function(){
        $('.content-part.part-tese').addClass('show');
        $('.gallery_container').gallery_slider({imgNum: 4});
    })
    </script>

    <!--选项卡 -->
    <script src="/static/js/js_cwh/tab/modernizr.custom.js"></script>
    <script src="/static/js/js_cwh/tab/cbpFWTabs.js"></script>
    <script>
        (function() {
            [].slice.call( document.querySelectorAll( '.moder_tabs' ) ).forEach( function( el ) {
                new CBPFWTabs( el );
            });
        })();
    </script>

    <!-- suggest search -->
    <script src="/static/js/js_cwh/bootstrap-suggest/bootstrap-suggest.js"></script>
    <script type="text/javascript">
        function checkName(name){
            if(name.length <= 25)
                return name;
            else
                return name.substring(0,25) + "...";
        }
        $("#search").bsSuggest({
            //提示所用的数据，注意格式
            data: '',
            emptyTip: '未检索到匹配的数据',
            keyField: 'resName',
            url: '/home/searchSuggest?key=',
            fnProcessData: function (json) {
                console.log(json);
                var index, len, data = {value: []};
                if (!json || !json.suggestProj || json.suggestProj.length === 0) {
                    return false;
                }

                len = json.suggestProj.length;
                var projs = json.suggestProj;
                for (index = 0; index < len; index++) {
                    data.value.push({
                        projName: checkName(projs[index].project.projName),
                        projIntro: projs[index].project.projIntro,
                        bidNum : projs[index].bidnum === null ? "0人投标" : projs[index].bidnum + "人投标",
                    });
                }
                return data;
            },

            /* 搜索相关 */
            //键盘向上/下方向键时，是否自动选择值
            autoSelect: true,
            //是否允许无关键字时请求数据
            allowNoKeyword: true,
            //获取数据的方式，url：一直从url请求；data：从 options.data 获取；firstByUrl：第一次从Url获取全部数据，之后从options.data获取
            getDataMethod: 'url',
            //前端搜索匹配时，是否忽略大小写
            ignorecase: true,
            //有效显示于列表中的字段，非有效字段都会过滤，默认全部。
            effectiveFields: ["projName", "bidNum"],
            //有效字段的别名对象，用于 header 的显示
            // effectiveFieldsAlias: {},
            //有效搜索字段，从前端搜索过滤数据时使用，但不一定显示在列表中。effectiveFields 配置字段也会用于搜索过滤
            searchFields: ["projName", "projIntro"],
            // 是否双向匹配搜索。为 true 即输入关键字包含或包含于匹配字段均认为匹配成功，为 false 则输入关键字包含于匹配字段认为匹配成功
            twoWayMatch: true,

            multiWord: true,               //以分隔符号分割的多关键字支持
            separator: ',',                 //多关键字支持时的分隔符，默认为半角逗号
            delay: 300,                     //搜索触发的延时时间间隔，单位毫秒

            /* UI */
            autoDropup: false,              //选择菜单是否自动判断向上展开。设为 true，则当下拉菜单高度超过窗体，且向上方向不会被窗体覆盖，则选择菜单向上弹出
            autoMinWidth: false,            //是否自动最小宽度，设为 false 则最小宽度不小于输入框宽度
            showHeader: false,              //是否显示选择列表的 header。为 true 时，有效字段大于一列则显示表头
            showBtn: true,                  //是否显示下拉按钮
            inputBgColor: '',               //输入框背景色，当与容器背景色不同时，可能需要该项的配置
            inputWarnColor: 'rgba(255,255,255,.1)', //输入框内容不是下拉列表选择时的警告色
            listStyle: {
                'padding-top': 0,
                'max-height': '375px',
                'max-width': '800px',
                'overflow': 'auto',
                'width': 'auto',
                'transition': '0.3s',
                '-webkit-transition': '0.3s',
                '-moz-transition': '0.3s',
                '-o-transition': '0.3s'
            },                              //列表的样式控制
            listAlign: 'left',              //提示列表对齐位置，left/right/auto
            listHoverStyle: 'background: #07d; color:#fff', //提示框列表鼠标悬浮的样式
            listHoverCSS: 'jhover',         //提示框列表鼠标悬浮的样式名称
            /* key */
            keyLeft: 37,                    //向左方向键，不同的操作系统可能会有差别，则自行定义
            keyUp: 38,                      //向上方向键
            keyRight: 39,                   //向右方向键
            keyDown: 40,                    //向下方向键
            keyEnter: 13,                   //回车键
        });
    </script>

    <!--导航条滚动js-->
    <script type="text/javascript">
        var new_scroll_position = 0;
        var last_scroll_position;
        var header = document.getElementById("headerBar");

        window.addEventListener('scroll', function (e) {
            last_scroll_position = window.scrollY;

            // Scrolling down
            if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
                // header.removeClass('slideDown').addClass('slideUp');
                header.classList.remove("slideDown");
                header.classList.add("slideUp");

                // Scrolling up
            } else if (new_scroll_position > last_scroll_position) {
                // header.removeClass('slideUp').addClass('slideDown');
                header.classList.remove("slideUp");
                header.classList.add("slideDown");
            }

            new_scroll_position = last_scroll_position;
        });
    </script>
</body>

</html>