<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en" xmlns:bottom="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>创客</title>
		<script src="/static/js/jquery.min.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<script src="/static/js/bootstrap.min.js"></script>
		<link href="/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
		<link href="/static/css/css_psw/style_studio15.css" rel="stylesheet" />
		<link href="/static/css/css_psw/style_head.css" rel="stylesheet" />
		<link href="/static/css/style.css" rel="stylesheet" />
		<link href="/static/css/css_psw/toPage1.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/js_psw/toPage1.js"></script>
		<script src="http://how2j.cn/study/vue.min.js"></script>
		<script src="http://how2j.cn/study/axios.min.js"></script>
		<style>

		</style>
	</head>

	<body>
		<header>
			<div class="container-fluid container-fluid_up">
				<div class="row_up">
					<ul class="list-unstyled">
						<li>
							<a href="#">帮助中心</a>
						</li>
						<li>
							<a href="#">注册</a>
						</li>
						<li>
							<a href="#">登录</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container-fluid container-fluid_main">
				<div class="row_main">
					<div class="main_logo">
						<img class="img-responsive img-rounded" src="/static/img/img_psw/logo2.png" />
					</div>
					<div class="main_right">
						<ul class="nav_psw list-unstyled">
							<li>
								<a>首 页</a>
							</li>
							<li>
								<a>项目大厅</a>
							</li>
							<li class="active">
								<a>服务大厅</a>
							</li>
							<li>
								<a>创客讲堂</a>
							</li>
							<li>
								<a>原创中心</a>
							</li>
							<li>
								<a>荣誉中心</a>
							</li>
							<li>
								<a>在线求职</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<div class="container-fluid_body">
			<div class="row">
				<div class="img">
					<img src="/static/img/img_psw/log.png">
				</div>
				<div class="col-lg-12 restart">

					<span>找服务——按条件筛选</span>
					<a href="/stuhall/hall">重置筛选条件</a>
				</div>
				<div class="col-lg-12 shaixuan">
					<ul class="list-unstyled" datafrom="service">
						<li datatype="xiangmufenlei">
							<span class="span-title">服务分类</span>
							<a :href="jumpType('不限')" id="alltype" :class="addClass('不限')">不限</a>
							<a :href="jumpType('网站开发')" id="hulianwang" :class="addClass('网站开发')">网站开发</a>
							<a :href="jumpType('桌面应用')" id="zhuomian" :class="addClass('桌面应用')">桌面应用</a>
							<a :href="jumpType('APP')" id="yiydong" :class="addClass('APP')">APP</a>
							<a :href="jumpType('UI设计')" id="shejishuzi" :class="addClass('UI设计')">UI设计</a>
							<a :href="jumpType('数据采集与分析')" id="shujufenxin" :class="addClass('数据采集与分析')">数据采集与分析</a>
							<a :href="jumpType('嵌入式与智能硬件')" id="zhineng" :class="addClass('嵌入式与智能硬件')">嵌入式与智能硬件</a>
							<a :href="jumpType('微信开发')" id="weixin" :class="addClass('微信开发')">微信开发</a>
							<a :href="jumpType('管理系统')" id="guanli" :class="addClass('管理系统')">管理系统</a>
							<a :href="jumpType('其它分类项目')" id="qita" :class="addClass('其它分类项目')">其它分类项目</a>
						</li>
						<li class="li-address" datatype="address">
							<span class="span-title">所在地区</span>
							<a :href="jumpType2('不限')" :class="addClass2('不限')">不限</a>
							<a :href="jumpType2('广东省')" :class="addClass2('广东省')">广东省</a>
							<a :href="jumpType2('深圳市')" :class="addClass2('深圳市')">深圳市</a>
							<a :href="jumpType2('北京市')" :class="addClass2('北京市')">北京市</a>
							<a :href="jumpType2('上海市')" :class="addClass2('上海市')">上海市</a>
							<a :href="jumpType2('天津市')" :class="addClass2('天津市')">天津市</a>
							<a :href="jumpType2('重庆市')" :class="addClass2('重庆市')">重庆市</a>
							<a :href="jumpType2('河北省')" :class="addClass2('河北省')">河北省</a>
							<a :href="jumpType2('山西省')" :class="addClass2('山西省')">山西省</a>
							<a :href="jumpType2('河南省')" :class="addClass2('河南省')">河南省</a>
							<a :href="jumpType2('辽宁省')" :class="addClass2('辽宁省')">辽宁省</a>
							<a :href="jumpType2('吉林省')" :class="addClass2('吉林省')">吉林省</a>
							<a :href="jumpType2('黑龙江省')" :class="addClass2('黑龙江省')">黑龙江省</a>
							<a :href="jumpType2('江苏省')" :class="addClass2('江苏省')">江苏省</a>
							<a class="more_btn">更多
								<i class="glyphicon glyphicon-chevron-down"></i>
							</a>
							<div class="more_d">

								<a :href="jumpType2('山东省')" :class="addClass2('山东省')">山东省</a>
								<a :href="jumpType2('安徽省')" :class="addClass2('安徽省')">安徽省</a>
								<a :href="jumpType2('浙江省')" :class="addClass2('浙江省')">浙江省</a>
								<a :href="jumpType2('福建省')" :class="addClass2('福建省')">福建省</a>
								<a :href="jumpType2('湖北省')" :class="addClass2('湖北省')">湖北省</a>
								<a :href="jumpType2('湖南省')" :class="addClass2('湖南省')">湖南省</a>
								<a :href="jumpType2('广西省')" :class="addClass2('广西省')">广西省</a>
								<a :href="jumpType2('江西省')" :class="addClass2('江西省')">江西省</a>
								<a :href="jumpType2('四川省')" :class="addClass2('四川省')">四川省</a>
								<a :href="jumpType2('海南省')" :class="addClass2('海南省')">海南省</a>
								<a :href="jumpType2('贵州省')" :class="addClass2('贵州省')">贵州省</a>
								<a :href="jumpType2('云南省')" :class="addClass2('云南省')">云南省</a>
								<a :href="jumpType2('陕西省')" :class="addClass2('陕西省')">陕西省</a>
								<a :href="jumpType2('甘肃省')" :class="addClass2('甘肃省')">甘肃省</a>
								<a :href="jumpType2('青海省')" :class="addClass2('青海省')">青海省</a>
								<a :href="jumpType2('宁夏')" :class="addClass2('宁夏')">宁夏</a>
							</div>
						</li>
						<li datatype="" class="search_psw" style="">
							<span class="span-title">找工作室</span>
							<input id="keyWord" class="span-input input-fix" type="text" placeholder="输入服务关键字" v-model="studioName">
							<a class="btn icon-glyphicon-search time-search  service-glyphicon-search" :href="jumpType3()">
								<i class="glyphicon glyphicon-search"></i>
							</a>
						</li>

					</ul>
				</div>
				<div class="content">
					<div class="col-lg-12 paixu">
						<ul class="list-unstyled">
							<li>
								<div id="toggle">
									<span>排序</span>
									<a href="javascript:void(0);" class="toggle" @click="toggle"><i class="fa fa-arrow-up" v-if="show1"></i><i class="fa fa-arrow-down" v-if="show2"></i>荣誉积分</a>
								</div>
							</li>
							<li id="total">
								共筛选出
								<span class="sum"> {{total}} </span>条满足条件的工作室
							</li>
						</ul>
					</div>
					<div id="templeate" style="display: none">
						<div class="col-lg-3">
							<div class="service-body-service">
								<a href="#" target="_blank" :href="jumpto(studio.stuId)">
									<div class="small-card">
										<img class="img-responsive" src="http://sxsoftimg.oss-cn-beijing.aliyuncs.com/sxsoft/service/7PpMZxQpjZdsp87f/1807161038/平面广告页面设计_01.png" title="商标设计（原创设计修改至满意为止包过注册）" alt="商标设计（原创设计修改至满意为止包过注册）">
									</div>
								</a>
								<div class="service_content">
									<div class="service-price">
										<span class="category-name">领域：{{studio.stuField}}</span>

										<span class="category-price">荣誉积分：{{studio.stuGrade}}</span>
									</div>
									<div class="service-ownership">
										<a href="#" target="_blank">
											<span>
											<i class="glyphicon glyphicon-home"></i>
										</span>
											<div class="service-jbf-name" :title="studio.stuName">
												<a class="nowrap" :href="jumpto(studio.stuId)" target="_blank">{{studio.stuName}}</a>
											</div>
											<div class="huiyuanleixing">工作室</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row service_body-service" id="studiohall">
						<studio v-for="item in studios" v-bind:studio="item"></studio>
						<div  v-if="show"><img style="display:block;margin: 0 auto" src="/static/img/img_psw/null.png" /> </div>
					</div>
					<div class="page_1" style="margin-top: 60px;margin-bottom: 20px"></div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container-fluid_foot">
				<div class="foot_panel">
					<div class="foot_panel_left">
						<div class="img">
							<a href="#">
								<img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
							</a>
						</div>
						<div class="beian">
							<p>创客网 © 2018－
								<br>肇庆学院东软实训班第三组版权所有
								<br>[粤ICP备xxxxxxx号-x] 标识
								<br> 粤公网安备xxxxxxxxxx号</p>
						</div>
					</div>
					<div class="foot_panel_right">
						<div class="foot_panel_right_row">
							<ul class="list-unstyled">
								<li>
									<h4>新手指南</h4>
									<a href="/help/register">注册登录问题</a>
									<br />
									<a href="/help/process">项目交易流程</a>
									<br />
									<a href="/help/fund">充值提款问题</a>
									<br />
									<a href="help/about_agreement">用户注册协议</a>
									<br />
									<a href="/help/bid_payings">为何付费竞标</a>
								</li>
								<li>
									<h4>特色服务</h4>
									<a href="/help/renzheng">实名认证</a>
									<br />
									<a href="/help/searchs">精准搜索</a>
									<br />
									<a href="/help/workhour">小时报价</a>
									<br />
									<a href="/help/bumanyituikuan">不满意退款</a>
									<br />
									<a href="/help/bid_card">竞标卡规则</a>
								</li>
								<li>
									<h4>评价信誉</h4>
									<a href="/help/pingjiadengm">操作演示</a>
									<br />
									<a href="/help/service_payings">服务收费</a>
									<br />
									<a href="/help/evaluations">用户评价</a>
									<br />
									<a href="/help/jifens">积分体系</a>
									<br />
									<a href="/help/controversy">争议解决</a>
								</li>
								<li>
									<h4>答疑中心</h4>
									<a href="/help/pro_relase">项目发布问题</a>
									<br />
									<a href="/help/bid_joinings">参与竞标问题</a>
									<br />
									<a href="/help/pro_runnings">项目开发问题</a>
									<br />
									<a href="/help/pro_done">项目完工问题</a>
									<br />
									<a href="/help/it_realse">信息发布问题</a>
								</li>
								<li>
									<h4>联系我们</h4>
									<a href="/help/about_us">关于SXSOFT</a>
									<br />
									<a href="/help/about_company">公司概况</a>
									<br />
									<a href="/help/contact_us">联系方式</a>
									<br />
									<a href="/help/about_advertising">广告投放</a>
									<br />
									<a href="/help/links">友情链接</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
	<script>
        var templeateDiv=$("#templeate").html();
        var templeateObject={
            props:['studio'],
            template:templeateDiv,
			methods:{
				jumpto:function (id) {
					return "/stuhall/detail?stuid="+id;
                }
			}
        }
        Vue.component("studio",templeateObject);
        var url="/stuhall/get_hall";
        new Vue({
			el:'#studiohall',
			data:{
			    studios:'',
				show:false
			},
			mounted:function () {
			    var self=this;
				axios.get(url).then(function (response) {
				    self.studios=response.data.page.list;
				    if(response.data.page.list[0]==null)
				        self.show=!self.show;
                    new Vue({
                        el:'.shaixuan',
                        data:{
                            type:response.data.type,
                            local:response.data.local,
							studioName:response.data.studioName
                        },
                        methods:{
                            jumpType:function(type){
                                if(this.type==type)
                                    return "javascript:return false";
                                else
                                    return "/stuhall/hall?type="+type+"&local="+this.local+"&studioName="+this.studioName;
                            },
                            jumpType2:function(local){
                                if(this.local==local)
                                    return "javascript:return false";
                                else
                                    return "/stuhall/hall?type="+this.type+"&local="+local+"&studioName="+this.studioName;
                            },
                            jumpType3:function(){
                                if(this.studioName=="") {
                                    return "/stuhall/hall";
                                }
                                else
                                    return "/stuhall/hall?studioName="+this.studioName;
                            },
                            addClass:function(type){
                                if(this.type==type)
                                    return "channel3";
                            },
							addClass2:function(local){
                                if(this.local==local)
                                    return "channel3";
							}
                        }
                    });
				    new Vue({
						el:'#total',
						data:{
						    total:response.data.page.total
						}
					});
                    new Vue({
                        el: '#toggle',
                        data: {
                            show1:false,
							show2:false
                        },
						mounted:function(){
                            if(response.data.sort=="1")
                                this.show2=true;
                            else if(response.data.sort=="2")
                                this.show1=true;
						},
                        methods:{
                            toggle: function(){
								if(response.data.sort=='1')
								    window.location.href="/stuhall/hall?type="+response.data.type+"&local="+response.data.local+"&studioName="+response.data.studioName+"&sort=2";
                            	else
                                    window.location.href="/stuhall/hall?type="+response.data.type+"&local="+response.data.local+"&studioName="+response.data.studioName+"&sort=1";
                            }
                        }
                    });
                    var obj_1={
                        obj_box:'.page_1',//翻页容器
                        total_item:response.data.page.total,//条目总数
                        per_num:response.data.page.pageSize,//每页条目数*/
                        current_page:response.data.page.pageNum//当前页
                    };
                    page_ctrl(obj_1);
                    $(' .page_ctrl').on('click','button',function () {
                        var that=$(this);
                        if(that.hasClass('prev_page')){
                            window.location.href="/stuhall/hall?type="+response.data.type+"&local="+response.data.local+"&studioName="+response.data.studioName+"&sort="+response.data.sort+"&start="+response.data.page.prePage;
                        }
                        else if(that.hasClass('next_page')){
                            window.location.href="/stuhall/hall?type="+response.data.type+"&local="+response.data.local+"&studioName="+response.data.studioName+"&sort="+response.data.sort+"&start="+response.data.page.nextPage;
                        }
                        else if(that.hasClass('page_num')&&!that.hasClass('current_page')){
                            window.location.href="/stuhall/hall?type="+response.data.type+"&local="+response.data.local+"&studioName="+response.data.studioName+"&sort="+response.data.sort+"&start="+that.html();
                        }
                        else if(that.hasClass('to_page_num')){
                            window.location.href="/stuhall/hall?type="+response.data.type+"&local="+response.data.local+"&studioName="+response.data.studioName+"&sort="+response.data.sort+"&start="+that.siblings('.input_page_num').val();
                        }
                    });
                })
            }
		})
	</script>
</html>