<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en" xmlns:bottom="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>创客</title>
		<script src="/static/js/jquery.min.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<script src="/static/js/bootstrap.min.js"></script>
		<link href="/static/css/css_psw/style_studio15.css" rel="stylesheet" />
		<link href="/static/css/css_psw/style_head.css" rel="stylesheet"/>
		<link href="/static/css/style.css" rel="stylesheet" />
		<script src="http://how2j.cn/study/vue.min.js"></script>
		<script src="http://how2j.cn/study/axios.min.js"></script>
	</head>
	<body>
	<header class="header-navigation" id="headerBar">
		<div class="nav-content-filter">
			<div class="row_main">
				<!--logo-->
				<div class="main_logo">
					<img class="img-responsive img-rounded nav-img-logo" src="/static/img/img_psw/logo2.png" />
				</div>
				<!--超链接-->
				<div class="nav-main-right">
					<nav class="cd-nav">
						<ul>
							<li><a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
							<li><a href="/project/xwh">项目大厅</a></li>
							<li><a class="active" href="/stuhall/hall">服务大厅</a></li>
							<li><a href="/resource/home">创客讲堂</a></li>
							<li><a href="/original/all">原创中心</a></li>
							<li><a href="/ForJob/search">在线求职</a></li>
							<li><a href="/honor/honorPage">荣誉中心</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!--头像、个人中心、注销等-->
			<div id="headVue">
				<ul class="nav navbar-top-links navbar-right" style="margin-right: 5%;">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" style="padding: 5% 0 0 0;background: #fff0;" href="#" >
							<!--没有登陆-->
							<img class="nav-avatar" v-if="!isLogined" src="/static/img/img_chh/akari.jpg"/>
							<!--已经登录-->
							<img class="nav-avatar" v-else :src="img"/>
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu dropdown-alerts nav-dropdown-menu">
							<!--##########未登录###############-->
							<li v-if="!isLogined">
								<a href="/login"><p class="nav-text-center">登录</p></a>
							</li>
							<li v-if="!isLogined">
								<a href="/registered/select/new"><p class="nav-text-center">注册</p></a>
							</li>
							<!--##########已登录###############-->
							<li v-if="isLogined">
								<a :href="centerUrl"><p class="nav-text-center">个人中心</p></a>
							</li>
							<li v-if="isLogined && !isPromul">
								<a href="/studio/studioNone"><p class="nav-text-center">我的工作室</p></a>
							</li>
							<li v-if="isLogined">
								<a href="/logout"><p class="nav-text-center">注销</p></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<script type="text/javascript">
                var nav_vue = new Vue({
                    el:'#headVue',
                    data:{
                        loginUser: '',
                        isLogined: false,
                        isPromul : '',
                        img : '',
                        centerUrl : '',
                    },
                    created: function () {
                        this.getUser();
                    },
                    methods: {
                        getUser: function(){
                            $.ajax({
                                type: "POST",
                                url: "/home/getLoginUser",
                                dataType: "json",
                                success: function(result){
                                    if(result.code === 404){
                                        nav_vue.isLogined = false;
                                    }
                                    else if(result.code === 0){
                                        nav_vue.isLogined = true;
                                        nav_vue.isPromul = result.isPromul;
                                        nav_vue.loginUser = result.loginUser;
                                        nav_vue.img = result.img;
                                        nav_vue.centerUrl = result.centerUrl;
                                    }
                                }
                            });
                        },
                    }
                });
			</script>
		</div>
	</header>
	<div class="header-take-space"><!--这是占位的div,默认高度为100px，可以自己修改--></div>
		<div class="container-fluid_body">
			<div class="row">
				<div class="service-body" id="studio">
					<div class="service-body_left">
						<img class="img-responsive img-rounded" :src="'/file/showImg/' + studio.stuImg" alt="商标设计（原创设计修改至满意为止包过注册）">
					</div>
					<div class="service-body_right">
						<div class="right_title">
							{{studio.stuName}}
						</div>
						<div class="right_biaoqian">
							<span class="biaoqian_head" style="font-size: 13px">组长：</span>
							<span class="biaoqian_body"><a target="_blank" :href="'/user/user_hp?userId='+user.userId">{{user.userName}}</a></span>
						</div>
						<div class="right_biaoqian">
							<span class="biaoqian_head" style="font-size: 13px">简介：</span>
							<span class="biaoqian_body">{{studio.stuIntro}}</span>
						</div>
						<div class="right_biaoqian">
							<span class="biaoqian_head">领域：</span>
							<span class="biaoqian_body">{{studio.stuField}}</span>
						</div>
						<div class="right_num right_top">
							<span class="text">成员数量：</span>
							<span class="msg">
							{{studio.stuMembernum}}
						</span>
						</div>
						<div class="right_jifen right_top">
							<span class="text">信誉积分：</span>
							<span class="msg">
							{{studio.stuGrade}}
						</span>
						</div>
						<div class="right_price right_top">
							<span class="text">报价：</span>
							<span class="msg">
							面议(实际交易价格请联系接包方确认需求)
						</span>
						</div>

						<div class="right_phone right_top">
							<span class="text">联系方式：</span>
							<span class="msg">
							{{user.userPhone}}({{user.userName}})
						</span>
						</div>
						<div class="rigth_chengnuo">
							<img src="/static/img/icon2.svg" alt="不满意退款承诺" title="不满意退款承诺"> 此服务已承诺不满意退款
						</div>
					</div>
				</div>
				<div class="service_neirong">
					<div class="left">
						<div class="Tabs service-content" id="Tabs">
							<div class="TabTitle">
								<ul class="nav nav-tabs navigation" role="tablist">
									<li role="presentation" class="active">
										<a href="#home" aria-controls="home" role="tab" data-toggle="tab">服务描述</a>
									</li>
									<li role="presentation" class="">
										<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">案例</a>
									</li>
								</ul>
							</div>
							<div class="tab-content TabContent services-tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">
									<div>
										<ul class="list-unstyled shuxing">
											<li>终端类型：手机端 PC+手机站 Web站</li>
											<li>开发框架：其他</li>
											<li>开发语言：PHP JavaScript HTML5 CSS</li>
											<li>网站类型：企业网站 电商网站 门户网站</li>
										</ul>
									</div>
									<div>
										<img src="http://sxsoftimg.oss-cn-beijing.aliyuncs.com/sxsoft/service/qX1mZUWIxvGruydq/1807190728/首页-企业形象成品网站.png" class="img-responsive">
										<br>
									</div>
								</div>
								<div id="templeate" style="display: none">
									<div class="col-sm-4 ">
										<div class="cases">
											<a href="/cases/show/508" target="_blank">
												<div class="cases-img">
													<img class="img-responsive" src="http://sxsoftimg.oss-cn-beijing.aliyuncs.com/sxsoft/case/7PpMZxQpjZdsp87f/1807160151/微信截图_20180716135148.png" title="鹤鸣湖网站开发与网页设计" alt="鹤鸣湖网站开发与网页设计">
													<div class="cases-title" title="鹤鸣湖网站开发与网页设计">
														<span class="nowrap">{{project.projName}}</span>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane anli" id="profile" style="min-height: 100px">
									<project v-for="item in projects" v-bind:project="item"></project>
									<div  v-if="show"><img style="display:block;margin: 0 auto" src="/static/img/img_psw/null.png" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container-fluid_foot">
				<div class="foot_panel">
					<div class="foot_panel_left">
						<div class="img">
							<a href="#">
								<img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
							</a>
						</div>
						<div class="beian">
							<p>创客网 © 2018－
								<br>肇庆学院东软实训班第三组版权所有
								<br>[粤ICP备xxxxxxx号-x] 标识
								<br> 粤公网安备xxxxxxxxxx号</p>
						</div>
					</div>
					<div class="foot_panel_right">
						<div class="foot_panel_right_row">
							<ul class="list-unstyled">
								<li>
									<h4>新手指南</h4>
									<a href="/help/register">注册登录问题</a><br />
									<a href="/help/process">项目交易流程</a><br />
									<a href="/help/fund">充值提款问题</a><br />
									<a href="help/about_agreement">用户注册协议</a><br />
									<a href="/help/bid_payings">为何付费竞标</a>
								</li>
								<li>
									<h4>特色服务</h4>
									<a href="/help/renzheng">实名认证</a><br />
									<a href="/help/searchs">精准搜索</a><br />
									<a href="/help/workhour">小时报价</a><br />
									<a href="/help/bumanyituikuan">不满意退款</a><br />
									<a href="/help/bid_card">竞标卡规则</a>
								</li>
								<li>
									<h4>评价信誉</h4>
									<a href="/help/pingjiadengm">操作演示</a><br />
									<a href="/help/service_payings">服务收费</a><br />
									<a href="/help/evaluations">用户评价</a><br />
									<a href="/help/jifens">积分体系</a><br />
									<a href="/help/controversy">争议解决</a>
								</li>
								<li>
									<h4>答疑中心</h4>
									<a href="/help/pro_relase">项目发布问题</a><br />
									<a href="/help/bid_joinings">参与竞标问题</a><br />
									<a href="/help/pro_runnings">项目开发问题</a><br />
									<a href="/help/pro_done">项目完工问题</a><br />
									<a href="/help/it_realse">信息发布问题</a>
								</li>
								<li>
									<h4>联系我们</h4>
									<a href="/help/about_us">关于SXSOFT</a><br />
									<a href="/help/about_company">公司概况</a><br />
									<a href="/help/contact_us">联系方式</a><br />
									<a href="/help/about_advertising">广告投放</a><br />
									<a href="/help/links">友情链接</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
	<script>
        var templeateDiv=$("#templeate").html();
        var templeateObject={
            props:['project'],
            template:templeateDiv,
            methods:{
                /*jumpto:function (id) {
                    return "/stuhall/detail?stuid="+id;
                }*/
            }
        }
        Vue.component("project",templeateObject);
		var url="/stuhall/get_detail";
		new Vue({
			el:'#studio',
			data:{
			  studio:'',
			  user:''
			},
			mounted:function () {
			    var self=this;
				axios.get(url).then(function (response) {
					self.studio=response.data.studio;
					self.user=response.data.user;
					new Vue({
						el:'#profile',
						data:{
						    projects:response.data.projects,
							show:false
						},
						mounted:function () {
							if(response.data.projects[0]==null)
							    this.show=!this.show;
                        }
					})
                })
            }
		})
	</script>
	<!--导航条滚动js-->
	<script type="text/javascript">
        var new_scroll_position = 0;
        var last_scroll_position;
        var header = document.getElementById("headerBar");

        window.addEventListener('scroll', function (e) {
            last_scroll_position = window.scrollY;

            // Scrolling down
            if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
                // header.removeClass('slideDown').addClass('slideUp');
                header.classList.remove("slideDown");
                header.classList.add("slideUp");

                // Scrolling up
            } else if (new_scroll_position > last_scroll_position) {
                // header.removeClass('slideUp').addClass('slideDown');
                header.classList.remove("slideUp");
                header.classList.add("slideDown");
            }

            new_scroll_position = last_scroll_position;
        });
	</script>
</html>