<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/css_hlj/pwd_forget_login.css" />
		<link rel="stylesheet" href="/static/css/css_hlj/login.css" />

		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/vue.js"></script>
		<title>创客登录</title>

	</head>
	<body>
		<!--背景图-->
		<div class="BgPit">
			<!--中间区域-->
			<div class="mid">
				<div class="kong"></div>
				<!--主要内容的方框部分-->
				<div class="major">
					<!--头部分-->
					<div class="head">
						<!--图片-->
						<div class="piture">
							<img src="/static/img/img_hlj/logo2.png" height="35px" width="124px" />
						</div>
						<!--首页帮助-->
						<div class="home">
							<div class="kong"></div>
							<div class="homeD">
								<a href="#" class="txt1">首页</a>
								<!--<a href="http://weibo.com/" class="txt1">微博</a>-->
								<a href="#" class="txt1 last">帮助</a>
							</div>
						</div>
					</div>

					<!--登录-->
					<div class="down">
						<!--中间主体-->
						<div class="downM" id="loginVue">
							<div class="pit2">
								<img src="/static/img/img_hlj/2.jpg" />
							</div>
							<div class="welcome">
								<span>欢迎登录创客网</span>
							</div>
							<form v-on:submit.prevent="login" type="post">

								<div class="email">
									<input type="text" class="form-control" placeholder="邮箱" required="" v-model="email">
								</div>

								<div class="pwd">
									<input type="password" class="form-control" placeholder="密码" required="" v-model="password">
								</div>

								<div class="verify">
									<input type="text" class="form-control" placeholder="请输入验证码" required="" v-model="captcha" @keyup.enter="login">
									<img alt="如果看不清楚，请单击图片刷新！" :src="src" @click="refreshCode"/>
									<span>										
									<a href="javascript:;" @click="refreshCode">换一换</a>
									</span>
								</div>

								<div class="login">
									<button type="submit" class="btn btn-primary block full-width m-b">登 录</button>
								</div>

								<p class="text-muted left"> <a href="#"><small>忘记密码了？</small></a> | <a href="#">注册一个新账号</a>
							</form>

						</div>
					</div>
					<script type="text/javascript">
                        /*<![CDATA[*/
                        contextPath = /*[[@{/}]]*/ '';
                        /*]]>*/
                        var vm = new Vue({
                            el:'#loginVue',
                            data:{
                                email: '',
                                password: '',
                                captcha: '',
                                error: false,
								userType:'',
                                errorMsg: '',
                                src: '/captcha.jpg'
                            },
                            methods: {
                                refreshCode: function(){
                                    this.src = "captcha.jpg?t=" + $.now();
                                },
                                login: function (event) {
                                    var data = "email="+vm.email+"&password="+vm.password+"&captcha="+vm.captcha;
                                    $.ajax({
                                        type: "POST",
                                        url: "/login",
                                        data: data,
                                        dataType: "json",
                                        success: function(result){
                                            if(result.code === 0){//登录成功
                                                if(result.userType === "普通用户")
                                                	window.location.href = contextPath + "/";
                                                else if(result.userType === "发布者")
                                                    window.location.href = contextPath + "/index";
                                                else if(result.userType === "管理员")
                                                    window.location.href = contextPath + "/";
                                            }else{
                                                vm.error = true;
                                                vm.errorMsg = result.msg;
                                                alert(vm.errorMsg);
                                                vm.refreshCode();
                                            }
                                        }
                                    });
                                }
                            }
                        });
					</script>
				</div>
			</div>
		</div>

	</body>

</html>