<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/css_hlj/pwd_forget_3.css" />

		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<title></title>
	</head>

	<body>
		<!--背景图-->
		<div class="BgPit">

			<!--中间区域-->
			<div class="mid">
				<div class="kong"></div>
				<!--主要内容的方框部分-->
				<div class="major">
					<!--头部分-->
					<div class="head">
						<!--图片-->
						<div class="piture">
							<img src="/static/img/img_hlj/logo2.png" height="35px" width="124px" />
						</div>
						<!--首页帮助-->
						<div class="home" >
							<div class="kong"></div>
							<div class="homeD">
								<a href="" class="txt1">首页</a>
								<!--<a href="http://weibo.com/" class="txt1">微博</a>-->
								<a href="" class="txt1 last">帮助</a>
							</div>
						</div>
					</div>
					
					<!--找回密码-->
					<div class="down">
						<div class="up">
							<div class="kong"></div>
							<div class="mid">
								<center>
								<h3 class="title">通过邮箱验证码找回</h3>					
								</center>
							</div>
							<!--进度涂片-->
							<div class="pit">
								<center>
								<img src="/static/img/img_hlj/process_bg_2.png" />
								</center>
							</div>
							<!--进度解释解释-->
							<div class="rate">
								<span class="number">验证邮箱</span>
								<span class="reset">修改密码</span>
								<span class="finish">完成</span>
							</div>
						</div>
						
						<!--信息-->
						<div class="mess">
							<div class="inputpwd">
								<input type="password" placeholder="输入新密码" class="input-sm form-control">
							</div>
							<div class="Reinputpwd">
								<input type="password" placeholder="输入新密码" class="input-sm form-control">
							</div>
							<div class="confirm">
								<a class="btn btn-block btn-primary compose-mail " href="pwd_forget_4.html">确认修改</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</body>

</html>