<!DOCTYPE html>
<html>

	<head>
		<title>选择角色</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/css_psw/style_head.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/css_lxn/register_select.html-lxn.css" />
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</head>

	<body>
		<header>
			<div class="container-fluid container-fluid_up">
				<div class="row_up">
					<ul class="list-unstyled">
						<li>
							<a href="#">帮助中心</a>
						</li>
						<li>
							<a href="#">注册</a>
						</li>
						<li>
							<a href="#">登录</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container-fluid container-fluid_main">
				<div class="row_main">
					<div class="main_logo">
						<img class="img-responsive img-rounded" src="/static/img/img_psw/logo2.png" />
					</div>
					<div class="main_right">
						<ul class="nav_psw list-unstyled">
							<li class="active">
								<a>首 页</a>
							</li>
							<li>
								<a>项目大厅</a>
							</li>
							<li>
								<a>服务大厅</a>
							</li>
							<li>
								<a>创客讲堂</a>
							</li>
							<li>
								<a>原创中心</a>
							</li>
							<li>
								<a>荣誉中心</a>
							</li>
							<li>
								<a>在线求职</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="contest">
					<div class="col-md-6 contest_left">
						<div class="c_btn text-center">
							<a href="/registered/select/promulgator" class="btn btn-primary">发布方注册：发布项目</a>
						</div>	
						<div class="c_p">
							<p class="p_title">创客网发布方简介:</p>
							<p class="p_meg">1.免费快速发布项目，通过工作室承接方竞标，自由选择接包方及项目开发方案</p>
							<p class="p_meg">2.从创客网优秀丰富的资源库内择优选择开发团队，招聘专业开发人才</p>
							<p class="p_meg">3.使用在线项目管理工具进行项目监控，加快项目进度，降低风险，保证项目顺利完工</p>
							<p class="p_meg">4.项目顾问全程监理，资金托管让你高枕无忧</p>
						</div>
						<!--<div class="c_a text-center">-->
							<!--<a href="#">了解更多发布方操作流程</a>-->
						<!--</div>-->
					</div>
					<div class="col-md-6 contest_right">
						<div class="c_btn text-center">
							<a href="/registered/select/user" class="btn btn-primary">普通用户注册：日常使用</a>
						</div>	
						<div class="c_p">
							<p class="p_title">创客网发布方简介:</p>
							<p class="p_meg">1.通过创客网平台，加入工作室，将你的专业技能转换成为现金收入，实现个人价值</p>
							<p class="p_meg">2.公开透明公平的竞争体制，与顶尖开发者一起加入工作室，建立个人人脉和品牌</p>
							<p class="p_meg">3.享受专业外包服务，创客网全程监理，切实保证你的利益，不用担心欠款</p>
							<p class="p_meg">4.免费观看收藏各大专业视频，分享各自原创作品，提升你的个人能力和价值</p>
						</div>
						<!--<div class="c_a text-center">-->
							<!--<a>了解更多普通用户操作流程</a>-->
						<!--</div>					-->
					</div>
				</div>
			</div>
		</div>



		<footer>
			<div class="container-fluid_foot">
				<div class="foot_panel">
					<div class="foot_panel_left">
						<div class="img">
							<a href="#">
								<img src="/static/img/img_psw/log3.png" width="127" height="36" alt="软件项目交易网">
							</a>
						</div>
						<div class="beian">
							<p>创客网 © 2018－
								<br>肇庆学院东软实训班第三组版权所有
								<br>[粤ICP备xxxxxxx号-x] 标识
								<br> 粤公网安备xxxxxxxxxx号</p>
						</div>
					</div>
					<div class="foot_panel_right">
						<div class="foot_panel_right_row">
							<ul class="list-unstyled">
								<li>
									<h4>新手指南</h4>
									<a href="/help/register">注册登录问题</a><br />
									<a href="/help/process">项目交易流程</a><br />
									<a href="/help/fund">充值提款问题</a><br />
									<a href="help/about_agreement">用户注册协议</a><br />
									<a href="/help/bid_payings">为何付费竞标</a>
								</li>
								<li>
									<h4>特色服务</h4>
									<a href="/help/renzheng">实名认证</a><br />
									<a href="/help/searchs">精准搜索</a><br />
									<a href="/help/workhour">小时报价</a><br />
									<a href="/help/bumanyituikuan">不满意退款</a><br />
									<a href="/help/bid_card">竞标卡规则</a>
								</li>
								<li>
									<h4>评价信誉</h4>
									<a href="/help/pingjiadengm">操作演示</a><br />
									<a href="/help/service_payings">服务收费</a><br />
									<a href="/help/evaluations">用户评价</a><br />
									<a href="/help/jifens">积分体系</a><br />
									<a href="/help/controversy">争议解决</a>
								</li>
								<li>
									<h4>答疑中心</h4>
									<a href="/help/pro_relase">项目发布问题</a><br />
									<a href="/help/bid_joinings">参与竞标问题</a><br />
									<a href="/help/pro_runnings">项目开发问题</a><br />
									<a href="/help/pro_done">项目完工问题</a><br />
									<a href="/help/it_realse">信息发布问题</a>
								</li>
								<li>
									<h4>联系我们</h4>
									<a href="/help/about_us">关于SXSOFT</a><br />
									<a href="/help/about_company">公司概况</a><br />
									<a href="/help/contact_us">联系方式</a><br />
									<a href="/help/about_advertising">广告投放</a><br />
									<a href="/help/links">友情链接</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</body>

</html>