.c_r_contest{
	width: 930px;

}

.c_r_c_top{
	padding: 20px 0 0;
	background: #FFFFFF;
	overflow:hidden;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.c_r_c_t_left{
	width: 480px;
	padding: 0 15px;
	margin: 0 0 10px 0;
	border-right: 1px solid #ebebeb;
	float: left;
}

.c_r_c_t_left h4{
	font-size: 18px;
	margin: 0 0 10px;
	font-weight: 500;
}

.c_r_c_t_left span{
	font-size: 14px;
}

#font_color{
	color: orange;
	font-weight: 700;
}

.c_r_c_t_right{
	width: 450px;
	padding: 0 20px 0 50px;
	margin: 5px 0 0 0;
	float: left;
}

.pM_a1{
	background: #1AB394;
	text-align: center;
	padding: 5px 30px;
}

.pM_a2{
	text-align: center;
	padding: 5px 30px;
	background: #BEBEBE;
	margin: 0 0 0 20px;	
}

.pM_a1:link,.pM_a2:link{
	text-decoration: none;
	color: #FFFFFF;
}

.pM_a1:visited,.pM_a2:visited{
	text-decoration: none;
	color: #FFFFFF;
}

.pM_a1:hover,.pM_a2:hover{
	text-decoration: none;
	color: #FFFFFF;
}

.pM_a1:active,.pM_a2:active{
	text-decoration: none;
	color: #FFFFFF;
}

.c_r_c_middle{
	margin: 15px 0 0 0;
	padding: 15px 15px;
	background: #FFFFFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.m_f_startdate,.m_f_enddate,.m_f_btn{
	margin: 0 0 0 25px;
}
.m_f_btn{
	color: #FFFFFF;
	background: #1AB394;
}

.c_r_c_bottom{
	margin: 15px 0 0 0;
	background: #FFFFFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.c_r_c_bottom h2{
	font-size: 20px;
	color: #999999;
	background: #FFFFFF;
	padding: 15px 15px 10px;
	margin: 0;
	border-bottom: 3px solid #1ab394;
}

.c_r_c_table{
	padding: 5px 15px 0;
	margin: 10px 0 0;
	background:#FFFFFF ;
}
.table{
	color: #999999;
}

.table thead{
	font-size: 16px;
}
.table tbody tr{
	height:50px;
	font-size: 14px;
}

.table a:link{
	text-decoration: none;
	/*color: #999999;*/
}
.table a:visited{
	text-decoration: none;
	/*color: #999999;*/
}
.table a:hover{
	text-decoration: none;
	/*color: #000000;*/
	
}
.table a:visited{
	text-decoration: none;
/*	color: #999999;	*/
}