.c_r_contest{
	width:930px;

}
.c_r_contest h2{
	font-size: 20px;
	color: #999999;
	background: #FFFFFF;
	padding: 20px 15px 10px;
	margin: 0;
	margin-bottom: 10px;
	border-bottom: 3px solid #1ab394;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.c_r_c_notice{
	padding: 10px 15px 10px;
	/*margin: 10px 0 0;*/
	background:#FFFFFF ;
	border-bottom: 1px dashed #ebebeb;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.c_r_c_message{
	font-size: 14px;
	color: #999999;
	text-indent : 30px;
}

.c_r_c_time{
	font-size: 10px;
	color: #999999;
	text-align: right;
	margin-bottom: 0;
}
.notdetele{
	font-size: 10px;
	color: #FFFFFF;
	text-align: right;
	margin-bottom: 5px;
}
.delnotspan{
	background: #FD4C5D;
	padding: 2px;
}
.notdetele a:link,.notdetele a:visited,.notdetele a:active,.notdetele a:hover{
	color:#FFFFFF;
	text-decoration: none;
}
