.contest{
	width: 1080px;
	background: #FFFFFF;
	margin: 20px auto;
}

.col_top,.col_middle,.col_bottom{
	padding:0;

}

.col-md-*{
	padding: 0;
}

.c_m_col{
	padding: 0;
	margin: 15px auto;
	
}
.c_m_img{
	width: 125px;
	height: 125px;
}

.c_m_boder{
	border-right: 1px solid #ebebeb;
}
.c_m_h3{
	margin: 5px 0 10px 30px;
	font-size: 20px;
}

.c_m_ul{
	padding: 0;
	white-space: nowrap;
}
.c_m_ul li{
	list-style: none;
	text-align: center;
	color: #999999;
	font-size: 16px;
	float: left;
}
.c_m_li{
    border-right: 1px solid #ebebeb;
}


.c_m_ul li h4{
	font-size: 23px;
	padding: 20px 0;
	color:#ff8706;
}

.c_m_text{
	margin: 15px 0 0;
	font-size: 14px;
	color:#999999;
	line-height: 30px;
}

.c_m_span{
	margin: 110px auto;
	text-align: center;
	color:#999999;
}

.col_bottom{
	margin: 30px 0;
}

.c_b_title{
	font-size: 18px;
	color: #999999;
	font-weight: 700;
	padding: 0 20px 10px;
	border-bottom: 1px solid #ebebeb;
}

.c_b_li{
	padding: 15px 0;
	border-bottom: 1px dashed #ebebeb;
}
.c_b_lileft{
	padding: 15px 0 0;
	min-height: 70px;
	text-align: center;
	color:#ff8706;

}
.c_b_liright{
	font-size: 16px;
	min-height: 70px;
	color: #999999;
	border-left: 1px solid #ebebeb;
}

.c_b_projmag{
	margin: 5px 0;
	padding: 0 40px;
}
.c_b_a{
	font-size: 16px;
	margin: 0 0 5px 0;
}
.c_b_aspan{
	font-size: 14px;
}
