.c_r_contest{
	background: #FFFFFF;
	margin-left: 5px;
	width:930px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.con_top{
	background: #FFFFFF;
	padding: 15px 5px;
	border-bottom: 1px solid #ebebeb;
}

.top_meg{
	/*	padding-left: 10px;*/
}

.top_meg p{
	padding: 10px 0;
	margin-bottom: 0;
}

.megspan1{
	font-size: 18px;
	font-weight: 700;
}

.megspan2{
	border: 1px solid #fd4c5d;
	color: #fd4c5d;
	padding: 5px;
	font-size: 12px;
	border-radius: 10px;
	margin-left: 15px;
}

.megspan3{
	font-size: 14px;
}

.megspan4{
	font-size: 14px;
	margin-left: 10px;
	color: #999999;
}

.megspan5{
	border: 1px solid #1ab394;
	padding: 5px;
	font-size: 12px;
	border-radius: 10px;
	margin-left: 15px;
	color: #1ab394;
}

.top_a a:link,.top_a a:visited,.top_a a:active,.top_a a:hover{
	color: #999999;
	font-size: 14px;
	font-weight: 700;
	margin: 10px 0;
}

.detp1{
	font-size: 14px;
}
.detp2{
	font-size: 14px;
	color: #999999;
}

.con_bottom{
	background: #FFFFFF;
	padding: 20px 0;
	/*border-bottom: 1px solid #f4f4f4;*/
}

.con_bottom p{
	margin: 0;
}

.titspan1{
	padding-left: 20px;
	font-size: 16px;
}

.titspan2{
	font-size: 16px;
	font-weight: 700;
	color: orange;
}
.titspan3{
	padding-left: 15px;
	color: orange;
}

.botbid{
	padding: 15px 0;
	border-bottom: 1px solid #ebebeb;
}

.bidnum{
	padding: 0;
}
.nummeg{
	background: #1ab394;
	border-radius: 0 0 30px 0;
	height: 35px;
	width: 35px;
	font-size: 25px;
	font-weight: 700;
	color: #FFFFFF;
	padding: 0;
}
.numimg{
	padding-left: 30px;
}
.img_size{
	width: 65px;
	height: 65px;
	margin-top: 15px;
	border-radius: 30px;
}

.bidleft{
	margin-top: 15px;
	padding: 0;
	border-right: 1px solid #ebebeb;
}


.lefttop span{
	margin-left: 50px;
}
.leftmiddle{
	padding: 0;
	margin-top: 10px;
}
.leftmiddle ul,.leftmiddle ul li{
	padding: 0;
	text-align: center;
}
.leftmiddle ul li p{
	margin-bottom: 5px;
}

.botp1{
	padding-bottom: 10px;
	font-size: 16px;
	color: #999999;
}

.bidright{
	margin-top: 15px;
	padding: 0;
}

.bidright p span{
	color: orange;
	font-size: 18px;
	font-weight: 700;
}

.rightbtn{
	margin-top: 20px;
}
.pB_a1{
	background-color:#FD4C5D;
	color: #FFFFFF;
	text-align:center;
}
.btn_span{
	margin-left: 50px;
}
