
body {
	background: #EEEEEE;
}
.r_c_t_l_updateimg a:link,.pcDatabtn:link,.a1:link,.a2:link {
	text-decoration: none;
	color: white;
}

.r_c_t_l_updateimg a:visited,.pcDatabtn:visited,.a1:visited,.a2:visited {
	text-decoration: none;
	color: white;
}

.r_c_t_l_updateimg a:hover,.pcDatabtn:hover,.a1:hover,.a2:hover {
	text-decoration: none;
	color: white;
}

.r_c_t_l_updateimg a:active,.pcDatabtn:active,.a1:active,.a2:active {
	text-decoration: none;
	color: white;
}

.right_contest{
	width:930px;
	background: #FFFFFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	
}

.r_c_top{
	height: 250px;
	padding-top: 20px;
}

.r_c_t_left{
	width: 155px;
	height:165px;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
}
.r_c_t_l_img{
	width: 125px;
	height: 125px;
	position:absolute; z-index:2;
}
.r_c_t_l_updateimg{
	width: 125px;
	height: 27px;
	background-color:#000000;
	position:absolute; 
	z-index:1;
	bottom: 0;
	border-radius:6px;
	opacity:0.4;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
	text-align:center;
}
.r_c_t_l_updateimg a{
	color: #FFFFFF;
}
.imgsize{
	width: 125px;
	height: 125px;	
}
.r_c_t_l_pcData{
	width: 125px;
	height: 27px;
}
.pcDatabtn{
	width: 125px;
	height: 32px;
	padding-top: 5px;
	background-color:#1ab394;
	color: #FFFFFF;
	text-align:center;
	border-radius:6px;
	position: absolute;
	bottom: 0;
}
.pcDatabtn:hover{
	color: white;
}
.r_c_t_right{
	width: 775px;
	height:230px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	left: 155px;
}
.r_c_t_r_top{
	width: 745px;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ebebeb;
}
.r_c_t_r_top h4{
	margin: 0;
	padding: 10px 15px;
}
.r_c_t_r_middle{
	width: 745px;
	height: 85px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ebebeb;

}
.r_c_t_r_m_left{
	width:240px;
	height: 65px;
	float: left;

}
.r_c_t_r_m_left h3{
	width:120px;
	height: 65px;
	margin: 0;
	padding: 23px 15px;
	font-size: 13px;
	float: left;
}
.r_c_t_r_m_left h4{
	width:120px;
	height: 65px;
	margin: 0;
	padding: 20px 15px;
	font-size: 18px;
	font-weight: 700;
	color: #ff8706;
	float: left;
}
.r_c_t_r_m_middle{
	width:280px;
	height: 65px;
	float: left;
	padding: 15px 0;
}
.a1{
	width: 125px;
	height: 32px;
	background-color:#1ab394;
	color: #FFFFFF;
	text-align:center;
	border-radius:7px;
	padding: 5px;
	float: left;	
}
.a2{
	width: 125px;
	height: 32px;
	background-color:#1ab394;
	color: #FFFFFF;
	text-align:center;
	border-radius:7px;
	padding: 5px;
	margin-left: 24px;
	float: left;	
}
.r_c_t_r_m_right{
	width:225px;
	height: 65px;
	float: left;
}
.a3{
	width:80px;
	height: 65px;
	color: #1ab394;
	text-align:center;
	padding: 30px 10px;
}
.a3:link,.a3:visited,.a3:hover,.a3:active{
	color: #1ab394;
	text-decoration: none;
}
.r_c_t_r_bottom{
	width: 745px;
	height: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ebebeb;
}
.r_c_t_r_b_ul{
	width:745px;
	padding: 0;
	white-space: nowrap;
}
.r_c_t_r_b_ul li{
	list-style: none;
	text-align: center;
	color: #999999;
	float: left;
    width: 124px;
    height:75px;
    padding: 0 10px;
    border-right: 1px solid #ebebeb;
}
.r_c_t_r_b_ul li h4{
	font-size: 35px;
	font-weight: 600;
}

.r_c_middle{
	padding: 0 15px;	
}
.r_c_middle h2{
	font-size: 20px;
	color: #999999;
	padding: 20px 0 5px;
	margin: 0;
	border-bottom: 3px solid #1ab394;
}
.table{
	color: #999999;
}

#table_btn{
	background:#1ab394 ;
	color: #FFFFFF;
}

.r_c_bottom{
	padding: 0 15px 20px;
}
.r_c_bottom h2{
	font-size: 20px;
	color: #999999;
	padding: 0 0 5px;
	margin: 0;
	border-bottom: 3px solid #1ab394;
}
