body{
	background: url(../../img/img_hlj/body_bg.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.contest{
	min-height: 750px;
	width: 842px;
	margin: 50px auto;
	/*background: #00625A;*/
}

.contop,.topimg,.topmeg{
	padding: 0;
}
.topimg img{
	width: 124px;
	height: 35px;
}
.topmeg{
	margin-top: 12px;
}
.topmeg span a:link,.topmeg span a:visited,.topmeg span a:active,.topmeg span a:hover{
	color:#000000
}
.conbottom{
	/*background: #FFFFFF;*/
	height: 415px;
	margin-top: 10px;
	border-top: 2px #1ab394 solid;
	padding: 0;
}
.bottop,.botimg{
	background: #FFFFFF;
}

.bottop p{
	font-size: 24px;
	/*font-weight: 700;*/
	padding:20px 0 15px;
	margin: 0;
}
.botmeg{
	background: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 10px;
}
.botmegspan1{
	padding: 0 0 0 205px;
}
.botmegspan2{
	padding-left: 100px;
}
.botmegspan3{
	padding: 0;
}
.botform{
	background: #f4f4f4;
	/*height: 100px;*/
}
.formmeg{
	margin-left: 230px;
	padding-top: 40px;
}

.form-control{
	margin-top: 0;
}

.form-group{
	margin-bottom: 30px;
}
.has-error{
	margin: 0;
}

.input-group-addon{
	top:0;
	border: 1px solid #ccc;
}
.form-control{
	border: 1px solid #ccc;
}

.btn_mark{
	background: #1ab394;
	color: #FFFFFF;
	margin-left: 20px;
}
.sub_email{
	background: #1ab394;
	color: #FFFFFF;
	margin-left: 100px;
	margin-top: 0;
}

.sub_register{
	background: #1ab394;
	color: #FFFFFF;
	margin-left: 125px;
	margin-top: 0;
}

.botreturn{
	padding-top: 30px;
	padding-bottom: 20px;
}
