<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Account">
        <id column="acc_id" property="accId" />
        <result column="acc_money" property="accMoney" />
        <result column="acc_type" property="accType" />
        <result column="acc_foreid" property="accForeid" />
    </resultMap>

</mapper>
