<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.BiddingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Bidding">
        <id column="bid_id" property="bidId" />
        <result column="bid_time" property="bidTime" />
        <result column="bid_starttime" property="bidStarttime" />
        <result column="bid_endtime" property="bidEndtime" />
        <result column="bid_state" property="bidState" />
        <result column="bid_scheme" property="bidScheme" />
        <result column="bid_cycle" property="bidCycle" />
        <result column="bid_money" property="bidMoney" />
        <result column="bid_phone" property="bidPhone" />
        <result column="bid_email" property="bidEmail" />
        <result column="bid_studio" property="bidStudio" />
        <result column="bid_proj" property="bidProj" />
    </resultMap>

    <resultMap id="ProjBidNum" type="cn.ck.entity.bean.ProjectBid">
        <id column="proj_id" property="project.projId" />
        <result column="proj_name" property="project.projName" />
        <result column="proj_money" property="project.projMoney" />
        <result column="proj_intro" property="project.projIntro" />
        <result column="bidnum" property="bidnum" />
    </resultMap>

    <select id="selectRecommendProj" resultMap="ProjBidNum">
        select proj_id, proj_name, proj_money, bidnum
        from project
        left join (select count(*) bidnum, bid_proj from bidding group by bid_proj) middle
        on middle.bid_proj = proj_id
        where proj_secret = "公开" and proj_state = "竞标中"
    </select>

    <select id="selectSuggestProj" resultMap="ProjBidNum">
        select proj_id, proj_name, proj_money, proj_intro, bidnum
        from project
        left join (select count(*) bidnum, bid_proj from bidding group by bid_proj) middle
        on middle.bid_proj = proj_id
        where proj_secret = "公开" and proj_state = "竞标中" and (proj_name like #{keyword} or proj_intro like #{keyword})
        order by proj_creattime desc
    </select>

</mapper>
