<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.CollectpjMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Collectpj">
        <id column="colp_id" property="colpId" />
        <result column="colp_time" property="colpTime" />
        <result column="colp_user" property="colpUser" />
        <result column="colp_pjid" property="colpPjid" />
    </resultMap>
    <select id="selectColpj" resultType="cn.ck.entity.Collectpj">
        SELECT * FROM collectpj WHERE colp_user=#{0} ORDER BY colp_time DESC
    </select>

</mapper>
