<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.DanmuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Danmu">
        <id column="dm_id" property="dmId" />
        <result column="dm_text" property="dmText" />
        <result column="dm_color" property="dmColor" />
        <result column="dm_position" property="dmPosition" />
        <result column="dm_time" property="dmTime" />
        <result column="dm_sendtime" property="dmSendtime" />
        <result column="dm_resource" property="dmResource" />
    </resultMap>

    <resultMap id="DanmuJsonResultMap" type="cn.ck.entity.bean.DanmuJson">
        <id column="dm_id" property="Id" />
        <result column="dm_text" property="text" />
        <result column="dm_color" property="color" />
        <result column="dm_position" property="position" />
        <result column="dm_time" property="time" />
        <result column="dm_sendtime" property="sendtime" />
        <result column="dm_resource" property="dmResource" />
    </resultMap>

    <select id="selectDanmuJsonByResId" resultMap="DanmuJsonResultMap">
        select *
        from danmu
        where dm_resource = #{resId}
        order by dm_sendtime desc
    </select>

</mapper>
