<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.InviteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Invite">
        <id column="inv_id" property="invId" />
        <result column="inv_creattime" property="invCreattime" />
        <result column="inv_project" property="invProject" />
        <result column="inv_studio" property="invStudio" />
        <result column="inv_prom" property="invProm" />
    </resultMap>

    <resultMap id="invprojstu" type="cn.ck.entity.bean.InvitProjStu" extends="BaseResultMap">
        <association property="project" javaType="cn.ck.entity.Project">
            <id column="proj_id" property="projId" />
            <result column="proj_name" property="projName" />
            <result column="proj_creattime" property="projCreattime" />
            <result column="proj_state" property="projState" />
        </association>
        <association property="studio" javaType="cn.ck.entity.Studio">
            <id column="stu_id" property="stuId" />
            <result column="stu_name" property="stuName" />
        </association>
    </resultMap>


    <select id="invitalllist" resultMap="invprojstu">
        select *
            from invite i,project p,studio s
              where i.inv_project=p.proj_id and i.inv_studio=s.stu_id and i.inv_prom=#{0}
                  ORDER BY i.inv_creattime DESC
    </select>
</mapper>
