<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.JobsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Jobs">
        <id column="job_id" property="jobId" />
        <result column="job_creattime" property="jobCreattime" />
        <result column="job_money" property="jobMoney" />
        <result column="job_intro" property="jobIntro" />
        <result column="job_require" property="jobRequire" />
        <result column="job_state" property="jobState" />
        <result column="job_num" property="jobNum" />
        <result column="job_type" property="jobType" />
        <result column="job_studio" property="jobStudio" />
    </resultMap>

</mapper>
