<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.JobuserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Jobuser">
        <id column="ju_id" property="juId" />
        <result column="ju_time" property="juTime" />
        <result column="ju_file" property="juFile" />
        <result column="ju_state" property="juState" />
        <result column="ju_users" property="juUsers" />
        <result column="ju_jobs" property="juJobs" />
    </resultMap>

    <select id="selectByUserId" resultType="cn.ck.entity.Jobuser">
        select *
        from jobuser
        where ju_users = #{0};
    </select>
</mapper>
