<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.LikeresMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Likeres">
        <id column="likr_id" property="likrId" />
        <result column="likr_user" property="likrUser" />
        <result column="likr_res" property="likrRes" />
    </resultMap>

</mapper>
