<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.OriginalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Original">
        <id column="orig_id" property="origId" />
        <result column="orig_name" property="origName" />
        <result column="orig_intro" property="origIntro" />
        <result column="orig_type" property="origType" />
        <result column="orig_tag" property="origTag" />
        <result column="orig_uploadtime" property="origUploadtime" />
        <result column="orig_path" property="origPath" />
        <result column="orig_grade" property="origGrade" />
        <result column="orig_users" property="origUsers" />
    </resultMap>

    <resultMap id="OriginalCollection" type="cn.ck.entity.bean.OriCol" extends="BaseResultMap">
        <collection property="collectori" ofType="cn.ck.entity.Collectori">
            <id column="colo_id" property="coloId"></id>
            <result column="colo_ogi" property="coloOgi"></result>
            <result column="colo_time" property="coloTime"></result>
            <result column="colo_users" property="coloUsers"></result>
        </collection>
    </resultMap>

    <resultMap id="OriginalAssociation" type="cn.ck.entity.bean.OriColUser" extends="OriginalCollection">
        <association property="users" javaType="cn.ck.entity.Users">
            <id column="user_id" property="userId"></id>
            <result column="user_name" property="userName"></result>
        </association>
    </resultMap>

    <resultMap id="AllOriginalCollection" type="cn.ck.entity.bean.OriUser" extends="BaseResultMap">
        <association property="users" javaType="cn.ck.entity.Users">
            <id column="user_id" property="userId"></id>
            <result column="user_name" property="userName"></result>
        </association>
    </resultMap>

    <select id="selectDesc" resultMap="OriginalAssociation">
      select * from original o,collectori co,users u where o.orig_id=co.colo_ogi and co.colo_users=#{0} and o.orig_users=u.user_id order by co.colo_time desc
    </select>


    <select id="selectAllOri" resultMap="AllOriginalCollection">
         select * from original,users  where original.orig_users=users.user_id ORDER BY orig_grade DESC
    </select>

    <select id="selectOriUser" resultMap="AllOriginalCollection">
        select * from original , users  where original.orig_id=#{id} and original.orig_users=users.user_id
    </select>

    <select id="selectOther" resultMap="AllOriginalCollection">
        select * from original , users  where original.orig_id!=#{id} and original.orig_users=users.user_id and original.orig_name like '%' #{tag} '%'
    </select>
</mapper>