<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ck.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ck.entity.Resource">
        <id column="res_id" property="resId" />
        <result column="res_uploadtime" property="resUploadtime" />
        <result column="res_name" property="resName" />
        <result column="res_intro" property="resIntro" />
        <result column="res_path" property="resPath" />
        <result column="res_tag" property="resTag" />
        <result column="res_img" property="resImg" />
        <result column="res_likenum" property="resLikenum" />
        <result column="res_long" property="resLong" />
    </resultMap>
    
    <resultMap id="ResourceCollection" type="cn.ck.entity.bean.ResCol" extends="BaseResultMap">
        <collection property="collectres" ofType="cn.ck.entity.Collectres">
            <id column="colr_id" property="colrId"></id>
            <result column="colr_res" property="colrRes"></result>
            <result column="colr_time" property="colrTime"></result>
            <result column="colr_users" property="colrUsers"></result>
        </collection>
    </resultMap>

    <select id="getMostLike" resultMap="BaseResultMap">
        select *
        from resource
        left join (select likeres.likr_res, count(*) likenum from likeres group by likeres.likr_res) a
        on a.likr_res = resource.res_id
        order by a.likenum desc
    </select>


    <select id="selectDesc" resultMap="ResourceCollection">
        select * from resource r,collectres cr where r.res_id=cr.colr_res and cr.colr_users=#{0} order by cr.colr_time desc
    </select>

    <resultMap id="ResColNum" type="cn.ck.entity.bean.ResColNum" extends="BaseResultMap">
        <result column="colnum" property="resColnum" />
    </resultMap>

    <select id="getResColNum" resultMap="ResColNum">
        SELECT res_id, res_tag, res_likenum, res_long, colnum
        FROM creatcenter.resource r
        left join (select colr_res, count(*) colnum from collectres group by colr_res) a
        on r.res_id = a.colr_res
    </select>

</mapper>
