* {
	margin: 0;
	padding: 0;
}

.major {
	/*height: auto;*/
	height: 800px;
	width: 1080px;
	margin: 0 auto;
	background: #FFFFFF;
	/*background: pink;*/
}

.major .up {
	height: 800px;
	/*height: 600px;*/
	width: 1080px;
	margin-bottom: 10px;
	/*background: paleturquoise;*/
}

.major .up .mess {
	/*height: auto;*/
	height: 450px;
	width: 1080px;
	margin-bottom: 10px;
	/*background: palegreen;*/
}

.major .up .mess .messL {
	height: 800px;
	width: 670px;
	float: left;
	margin-right: 10px;
	/*background: #F5F5F5;*/
}

.major .up .mess .messL .require {
	height: 250px;
	width: 670px;
	margin-bottom: 10px;
	/*background: palegreen;*/
}

.major .up .mess .messL .require .requAn {
	height: 220px;
	width: 600px;
	float: right;
	/*margin-bottom: 10px;*/
	/*background: palegoldenrod;*/
}



.major .up .mess .messL .intro {
	height: 300px;
	/*background: pink;*/
}
.major .up .mess .messL .intro .introAn {
	height: 270px;
	width: 590px;
	float: right;
	/*margin-bottom: 10px;*/
	/*background: palegoldenrod;*/
}

.major .up .mess .messL .kong {
	margin-bottom: 20px;
}

.major .up .mess .messL ul li {
	float: left;
	width: 250px;
	margin-right: 2px;
	/*background: paleturquoise;*/
}

.major .up .mess .messL .white {
	color: #999;
}

.major .up .mess .messR {
	height: 600px;
	width: 300px;
	float: left;
	/*background: palegreen;*/
}

.major .up .mess .messR .piture {
	height: 200px;
	width: 280px;
	margin-right: 20px;
	margin-bottom: 10px;
	float: right;
	/*background: peru;*/
}

.major .up .mess .messR .name {
	height: 50px;
	width: 280px;
	float: left;
	/*margin-left: 10px;*/
	padding-left: 50px;
	margin-bottom: 10px;
	/*background: paleturquoise;*/
}

.major .up .mess .messR .join {
	height: 40px;
	width: 280px;
	float: left;
	padding-left: 50px;
	/*background: paleturquoise;*/
}

.major .up .mess .messR .join .btn {
	width: 160px;
	background: #1ab394;
}

.major .up .but {
	height: 40px;
	width: 1080px;
	/*background: peachpuff;*/
}

.major .up .but .butL {
	height: 40px;
	width: 460px;
	float: left;
	/*background: palegreen;*/
}

.major .up .but .butM {
	height: 40px;
	width: 160px;
	float: left;
	background: palegreen;
}


/*.major .up .but .butM .btn {
	width: 160px;
	background: #1ab394;
}*/

.major .up .but .butR {
	height: 40px;
	width: 460px;
	float: left;
	/*background: palegreen;*/
}

.major .mid {
	height: 400px;
	width: 1080px;
	/*	background: palegoldenrod;*/
}


/*copy的样式*/

.line_02 {
	height: 1px;
	width: 600px;
	margin-top: 10px;
	border-top: 1px solid #ddd;
	text-align: center;
}

.line_02 span {
	position: relative;
	top: -8px;
	background: #fff;
	padding: 0 20px;
}