* {
	margin: 0;
	padding: 0;
}

.major {
	width: 1080px;
	/*height: 1080px;*/
	height: auto;
	margin: 0 auto;
	background: #FFFFFF;
}

.major .kong {
	height: 30px;
	/*background: pink;*/
}

.major .search {
	height: 35px;
	margin-bottom: 10px;
	/*background: deepskyblue;*/
}

.major .search .searchL {
	height: 35px;
	width: 300px;
	float: left;
	/*background:pink;*/
}

.major .search .search2 {
	height: 35px;
	width: 780px;
	float: right;
	/*background: pink;*/
}

.major .search .searchM {
	height: 35px;
	width: 480px;
	float: left;
	/*background: gold;*/
}

.major .search .searchM .input-group .but {
	background: #1ab394;
}

.major .search .searchR {
	height: 35px;
	width: 300px;
	float: right;
	/*background: gray;*/
}

.major .mid {
	height: 220px;
	margin-bottom: 20px;
	/*background: deepskyblue;*/
}

.major .mid .choice .explain {
	height: 54px;
	width: 140px;
	float: left;
	border: 1px solid #cee3e9;
	background: #f1f7f9;
	text-align: center;
	/*水平居中*/
	line-height: 54px;
	/*行距设为与div高度一致*/
}

.major .mid .choice .type {
	height: 54px;
	width: 940px;
	float: left;
	border: 1px solid #cee3e9;
	background: #FFFFFF;
	/*水平居中*/
	text-align: center;
	/*行距设为与div高度一致*/
	line-height: 54px;
	/*a:link {*/
		/*color: #FF0000*/
	/*}*/
}

.major .mid .choice .type .ATpye {
	/*background: #00B7EE;*/
	/*margin:6px;*/
	padding: 5px 10px;
}

.type .ATpye a {
	color: #555;
}


/*点击a设置span背景色*/

.major .mid .choice .type .ATpye.current {
	color: #FFFFFF;
	background: #666666;
	border-radius: 6px;
}


/*点击a设置背景色*/

.major .mid .choice .type .ATpye a.current {
	color: #FFFFFF;
	/*background: #000000;*/
}


/*.major .mid .choice .type a{
	color: #555;
}

.major .mid .choice .type a{
	color: #555;
}
.major .mid .choice .type a:visited {
	color:peru;
}*/


/*.major .mid .choice .type a:active{
	color:yellow;
}*/

.major .down {
	/*height: 700px;*/
	height: auto;
	margin-bottom: 20px;
	/*background: deepskyblue;*/
}

.major .down .line{
	/*height: 700px;*/
	height: 10px;
	width: 1080px;
	/*margin-bottom: 20px;*/
	/*background: palegoldenrod;*/
}
.major .down .line .lineR{
	height: 10px;
	width: 350px;
	float: right;
	/*background: palegreen;*/
}
.major .down .line .lineR .long{
	width: 350px;
	}



.major .down .number{
	/*height: auto;*/
	height: 30px;
	width: 1080px;
	/*margin-bottom: 10px;*/
	/*background: pink;*/
}
.major .down .number .numberR{
	/*height: auto;*/
	height: 30px;
	width: 350px;
	float: right;
	/*margin-bottom: 10px;*/
	/*background: palegreen;*/
}
.major .down .number .numberR .red{
	color: 	#FF0000 ;
	}
.major .down .number .numberR .kong{
	/*height: auto;*/
	height: 30px;
	width: 50px;
	float: right;
	float: left;
	/*background: palegreen;*/
}

.major .down .number .numberR .long{
	width: 350px;
}	

.major .down .number .numberR .white{
	color: #999;
}
	

.major .down .DownLi {
	height: 200px;
	/*height: auto;*/
	margin-bottom: 20px;
	/*background: deepskyblue;*/
}

.major .down .DownLi .piture {
	/*height: 150px;*/
	/*height: 250;*/
	width: 250px;
	float: left;
	margin-right: 10px;
	/*background: palegreen;*/
}

.major .down .DownLi .studioIntro {
	height: 150px;
	width: 620px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	/*background: palegreen;*/
}
.major .down .DownLi .studioIntro .color{
	color: #000000;
	}

.major .down .DownLi .studioIntro .white {
	color: #999;
}

.major .down .DownLi .join {
	height: 150px;
	width: 190px;
	float: left;
	margin-bottom: 10px;
	/*margin-right: 10px;*/
	/*background: palegreen;*/
}

.major .down .DownLi .join .joinUp {
	height: 60px;
	width: 190px;
	float: left;
	/*margin-bottom:10px;*/
	/*margin-right: 10px;*/
	/*background: palegreen;*/
}

.major .down .DownLi .join .joinM {
	height: 40px;
	width: 170px;
	float: left;
	margin-bottom: 10px;
	/*margin-right: 10px;*/
	/*background: palegoldenrod;*/
}

.major .down .DownLi .join .joinM .but {
	background: #1ab394;
}

.major .down .DownLi .join .joinD {
	height: 50px;
	width: 190px;
	float: left;
	margin-bottom: 10px;
	/*margin-right: 10px;*/
	/*background: palegreen;*/
}

.ATpye {
	/*padding: 22px ;*/
	/*margin:auto;*/
}


/*.down li{
	margin-bottom:5px;
}*/

/*copy的样式*/
	
.line_02 {
	height: 1px;
	width: 600px;
	margin-top: 10px;
	border-top: 1px solid #ddd;
	text-align: center;
}



.line_02 span {
	position: relative;
	top: -8px;
	background: #fff;
	padding: 0 20px;
}