
.tag-checked-name {
    display:inline-block;
    position:relative;
    height: 24px;
    border-radius: 1px;
    color:#1ab394;
    font-size:12px;
    line-height:24px;
    padding:0 20px 0 8px;
    background-color: #f7fdff;
    border: solid 1px #1ab394;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right:5px;
}
.tag-checked-name:first-of-type {
    margin-left: 0px;
}
.tag-checked-name em {
   display:block;
    position:absolute;
    top:5px;
    right:5px;
    width:13px;
    height: 13px;
    cursor:pointer;
    transform: rotate(45deg);
}
.tag-checked-name em:after {
    display:block;
    position:absolute;
    content:'';
    top:6px;
    width:13px;
    height:1px;
    background:#1ab394;
}
.tag-checked-name em:before {
    display:block;
    position:absolute;
    content:'';
    top:0px;
    left:5px;
    width:1px;
    height: 13px;
    background:#4abee0;
}