html,
body {
	height: auto;
}

.tab_fix_bottom {
	position: absolute;
	bottom: 0px;
}

.tab_fix {
	position: fixed;
	top: 0px;
}

.col_right {
	background: #ffffff;
	border-bottom: 1px solid #E8E8E8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	margin-right: 0;
}

.col_right_cec_up_1 {
	width: 800px;
	margin-left: 15px;
	margin-right: 15px;
	height: 40px;
	border-bottom: 1px dashed #ddd;
}

.col_right_cec_down {
	width: 800px;
	margin-left: 15px;
	margin-right: 15px;
}

.col_right_cec_up_1 h1 {
	font-weight: 100;
	line-height: 15px;
	float: left;
}

.col_right_cec_up_1 span {
	margin-top: 17px;
	margin-right: 12px;
	float: right;
	border: none;
	font-size: 13px;
}

.col_right_cec_down_items {
	margin-top: 10px;
	padding-left: 0;
}

.col_right_cec_down_item_left {
	padding-left: 10px;
	width: 800px;
	float: left;
	border: 1px solid #eee;
	box-shadow: none;
	background-color: #fcfcfc;
}

.col_right_cec_down_item_left a {}


.col_right_cec_down_item_jj {
	overflow: hidden;
	/*自动隐藏文字*/
	text-overflow: ellipsis;
	/*文字隐藏后添加省略号*/
	white-space: nowrap;
	/*强制不换行*/
	width: 780px;
	/*不允许出现半汉字截断*/
	font-size: 13px;
	color: #8a8a8a;
	margin-bottom: 8px;
}

.col_right_cec_down_item_2 {
	padding-left: 0;
	width: 800px;
	margin-bottom: 5px;
}

.col_right_cec_down_item_title {
	padding-left: 0;
	width: 800px;
}

.col_right_cec_down_item_title a {
	margin: 10px 5px;
	color: #08c;
	font-size: 15px;
}


.col_right_cec_down_item_author {
	color: #c66;
	font-size: 12px;
}

.col_right_cec_down_item_date {
	color: #8a8a8a;
}

.col_right_cec_down_item_left .btn {
	float: right;
	font-size: 10px;
	padding: 2px 2px 2px 2px;
	color: #fff;
	border: 1px solid #e74c3c;
	background: #e74c3c;
	margin-top: 10px;
	margin-right: 10px;
}

.col_right_cec_down_item_bq {
	display: inline-block;
	border-top: 1px dashed #ddd;
	margin: 8px 0 8px;
	padding: 8px 16px 0 0;
	height: auto;
}

.col_right_cec_down_item_bq span{
	color: #3399ea;
	margin-right:10px;
}

.channel {
	background-color: #c66;
	margin: 12px 0;
	padding: 0 4px;
	color: #ffffff;
}
