body {
	background: #EEEEEE;
}

.contest {
	width: 1080px;
	margin: 20px auto;
	position: relative;
}

.col_right {
	width: 100%;
	border-bottom: 1px solid #E8E8E8;
	background: #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.col_right_ifm_up_1 {
	width: 1020px;
	margin-left: 15px;
	height: 40px;
	background: #ffffff;
}

.col_right_ifm_down {
	width: 800px;
	margin-left: 15px;
}

.col_right_ifm_up_1 span {
	margin-top: 17px;
	margin-right: 10px;
	float: right;
	border: none;
	font-size: 13px;
}

.col_right_ifm_down_left {
	padding-top: 20px;
	float: left;
	width: 150px;
}

.r_c_t_left {
	width: 155px;
	height: 165px;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
}

.r_c_t_l_img {
	width: 125px;
	height: 125px;
	position: absolute;
	z-index: 2;
}

.r_c_t_l_updateimg {
	width: 125px;
	height: 27px;
	background-color: #000000;
	position: absolute;
	z-index: 1;
	bottom: 0;
	border-radius: 6px;
	opacity: 0.4;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
	text-align: center;
}

.r_c_t_l_updateimg a {
	color: #FFFFFF;
}

.imgsize {
	width: 125px;
	height: 125px;
}

.r_c_t_l_pcData {
	width: 125px;
	height: 27px;
}

.pcDatabtn {
	width: 125px;
	height: 32px;
	padding-top: 5px;
	background-color: #1ab394;
	color: #FFFFFF;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	bottom: 0;
}

.col_right_ifm_down_right {
	padding-top: 20px;
	float: right;
	width: 630px;
}

.col_right_ifm_down_right_1 .username {
	font-size: 16px;
	color: #999;
}

.col_right_ifm_down_right_2 {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
}

.col_right_ifm_down_right_3 ul li {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	color: #4d4d4d;
}

.intro span {
	float: left;
}

.intro ul li {
	float: left;
	margin-right: 15px;
	text-decoration: underline;
	color: #ff8706;
}

.service_neirong {
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}

.TabTitle {
	background: #fbfbfb;
}

.TabTitle .nav-tabs li {
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	width: 230px;
	float: left;
	margin-bottom: -1px;
}

.TabTitle .nav-tabs>li.active>a,
.TabTitle .nav-tabs>li.active>a:focus,
.TabTitle .nav-tabs>li.active>a:hover {
	border: none;
	border-bottom: 2px solid #2eb135;
	background: #fbfbfb;
}

.col_right_cyc_down_items {
	margin-top: 10px;
	padding-left: 0;
}

.col_right_cyc_down_item_left {
	padding-left: 10px;
	width: 1010px;
	float: left;
	border: 1px solid #eee;
	box-shadow: none;
	background-color: #fcfcfc;
}

.col_right_cyc_down_item_jj {
	overflow: hidden;
	/*自动隐藏文字*/
	text-overflow: ellipsis;
	/*文字隐藏后添加省略号*/
	white-space: nowrap;
	/*强制不换行*/
	width: 990px;
	/*不允许出现半汉字截断*/
	font-size: 13px;
	color: #8a8a8a;
	margin-bottom: 8px;
}

.col_right_cyc_down_item_2 {
	padding-left: 0;
	width: 1000px;
	margin-bottom: 5px;
}

.col_right_cyc_down_item_title {
	padding-left: 0;
	width: 1000px;
}

.col_right_cyc_down_item_title a {
	margin: 10px 0;
	color: #08c;
	font-size: 15px;
}


.col_right_cyc_down_item_author {
	color: #c66;
	font-size: 12px;
}

.col_right_cyc_down_item_date {
	color: #8a8a8a;
}

.col_right_cyc_down_item_left .btn {
	display: none;
	float: right;
	font-size: 10px;
	padding: 2px 2px 2px 2px;
	color: #fff;
	border: 1px solid #e74c3c;
	background: #e74c3c;
	margin-top: 10px;
	margin-right: 10px;
}

.col_right_cyc_down_item_bq {
	display: inline-block;
	border-top: 1px dashed #ddd;
	margin: 8px 0 8px;
	padding: 8px 16px 0 0;
	height: auto;
}

.col_right_cyc_down_item_bq a {
	font-size: 13px;
	color: #3399ea;
	text-decoration: underline;
}

.col_right_cyc_up_1 a {
	margin-top: 5px;
	float: left;
	border: none;
	font-size: 13px;
}

.col_right_vec_down_items {
	margin-top: 10px;
	padding-left: 0;
}

.col_right_vec_down_item_left {
	padding-left: 10px;
	width: 1010px;
	float: left;
	border: 1px solid #eee;
	box-shadow: none;
	background-color: #fcfcfc;
}

.col_right_vec_down_item_left_1 {
	width: 150px;
	float: left;
	padding-top: 10px;
}

.col_right_vec_down_item_left_2 {
	width: 820px;
	float: right;
}

.col_right_vec_down_item_left_1 .thumb-preview {
	white-space: normal;
	position: relative;
	cursor: pointer;
}

.col_right_vec_down_item_left_1 .thumb-preview img {
	width: 130px;
	height: 100px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	border-radius: 2px;
}

.col_right_vec_down_item_jj {
	overflow: hidden;
	/*自动隐藏文字*/
	text-overflow: ellipsis;
	/*文字隐藏后添加省略号*/
	white-space: nowrap;
	/*强制不换行*/
	width: 780px;
	/*不允许出现半汉字截断*/
	font-size: 13px;
	color: #8a8a8a;
	margin-bottom: 8px;
}

.col_right_vec_down_item_2 {
	padding-left: 0;
	width: 800px;
	margin-bottom: 5px;
}

.col_right_vec_down_item_title {
	padding-left: 0;
	width: 800px;
}

.col_right_vec_down_item_title a {
	margin: 10px 0;
	color: #08c;
	font-size: 15px;
}


.col_right_vec_down_item_author {
	color: #c66;
	font-size: 12px;
}

.col_right_vec_down_item_date {
	color: #8a8a8a;
}

.col_right_vec_down_item_left .btn {
	display: none;
	float: right;
	font-size: 10px;
	padding: 2px 2px 2px 2px;
	color: #fff;
	border: 1px solid #e74c3c;
	background: #e74c3c;
	margin-top: 10px;
	margin-right: 10px;
}

.col_right_cyc_down_item_bq {
	display: inline-block;
	border-top: 1px dashed #ddd;
	margin: 8px 0 8px;
	padding: 8px 16px 0 0;
	height: auto;
}

.col_right_cyc_down_item_bq span{
	color: #3399ea;
	margin-right:10px;
}
.channel {
	background-color: #c66;
	margin: 12px 0;
	padding: 0 4px;
	color: #ffffff;
}
