
.contest_top{
	margin-top: 15px;
	padding-top: 20px;
	background: #FFFFFF;
}

.contest_buttom{
	padding: 20px 0;
	background: #FFFFFF;
}
.contest_tips{
	padding: 0 0 15px;
	background: #FFFFFF;
}
.contest_tips p{
	padding: 20px;
	border-radius: 10px;
	background: #d9edf7;
	color: #31708f;	
}

#photo {
	height: 370px;
}

.img-preview {
	width: 125px;
	height: 125px;
	overflow: hidden;
}
.btn_crop{
	margin-left: 23px;
	margin-top: 10px;
}

#result {
	width: 125px;
	height: 125px;
}


