.form-group .block {
	margin-left: 15px;
	padding-left: 0;
}


.col_res_body {
	width: 1080px;
	margin: 0 auto;
}

.col_res_body_up {
	margin-top: 10px;
	height: 110px;
	padding-left: 100px;
}

.col_res_body_up_1 {
	line-height: 70px;
}

.col_res_body_up_1 a {
	font-size: 15px;
	color: #1ab394;
}

.col_res_body_up_2 {
	width: 960px;
	float: right;
	border-bottom: 1px solid #e5e6e7;
}

.col_res_body_up_2 span {
	font-size: 20px;
	margin: 0 auto;
}

.col_res_body_down {
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 100px;
}

.resource_li {
	width: 350px;
	margin: 0 auto;
}

.form-group #input_file {
	width: 100%;
	border: 1px solid #e5e6e7;
}
