.container-fluid_body {
	width: 1080px;
	margin: 0 auto;
}

.restart {
	width: 1080px;
	height: 30px;
	line-height: 30px;
	background: #1ab394;
}

.restart span {
	float: left;
	color: #FFFFFF;
}

.restart a {
	float: right;
	color: #FFFFFF;
	text-decoration: none;
}

.img {
	width: 1080px;
}

.shaixuan {
	width: 1080px;
	background: #fbfbfb;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

.shaixuan ul {
	margin-top: 30px;
}

.shaixuan li {
	margin-top: 10px;
	margin-bottom: 20px;
}

.shaixuan li span {
	color: #999;
	margin-right: 30px;
	;
}

.shaixuan li a {
	color: #555;
	margin-right: 21px;
	text-decoration: none;
}

.search_psw a {
	background: #1ab394;
}

.more_d {
	width: 1035px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px dotted seagreen;
}

.more_d a {
	line-height: 40px;
}

.paixu {
	margin-top: 15px;
	color: #555;
}

.paixu li {
	margin-top: 10px;
}

.paixu li span {
	color: #999;
}

.paixu li a {
	margin-left: 15px;
	color:#1ab394;
	text-decoration: none;
}


.paixu li .sum {
	font-size: 15px;
	color: #1ab394;
	;
}

.service_body-service {
	width: 1080px;
}

.service-body-service {
	width: 250px;
	margin-left: 10px;
	float: left;
}

.service-price {
	margin-top: 10px;
	margin-bottom: 10px;
}

.service_content .service-title {
	text-decoration: none;
	color: black;
}

.category-name {
	color: #999;
}

.category-price {
	float: right;
	color: #ff8706;
}

.service-ownership span {
	float: left;
}

.service-ownership a {
	float: left;
}

.service-ownership i {
	margin-top: 5px;
}

.nowrap {
	margin-left: 3px;
	height: 30px;
	line-height: 25px;
	font-size: 15px;
	color: #000000;
}

.huiyuanleixing {
	float: right;
	width: 60px;
	height: 22px;
	line-height: 22px;
	background: #1ab394;
	border-radius: 5px;
	color: #ffffff;
	display: inline;
	text-align: center;
}

.service_content a:hover {
	color: #ff8706;
}

.nowrap:hover {
	color: #ff8706;
}

.container-fluid_body {
	width: 1080px;
	margin: 0 auto;
}

.container-fluid_body img {
	margin-top: 10px;
}

.service-body {
	margin-top: 30px;
	height: 400px;
}

.service-body_left {
	float: left;
	width: 500px;
	height: 400px;
}

.service-body_left img {
	width: 100%;
	height: 100%;
}

.service-body_right {
	padding-top:20px;
	margin-left: 30px;
	float: left;
	width: 550px;
}

.right_title {
	font-size: 25px;
}

.right_introduce {
	margin-top: 20px;
	font-size: 15px;
	color: #999;
}

.right_biaoqian {
	margin-top: 20px;
}

.biaoqian_head {
	color: #999;
}

.biaoqian_body {
	color: #ff8706;
}

.right_top {
	margin-top: 20px;
}

.text {
	color: #999;
}

.msg {
	color: #ff8706;
}

.rigth_chengnuo {
	font-size: 15px;
	margin-top: 20px;
	color: limegreen;
}

.rigth_chengnuo img {
	margin-top: -4px;
}

.service_neirong {
	margin-top: 30px;
}

.TabTitle {
	background: #fbfbfb;
}

.TabTitle .nav-tabs li {
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	width: 230px;
	float: left;
	margin-bottom: -1px;
}

.TabTitle .nav-tabs>li.active>a,
.TabTitle .nav-tabs>li.active>a:focus,
.TabTitle .nav-tabs>li.active>a:hover {
	border: none;
	border-bottom: 2px solid #2eb135;
	background: #fbfbfb;
}

.shuxing li {
	padding: 15px 0;
	overflow: hidden;
	border-bottom: 1px dashed #ebebeb;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.0;
	color: inherit;
}

.anli .cases {
	height: 220px;
}

.anli .cases .cases-img {
	height: 200px;
	overflow: hidden;
	border-radius: 8px;
	position: relative;
}

.anli .cases .cases-img .cases-title {
	position: absolute;
	bottom: 0px;
	height: 45px;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
	width: 100%;
	color: #ffffff;
	font-size: 14px;
	line-height: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-unstyled li a:hover{
	color:white;
	background: #1ab394;
}

.list-unstyled li .channel3,
.list-unstyled li .channel3:hover{
	color:white;
	background: #1ab394;
	cursor: default;
}

