.studioCard_wrapper {
        width: 90%;
        margin: 0 auto;
        /* max-width: 80rem; */
}

.studioCard_cols {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
}

.studioCard_col {
        width: 250px;
        height: 200px;
        margin: 3rem;
        cursor: pointer;
}

.studioCard_container {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        perspective: 1000px;
}

.studioCard_front,
.studioCard_back {
        background-size: cover;
        background-position: center;
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-align: center;
        min-height: 200px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
        /* 阴影 */
	-webkit-box-shadow:rgba(72,76,89,0.28) 0px 16px 32px 0px,rgba(0,0,0,0) 0px 0px 0px 0px;
	-moz-box-shadow:rgba(72,76,89,0.28) 0px 16px 32px 0px,rgba(0,0,0,0) 0px 0px 0px 0px;
	box-shadow:rgba(72,76,89,0.28) 0px 16px 32px 0px,rgba(0,0,0,0) 0px 0px 0px 0px;
}

.studioCard_back {
        background: #a3c7e2;
        /* background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
        background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%); */
        background: linear-gradient(45deg,  #a3c7e2 0%,#446372 100%);
}

.studioCard_front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .6;
        background-color: rgba(70, 70, 70, 0.5);
        /* background-color: rebeccapurple; */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
        
}

.studioCard_container:hover .front,
.studioCard_container:hover .back {
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);    
}

.studioCard_back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
}

.studioCard_inner {
        -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: 1px solid transparent;
        -webkit-perspective: inherit;
        perspective: inherit;
        z-index: 2;
}

.studioCard_container .studioCard_back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.studioCard_container .studioCard_front {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.studioCard_container:hover .studioCard_back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.studioCard_container:hover .studioCard_front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.studioCard_front .studioCard_inner p {
        font-size: 2rem;
        margin-bottom: 2rem;
        position: relative;
}

.studioCard_front .studioCard_inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
}

.studioCard_front .studioCard_inner span {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat';
        font-weight: 300;
}

.studioCard_back .studioCard_inner p {
        padding-top: 1rem;
        font-size: 2rem;
        margin-bottom: 2rem;
        position: relative;
}

.studioCard_back .studioCard_inner span {
        color: rgba(255, 255, 255, 0.7);
        /* font-family: 'Montserrat'; */
        font-weight: 300;
}